.well
  %h3 Overview:
  .row-fluid
    .span4{:style => "background-repeat: no-repeat; background-position: 110px 20px; background-image: url('#{X343ApiController.asset_url_generator_basic(@service_record['EmblemImageUrl']['BaseUrl'], @service_record['EmblemImageUrl']['AssetUrl'], '100')}')"}
      %img{:src => X343ApiController.GetPlayerModel(params[:gamertag], 'medium', 'fullbody')}/
    .span8
      .row-fluid
        .span6
          - overview_data = create_overview_from_service_record(@service_record)
          - type_index = 0
          - overview_data.each do |overview|
            - type_index = update_overview_type_index(type_index)
            %div{:class => "overview_style overview_colour_#{type_index}"}
              .title
                = overview[1][:title]
              .body
                = overview[1][:body]
              .cleaner
        .span6
          #game-stat-chart{:style => "margin: 0 auto; height: 275px; width: 275px;"}
      .row-fluid{:style => "display: none; margin-top: 10px;"}
        %span.span9{:style => "border: 1px solid #333; border-left: 3px solid #333;"}
          swag

:javascript
  $(document).ready(function() {
    var chart = new Morris.Donut({
      element: 'game-stat-chart',
      labelColor: '#ffffff',
      data: [
        #{draw_game_count_chart(@service_record)}
      ],
      colors: [ '#55712a', '#6f2a29', '#016076', '#382c55' ],
      formatter: function (y) { return y + " games" }
    });
  });