<% content_for :halo4, true %>
<% content_for :title, 'Halo 4 - ' + @service_record['Gamertag'] %>	
<% content_for :has_footer, true %>
<% content_for :halo4_active, 'overview' %>
<% content_for :scripts do %>
<script>
	var ctx = document.getElementById('game-history-split-chart').getContext('2d');
	var chart = new Chart(ctx).Doughnut([ 
			{
				value: 55,
				color: '#F7464A'
			},
			{
				value: 15,
				color: '#E2EAE9'
				color: '#5880A0'
			},
			{
				value: 23,
				color: '#3d3d7c'
			},
			{
				value: 7,
				color: '#949FB1'
			},
		], 
		{ 

		}
	);
</script>
<% end %>
<% content_for :template, 'halo4 halo4_service_record' %>

<%= render partial: 'halo4/partials/header' %>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<%= render partial: 'halo4/partials/sidebar' %>
		</div>

		<div class="col-md-9">
			<div class="bs-branch-section overview">
				<div class="page-header">
					<h1>Overview</h1>
				</div>

				<div class="row">
					<div class="col-md-6 game-history-split">
						<div class="wrapper">
							<div class="area">
								<canvas id="game-history-split-chart" width="300" height="300"></canvas>
							</div>
							<div class="area-legend">
								<ul>
									<li>
										<div class="identifier war-games"></div>
										War Games
									</li>
									<li>
										<div class="identifier campaign"></div>
										Campaign
									</li>
								</ul>
								<br />
								<ul>
									<li>
										<div class="identifier customs"></div>
										Custom Games
									</li>
									<li>
										<div class="identifier spartan-ops"></div>
										Spartan Ops
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-1"></div>
					<div class="col-md-5">
						<ul class="list-group">
							<li class="list-group-item">
								<span class="badge">25.08.2013</span>
								Last Played
							</li>
							<li class="list-group-item">
								<span class="badge">47%</span>
								Loadout Purchase Completion
							</li>
							<li class="list-group-item">
								<span class="badge">225</span>
								Challenges Completed
							</li>
							<li class="list-group-item">
								<span class="badge">52 ;)</span>
								Spartan Points
							</li>
							<li class="list-group-item">
								<span class="badge">32,470 (1.64 k/d)</span>
								War Games Kills
							</li>
							<li class="list-group-item">
								<span class="badge">75,043</span>
								War Games Medals
							</li>
							<li class="list-group-item">
								<span class="badge">3,604</span>
								Covenant/Promethean Kills
							</li>
							<li class="list-group-item">
								<span class="badge">2,094</span>
								Games Started
							</li>
							<li class="list-group-item">
								<span class="badge">08.11.2012</span>
								Player Since
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="bs-branch-section game-history">
				<div class="page-header">
					<h1>Game History</h1>
				</div>

				<div class="row">
					<% 12.times do |i| %>
						<% ran = rand(0..2) %>
						<%
							modifier = 'dnf' if ran == 0
							modifier = 'win' if ran == 1
							modifier = 'los' if ran == 2

							friendly = 'DNF' if ran == 0
							friendly = 'Win' if ran == 1
							friendly = 'Loss' if ran == 2
						%>

						<div id="history-entry-<%= i.to_s %>" class="col-lg-6 col-sm-12 game-history-entry">
							<a href="#">
								<div class="game-history-container" style="background-image: url(https://assets.halowaypoint.com/games/h4/maps/v1/large/ragnarok.png)">
									<div class="mask <%= modifier %>"></div>
									<div class="gametype-icon" style="background-image: url(http://localhost:9999/ctf.png)"></div>
									<div class="inner">
										<span class="gametype">Big Team Infinity Slayer</span>
										<br class="visible-lg visible-xs" />
										<span class="selector">on</span>
										<span class="map-name">Valhalla</span>

										<div class="stats">
											<span class="type">Survival Time:</span>
											<span class="stat"><%= rand(12..24) %></span>
										</div>

										<div class="windicator hidden-xs"><%= friendly %></div>
									</div>
								</div>
							</a>
						</div>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
</div>
