<article id="halo4-service-record" class="halo-4">
	<%= render 'halo4/partials/service_record_header' %>

	<div class="experience-bar" data-spy="affix" data-offset-top="540">
		<%= render 'partials/experience_bar' %>
	</div>

	<div class="page-content fluid-container">
		<div class="col-md-12">
			<%= render 'partials/flash_messages' %>
		</div>

		<div class="col-md-10">
			<section id="service-record-stats">
				<div class="section-header">
					<%= @identity['gamertag'] %>'s Service Record
				</div>
				<div class="row">
					<div class="col-md-3">
						
					</div>
				</div>
			</section>

			<section id="war-games-stats">
				<div class="section-header">
					War Games Stats
				</div>
			</section>
		</div>

		<div class="col-md-2">
			<nav class="experience-sidebar" <%#data-spy="affix" data-offset-top="100"%>>
				<%= render 'halo4/partials/experience_sidebar' %>
			</nav>
		</div>
	</div>

	<div class="placeholder">
	</div>
</div>

<% content_for :scripts do %>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.4/typed.min.js"></script>
	<script>
		const recentMatches = <%== generate_recent_match_json() %>;
		<% match_images = Array.new(@recent_matches.length) %>
		<% @recent_matches['games'].each_with_index do |match, index| %>
			<% match_images[index] = resolve_asset_url(match['mapImageUrl'], 'large') %>
		<% end %>
		const recentMatchImages = <%== match_images.to_json %>
	</script>
<% end %>
