:javascript
  $(document).ready(function() {
    $(".mapvariant_content_#{playlist_id}").hide();
    //toggle the componenet with class msg_body
    $(".mapvariant_heading_#{playlist_id}").click(function()
    {
      $(this).next(".mapvariant_content_#{playlist_id}").slideToggle(500);
    });
  });

.playlist-mapvarients
  %p{:class => "expander_heading mapvariant_heading_#{playlist_id}"} Map Variant Cycle:
  %div{:class => "expander_content mapvariant_content_#{playlist_id}"}
    %table.table.table-hover
      %thead
        %tr
          %td Icon
          %td Name
          %td Description
      %tbody
        - playlist['MapVariants'].each do |variant|
          - map_meta = X343ApiController.mapmeta_from_id(variant['MapId'], @map_meta)
          %tr
            %td
              %img{:src => X343ApiController.asset_url_generator_basic(map_meta['ImageUrl']['BaseUrl'], map_meta['ImageUrl']['AssetUrl'], 'small')}/
            %td= variant['MapVariantName']
            %td= map_meta['Description']