<% content_for :user, true %>
<% content_for :title, "Settings - Your Sessions" %>	
<% content_for :has_footer, true %>
<% content_for :setting_active, 'session' %>
<% content_for :scripts do %>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
<script>
$(document).ready(function() {
	google.maps.visualRefresh = true;

	<% @sessions.each do |session| %>
		<%
			lat = 0
			lng = 0

			if session.gps_loc != ','
				stuff = session.gps_loc.split(',')
				lat = stuff[0]
				lng = stuff[1]
			end
		%>
		var sessionPosition = new google.maps.LatLng(<%= lat %>, <%= lng %>);
		var mapOptions = {
			zoom: 12,
			center: sessionPosition,
    		disableDefaultUI: true,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		new google.maps.Marker({
			position: sessionPosition,
			map: new google.maps.Map(document.getElementById('map-<%= session.id %>'), mapOptions)
		});
	<% end %>
});
</script>
<% end %>
<% content_for :template, 'account settings settings_session' %>

<%= render partial: 'user/account/partials/header' %>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<%= render partial: 'user/settings/partials/sidebar' %>
		</div>

		<div class="col-md-9">
			<div class="bs-branch-section sessions">
				<div class="page-header">
					<h1>Sessions</h1>
				</div>

				<% @sessions.each do |user_session| %>
					<div class="row entry">
						<div class="col-md-12 session">
							<div class="map" id="map-<%= user_session.id %>"></div>
							<div class="mask">
								<div class="inner-content">
									<% if user_session.location == '' %>
										<h2>Unknown Location</h2>
									<% else %>
										<h2><%= user_session.location %></h2>
									<% end %>
									<span class="ip"><%= user_session.owner_ip %></span>
									<hr />
									<span class="browser">Browser: <strong><%= user_session.browser %></strong></span> <br />
									<span class="os">Operating System: <strong><%= user_session.platform %></strong></span> <br />
									<%= form_for :session, url: :settings_session_destroy, method: :delete do |f| %>
										<%= hidden_field(:session, :sid, value: user_session.id) %>
										<% if request.session[:session_id] == user_session.identifier %>
											<%= f.submit('Murder Primary Session', class: 'btn btn-danger btn-large', confirm: 'This is your current session, killing this will sign you out.') %>
										<% else %>
											<%= f.submit('Murder Session', class: 'btn btn-danger btn-large') %>
										<% end %>
									<% end %>
								</div>
							</div>
						</div>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
