.recent-match-popbox{:id => "pop-#{match['Id']}"}
  .header
    - unless match['Completed']
      DNF :(
    - else
      Victory!
  .map-preview{:style => "background-image: url('#{X343ApiController.asset_url_generator_basic(match['MapImageUrl']['BaseUrl'], match['MapImageUrl']['AssetUrl'], 'medium')}')"}
    .cover
      - if match['DifficultyImageUrl'] != nil
        %img{:src => X343ApiController.asset_url_generator_basic(match['DifficultyImageUrl']['BaseUrl'], match['DifficultyImageUrl']['AssetUrl'], 'medium'), :style => "margin: 20px 0 0 10px"}/
  .quick-stats{:style => "height: 80px;"}
    %h2 Campaign
    %span.basic
      = match['MapName']
      on #{@metadata['DifficultiesMetadata']['Difficulties'][match['Difficulty'].to_i]['Name']}
      %br/
      at #{DateTime.strptime(match['EndDateUtc'], '%Y-%m-%dT%H:%M:%SZ').strftime('%d.%m.%Y')}
  .seperate
  .matchmaking-info
    .entry
      .title Single Player:
      .body= match['SinglePlayer'].to_s.titleize
      .cleaner
    .entry
      .title Skulls:
      .body No idea, do l8r
      .cleaner
    %br/