- chapter_info = get_spartan_ops_chapter(match['SeasonId'], match['EpisodeId'], match['ChapterId'], @metadata)
.recent-match-popbox{:id => "pop-#{match['Id']}"}
  .header
    - unless match['Completed']
      DNF :(
    - else
      Victory!
  .map-preview{:style => "background-image: url('#{X343ApiController.asset_url_generator_basic(chapter_info['ImageUrl']['BaseUrl'], chapter_info['ImageUrl']['AssetUrl'], 'medium')}')"}
    .cover
      - if match['DifficultyImageUrl'] != nil
        %img{:src => X343ApiController.asset_url_generator_basic(match['DifficultyImageUrl']['BaseUrl'], match['DifficultyImageUrl']['AssetUrl'], 'medium'), :style => "margin: 20px 0 0 10px"}/
  .quick-stats{:style => "height: 80px;"}
    %h2 Spartan Ops
    %span.basic
      = match['ChapterName']
      on #{match['EpisodeName']}
      %br/
      at #{DateTime.strptime(match['EndDateUtc'], '%Y-%m-%dT%H:%M:%SZ').strftime('%d.%m.%Y')}
  .seperate
  .matchmaking-info
    .entry
      .title Single Player:
      .body= match['SinglePlayer'].to_s.titleize
      .cleaner
    .entry
      .title Season:
      .body Put shit here nigga
      .cleaner
  .seperate
  .personal-info
    .entry
      .title Personal Score:
      .body= match['PersonalScore']
      .cleaner
    .entry
      .title Medals:
      .body= match['TotalMedals']
      .cleaner