.recent-match-popbox{:id => "pop-#{match['Id']}"}
  .header
    - if !match['Completed']
      DNF :(
    - elsif match['Result'] != 0
      Victory!
    - else
      Defeat
  .map-preview{:style => "background-image: url('#{X343ApiController.asset_url_generator_basic(match['MapImageUrl']['BaseUrl'], match['MapImageUrl']['AssetUrl'], 'medium')}')"}
    .cover
      - if match['DifficultyImageUrl'] != nil
        %img{:src => X343ApiController.asset_url_generator_basic(match['BaseVariantImageUrl']['BaseUrl'], match['BaseVariantImageUrl']['AssetUrl'], 'medium'), :style => "margin: 20px 0 0 10px"}/
  .quick-stats
    %h2
      = match['FeaturedStatName']
      \: #{number_with_delimiter(match['FeaturedStatValue'], :delimiter => ',')}
    %span.basic
      on #{match['MapVariantName']} at #{DateTime.strptime(match['EndDateUtc'], '%Y-%m-%dT%H:%M:%SZ').strftime('%d.%m.%Y')}
  .seperate
  .matchmaking-info
    .entry
      .title Playlist:
      .body= match['PlayListName']
      .cleaner
    .entry
      .title Gametype:
      .body= match['VariantName']
      .cleaner
  .seperate
  .personal-info
    .entry
      .title Personal Score:
      .body= match['PersonalScore']
      .cleaner
    .entry
      .title Medals:
      .body= match['TotalMedals']
      .cleaner
    .entry
      .title Standing:
      .body= match['Standing']
      .cleaner