<% content_for :blog, true %>
<% content_for :title, 'Blog' %>	
<% content_for :has_footer, true %>
<% content_for :template, 'blog blog_view' %>
<% content_for :data_affix_height, '211' %>
<% content_for :scripts do %>
<script>
</script>
<% end %>

<div class="bs-header blog-header" id="content">
	<div class="container">
		<h1><%= @blog_post.name %></h1>
		<p><%= @blog_post.short_body %></p>

		<div class="details">
			Posted By <strong><%= link_to(@blog_post.user.username, user_view_path(@blog_post.user.username)) %></strong>, 
			at <strong><%= @blog_post.created_at.strftime('%B %-d, %Y') %></strong>, 
			in <strong><%= link_to(@blog_post.blog_category.name, blog_home_path(page: 1, focus: @blog_post.blog_category.slug)) %></strong>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-9">
			<div class="bs-branch-section blog-post">
				<div class="row">
					<div class="col-md-12 panel">
						<%= @markdown.render(@blog_post.full_body).html_safe() %>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<%= render partial: 'blog/partials/category_sidebar' %>
		</div>
	</div>
</div>