<div class="container" style="margin-top: 80px;">
  <% if flash[:notice] && (flash[:type] == 'success' || flash[:type] == 'error' || flash[:type] == 'warning') %>
    <div class="alert alert-<%= flash[:type] %>">
      <strong>
        <% if flash[:type] == 'success' %>
          Success!
        <% else if flash[:type] == 'success' %>
            Warning? :(
          <% end %>
          Error :/
        <% end %>
      </strong><br>
      <% flash[:notice].split('-').each do |message| %>
        <%= message %><br>
      <% end %>
    </div>
  <% end %>

    <span style="font-size: 45px;">Halo 4</span>
    <div class="hero-unit" style="margin-top: -15px;">
      <div class="search-player-card row">
	      <div class="armour-preview span4" style="background-image: url('<%= @halo4PlayerModel %>');"></div>

        <div class="player-summary-preview span4">
	        <a href="/halo4/servicerecord/<%= @halo4Gamertag['Gamertag'] %>/">
	          <h1><%= @halo4Gamertag['Gamertag'] %></h1>
	        </a>
	        <h3 style="margin-top: -10px;"><%= @halo4Gamertag['ServiceTag'] %></h3>
        </div>


        <div class="cleaner"></div>
      </div>
    </div>

</div>