- title " - #{params[:gamertag]}'s Search Results"
- active_home 'active'

%span{:style => 'font-size: 45px;'} Halo 4
.hero-unit{:style => 'margin-top: -15px;'}
  .search-player-card.row
    .armour-preview.span4{:style => "background-image: url('#{@halo4PlayerModel}');"}
    .player-summary-preview.span4
      %a{:href => "/halo4/servicerecord/#{@halo4Gamertag['Gamertag']}/"}
        %h1= @halo4Gamertag['Gamertag']
      %h3{:style => 'margin-top: -10px;'}= @halo4Gamertag['ServiceTag']
    .cleaner