:javascript
  $(document).ready(function(){
    JBCountDown({
      secondsColor : "#ffdc50",
      minutesColor : "#9cdb7d",
      hoursColor   : "#378cff",
      daysColor    : "#ff6565",

      startDate   : " #{challenge['BeginDate'].to_time.to_i} ",
      endDate     : " #{challenge['EndDate'].to_time.to_i} ",
      now         : " #{Time.now.to_time.to_i} ",
      seconds     : " #{Time.now.sec} "
    }, #{challenge_id});
  });

.clock
  / Days
  .clock_days{:id => "clock_days_#{challenge_id}"}
    .bgLayer
      .topLayer
      %canvas{:height => "120", :id => "canvas_days_#{challenge_id}", :width => "120"}
      .text
        %p.val 0
        %p.type_days Days
  / Days
  / Hours
  .clock_hours{:id => "clock_hours_#{challenge_id}"}
    .bgLayer
      .topLayer
      %canvas{:height => "120", :id => "canvas_hours_#{challenge_id}", :width => "120"}
      .text
        %p.val 0
        %p.type_hours Hours
  / Hours
  / Minutes
  .clock_minutes{:id => "clock_minutes_#{challenge_id}"}
    .bgLayer
      .topLayer
      %canvas{:height => "120", :id => "canvas_minutes_#{challenge_id}", :width => "120"}
      .text
        %p.val 0
        %p.type_minutes Minutes
  / Minutes
  / Seconds
  .clock_seconds{:id => "clock_seconds_#{challenge_id}"}
    .bgLayer
      .topLayer
      %canvas{:height => "120", :id => "canvas_seconds_#{challenge_id}", :width => "120"}
      .text
        %p.val 0
        %p.type_seconds Seconds
  / Seconds