@{
	ViewBag.Title = "About";
	ViewBag.Template = "about about_home";
	Layout = "~/Views/Shared/_Layout.cshtml";

	var graphicalAssets = new Dictionary<string, string>
	{
		{ "The Tree (logo) was designed by David Chapman", "http://www.thenounproject.com/david.chapman" },
		{ "All Game Assets are owned by Microsoft", "" }
	};
	
	var jsFrameworks = new Dictionary<string, string>
	{
		{ "Bootstrap", "http://twitter.github.com/bootstrap/" },
		{ "jQuery", "http://jquery.com/" },
		{ "jQuery-Cookie", "https://github.com/carhartl/jquery-cookie" },
		{ "Chart.js", "http://www.chartjs.org/" },
		{ "morris.js", "http://www.oesmith.co.uk/morris.js/" },
	};
	
	var cSharpLibraries = new Dictionary<string, string>
	{
		{ "SendGrid", "http://www.nuget.org/packages/Sendgrid/" },
		{ "JSON.net", "http://www.nuget.org/packages/Newtonsoft.Json/" },
		{ "EasyHttp", "http://www.nuget.org/packages/EasyHttp/" },
		{ "RestSharp", "http://www.nuget.org/packages/RestSharp/" },
		{ "Windows Azure Config", "http://www.nuget.org/packages/Microsoft.WindowsAzure.ConfigurationManager/" },
		{ "Windows Azure Storage", "http://www.nuget.org/packages/WindowsAzure.Storage/" }
	};
}

<div class="container">
	<div class="row">
		<div class="col-md-7">
			
			@Html.Partial("FlashMessage", false)
			
			<h2>history</h2>
			<div class="well well-large faq">
				<h3>FAQ:</h3>
				
				<div class="faq-entry">
					<strong>Why should I come here?</strong><br />
					While Halo Waypoint is an incridebly well built website, it's a bit overkill for just looking at stats. Branch offers a much simplier approach that takes away all the clutter and tries to just show you exactly what you want to know about that 1v1 against that kid in matchmaking.
				</div>
				
				<div class="faq-entry">
					<strong>How often can I update my stats?</strong><br />
					It depends on the stats. Service Records, Commendations, Game Histories, and Specilizations update every 8 minutes. Games never update, as they <strong><sup>should</sup></strong> never change.
				</div>
				
				<div class="faq-entry">
					<strong>Dude, I have like a really cool idea.  </strong><br />
					Post a Bug Report
					<a href="https://github.com/TheTree/Branch/issues/new?labels=feature%20addition" target=_blank>
						here
					</a>,
					and i'll see what can be done.
				</div>
				
				<div class="faq-entry">
					<strong>Can I have Sauce?</strong><br />
					<a href="https://github.com/TheTree/Branch/" target="_blank">
						Sure, check this github
					</a>
				</div>
			</div>
			<br />
		</div>
		<div class="col-md-5">
			<h2>me</h2>
			<div class="well well-large">
				<div class="" style="margin: 10px auto; width: 200px;">
					<img class="img-polaroid" 
						 src="https://0.gravatar.com/avatar/400f92af64c19671fd2f19cfc0e048a5?d=https%3A%2F%2Fidenticons.github.com%2F207b857e5b229287a477f210de4947c5.png&amp;s=200">
					<div class="twitter" style="width: 110px; margin: 0 auto; margin-top: 20px;">
						<iframe title="Twitter Follow Button" class="twitter-follow-button twitter-follow-button" id="twitter-widget-0" 
								src="http://platform.twitter.com/widgets/follow_button.1380844203.html#_=1381083245151&amp;id=twitter-widget-0&amp;lang=en&amp;screen_name=0xdeafcafe&amp;show_count=false&amp;show_screen_name=true&amp;size=m" frameborder="0" scrolling="no" style="width: 139px; height: 20px;" allowtransparency="true" data-twttr-rendered="true"></iframe>
					</div>
				</div>
			</div>
			<h4>What made Branch?</h4>
			<div class="well well-large">
				<p>
					<strong>
						Graphical Assets
					</strong>
				</p>
				
				<ul class="unstyled">
					@foreach (var graphicalAsset in graphicalAssets)
					{
						<li>
							<a href="@graphicalAsset.Value" target="_blank">
								@graphicalAsset.Key
							</a>
						</li>
					}
				</ul>

				<p>
					<strong>
						Javascript Frameworks
					</strong>
				</p>
				
				<ul class="unstyled">
					@foreach (var jsFramework in jsFrameworks)
					{
						<li>
							<a href="@jsFramework.Value" target="_blank">
								@jsFramework.Key
							</a>
						</li>
					}
				</ul>
				
				<p>
					<strong>
						NuGet Libaries (C#)
					</strong>
				</p>

				<ul class="unstyled">
					@foreach (var csLibrary in cSharpLibraries)
					{
						<li>
							<a href="@csLibrary.Value" target="_blank">
								@csLibrary.Key
							</a>
						</li>
					}
				</ul>
			</div>
			<h4>The Tree</h4>
			<div class="well well-large">
				<ul class="unstyled">
					<li><a href="http://branchapp.co">Branch</a></li>
					<li><a href="http://leafapp.co">Leaf</a></li>
					<li><a href="http://rootapp.co">Root</a> <small>(tba)</small></li>
					<li><a href="http://stumpapp.co">Stump</a> <small>(tba)</small></li>
					<li><a href="http://treeapp.co">Tree</a> <small>(tba)</small></li>
					<li><a href="http://trunkapp.co">Trunk</a> <small>(tba)</small></li>
					<li><a href="http://twigapp.co">Twig</a> <small>(Under Construction)</small></li>
				</ul>
			</div>
		</div>
	</div>
</div>
