- challenges = @friendly_challenge_data[category['Id']]
%h1
  #{category['Name']}

.challenge-category-container
  - index = 0
  - challenges.each do |challenge|
    - index += 1
    - challenge_id = rand(10000)
    .row.challenge-container
      .span3.preview-icon{:style => "background-image: url('#{I343ApiH4.asset_url_generator_basic(category['ImageUrl']['BaseUrl'], category['ImageUrl']['AssetUrl'], 'large')}')"}

      .span7.challenge-meta
        %h3
          #{challenge['Name']}
        %h5
          #{challenge['Description']}

        = render :partial => 'halo4/challenges/clock/clock_countdown', :locals => { :challenge => challenge, :challenge_id => challenge_id }

        .challenge-xp
          #{challenge['XpReward']} xp

        .cleaner


- if index == 0
  .challenge-category-container
    .row.challenge-container
      .span3.preview-icon{ :style => "background-image: url('#{I343ApiH4.asset_url_generator_basic(category['ImageUrl']['BaseUrl'], category['ImageUrl']['AssetUrl'], 'large')}')" }

      .span7.challenge-meta
        %h3
          None
        %h5
          The category has no challenges :(

        = render :partial => 'halo4/challenges/clock/clock_none'

      .cleaner
