<% content_for :user, true %>
<% content_for :title, 'Sign In' %>	
<% content_for :has_footer, true %>
<% content_for :scripts do %>
<script>

</script>
<% end %>
<% content_for :template, 'user session_signin' %>

<%= render partial: 'user/partials/header', locals: { title: 'Sign into Branch', description: 'Signing into Branch gives you customized experience, with just what you want to see.' } %>

<%= form_for :login, url: :session_create, method: :post do |f| %>
	<div class="container bitch-needs-a-break">
		<div class="row">
			<div class="col-md-12 panel panel-default">
				<div class="panel-body details">
					<% if @error %>
						<section class="bs-callout bs-callout-danger validation-errors">
							<h4>Sign In Error</h4>
							<p>
								<%= @error %>
							</p>
						</section>
					<% end %>

					<section class="input-section identifier-section row">
						<div class="col-md-6">
							<span class="title">Username or Email Address</span>
							<div class="input-group">
								<span class="input-group-addon">@</span>
								<%= f.text_field :identifier, value: @identifier, placeholder: 'Username or Email Address', class: 'form-control' %>
							</div>
						</div>
					</section>

					<section class="input-section password-section row">
						<div class="col-md-6">
							<span class="title">Password</span>
							<div class="input-group">
								<span class="input-group-addon">*</span>
								<%= f.password_field :password, placeholder: 'Password', class: 'form-control' %>
							</div>
						</div>
					</section>

					<hr />

					<section class="input-section submit row">
						<ul>
							<li>
								<%= f.submit 'Sign In', class: 'btn btn-primary btn-large' %>
							</li>
							<li>or</li>
							<li>
								<%= link_to 'Register', user_register_path, class: 'btn btn-info btn-large' %>
							</li>
						</ul>
					</section>
				</div>
			</div>
		</div>
	</div>
<% end %>
