<% content_for :title, "Searching Branch - Branch Accounts - '#{@query}'" %>	
<% content_for :has_footer, true %>
<% content_for :search_overide, search_branch_query_path(page: @previous_page) %>
<% content_for :template, 'search' %>

<div class="container">
	<div class="search-result-block">

		<%= render partial: 'partials/flash', locals: { flash: flash } %>

		<div class="page-header row">
			<div class="col-md-11">
				<h1 id="less">Branch Accounts</h1>
			</div>
			<div class="col-md-1 focus-col">
				<%= link_to(raw('&laquo; Focus Off'), search_query_path(q: @query), class: 'btn btn-default toggle', type: 'button') %>
			</div>
		</div>
		<div>
			<div class="row">
				<% if (@branch_accounts.length > 0) %>
					<% @branch_accounts.each do |branch_account| %>
						<%= render partial: 'search/partials/branch_account', locals: { branch_account: branch_account } %>
					<% end %>
				<% elsif (@branch_accounts.length > 0 && @page <= 1) %>
					<p>There are no Branch Accounts that match the search query '<%= @query %>'...</p>
				<% else %>
					<p>There are no more Branch Accounts that match the search query '<%= @query %>'...</p>
				<% end %>
			</div>
			<ul class="pager">
				<li class="previous <%= 'disabled' if !@has_less %>">
					<%= link_to(raw('&larr; Previous'), search_branch_query_path(q: @query, page: @previous_page)) %>
				</li>
				<li class="next <%= 'disabled' if !@has_more %>">
					<%= link_to(raw('Next &rarr;'), search_branch_query_path(q: @query, page: @next_page)) %>
				</li>
			</ul>
		</div>
	</div>
</div>
