@using Branch.App.Helpers.Razor
@using Branch.App.Helpers.Razor.Halo4
@model Branch.App.Areas.Halo4.Models.Base
@{
	var serviceRecord = Model.ServiceRecord;
}

<div class="bs-header halo4-header" id="content">
	<div class="container">

		<div class="row name-flairs">
			<div class="col-md-12">
				<h1>
					@BranchHelpers.CheckGamertagPrivacy(serviceRecord.Gamertag)
					<img class="" alt="" src="@GeneralHelpers.GetCsrLevelUrl(GeneralHelpers.GetHighestCsr(serviceRecord.TopSkillRank))" />
				</h1>
				<h2>@serviceRecord.ServiceTag</h2>
				<img class="visible-xs" alt="" src="@GeneralHelpers.GetCsrLevelUrl(GeneralHelpers.GetHighestCsr(serviceRecord.TopSkillRank))" />
			</div>
		</div>

		<div class="row rank-flairs">
			<div class="col-md-8">
				<img class="hidden-xs" alt="" src="@GeneralHelpers.GetRawAssetUrl(@serviceRecord.RankImageUrl, "medium")" />

				@{
					Branch.Models.Services.Halo4._343.DataModels.CommonModels.Specialization activeSpecialization = null;
					foreach (var specialization in serviceRecord.Specializations.Where(specialization => specialization.IsCurrent))
					{
						activeSpecialization = specialization;
					}
					if (activeSpecialization == null)
					{
						activeSpecialization = serviceRecord.Specializations[0];
					}

					if (serviceRecord.NextRankId == 0 || Math.Abs(activeSpecialization.PercentComplete - 1.0) < 0.09)
					{
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
								<span class="progress-bar-indicator">100% Complete</span>
								<span class="sr-only">100% Complete</span>
							</div>
						</div>
						<div class="XP">
							<div class="left lower-bound">@BranchHelpers.NumberWithDelimiter(@serviceRecord.RankStartXp, ",") Xp</div>
							<div class="right upper-bound"></div>
							<div class="clearfix"></div>
						</div>
					}
					else
					{
						float a = (serviceRecord.Xp - serviceRecord.RankStartXp);
						float b = (serviceRecord.NextRankStartXp - serviceRecord.RankStartXp);
						var perc = ((a/b)*100);
						
						<div class="progress">
							<div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: @perc%">
								<span class="progress-bar-indicator">@perc % (@BranchHelpers.NumberWithDelimiter(@serviceRecord.Xp, ",") Xp)</span>
								<span class="sr-only">@perc % (@BranchHelpers.NumberWithDelimiter(@serviceRecord.Xp, ",") Xp)</span>
							</div>
						</div>
						<div class="XP">
							<div class="left lower-bound">@BranchHelpers.NumberWithDelimiter(@serviceRecord.RankStartXp, ",") Xp</div>
							<div class="right upper-bound">@BranchHelpers.NumberWithDelimiter((int)@serviceRecord.NextRankStartXp, ",") Xp</div>
							<div class="clearfix"></div>
						</div>
					}
				}
				<img class="visible-xs" alt="" src="@GeneralHelpers.GetRawAssetUrl(@serviceRecord.RankImageUrl, "medium")" />
			</div>
		</div>

		<div class="spartan-insignia hidden-sm hidden-xs" style="background-image: url(@GeneralHelpers.GetRawAssetUrl(@serviceRecord.EmblemImageUrl, 100));"></div>
		<div class="spartan-image hidden-sm hidden-xs" style="background-image: url(@GeneralHelpers.GetPlayerModelUrl(@serviceRecord.Gamertag));"></div>
	</div>
</div>
