@using Branch.App.Helpers.Razor
@using Branch.App.Helpers.Razor.Halo4
@using Branch.Core.Game.Halo4.Models._343.DataModels
@using Branch.Extenders
@model Branch.App.Areas.Halo4.Models.Base
@{
	var serviceRecord = Model.ServiceRecord;
	string mapBackDrop = null;
	if (Model.RecentWarGamesHistory != null && Model.RecentWarGamesHistory.Games.Any())
	{
		var selectedWarGame = Model.RecentWarGamesHistory.Games.RandomEntity();
		mapBackDrop = GeneralHelpers.GetRawAssetUrl(selectedWarGame.MapImageUrl, "large");
	}
}

<div class="bs-header halo4-header" id="content" 
	 style="background-image: url('@(mapBackDrop ?? "")');">
	<div class="mask">
		<div class="container">
			<div class="row">
				<div class="col-md-9">
					<div class="row name-flairs">
						<div class="col-md-10">
							<h1>
								@Model.PublicGamertag
								@if (serviceRecord.TopSkillRank == null)
								{
									<img class="hidden-xs" alt="" src="@GeneralHelpers.GetCsrLevelUrl(GeneralHelpers.GetHighestCsr(serviceRecord.TopSkillRank))" />
								}
								else
								{
									<a href="@Url.RouteUrl("Halo4_CsrDetails", new { id = serviceRecord.TopSkillRank.PlaylistId, slug = serviceRecord.TopSkillRank.PlaylistName.ToSlug(), gamertag = Model.PublicGamertag })">
										<img class="hidden-xs" alt="" src="@GeneralHelpers.GetCsrLevelUrl(GeneralHelpers.GetHighestCsr(serviceRecord.TopSkillRank))" />
									</a>
								}
							</h1>
							<h2>@serviceRecord.ServiceTag</h2>
							@if (serviceRecord.TopSkillRank == null)
							{
								<img class="visible-xs" alt="" src="@GeneralHelpers.GetCsrLevelUrl(GeneralHelpers.GetHighestCsr(serviceRecord.TopSkillRank))" />
							}
							else
							{
								<a href="@Url.RouteUrl("Halo4_CsrDetails", new { id = serviceRecord.TopSkillRank.PlaylistId, slug = serviceRecord.TopSkillRank.PlaylistName.ToSlug(), gamertag = Model.PublicGamertag })">
									<img class="visible-xs" alt="" src="@GeneralHelpers.GetCsrLevelUrl(GeneralHelpers.GetHighestCsr(serviceRecord.TopSkillRank))" />
								</a>
							}
						</div>
					</div>

					<div class="row rank-flairs">
						<div class="col-md-10">
							<img class="hidden-xs" alt="" src="@GeneralHelpers.GetRawAssetUrl(@serviceRecord.RankImageUrl)" />

							@{
							CommonModels.Specialization activeSpecialization = null;
							foreach (var specialization in serviceRecord.Specializations.Where(specialization => specialization.IsCurrent))
							{
								activeSpecialization = specialization;
							}
							if (activeSpecialization == null)
							{
								activeSpecialization = serviceRecord.Specializations[0];
							}

							if (serviceRecord.NextRankId == 0 || Math.Abs(activeSpecialization.PercentComplete - 1.0) < 0.09)
							{
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
										<span class="progress-bar-indicator">100% Complete</span>
										<span class="sr-only">100% Complete</span>
									</div>
								</div>
								<div class="XP">
									<div class="left lower-bound">@BranchHelpers.NumberWithDelimiter(@serviceRecord.RankStartXp) Xp</div>
									<div class="right upper-bound"></div>
									<div class="clearfix"></div>
								</div>
							}
							else
							{
								float a = (serviceRecord.Xp - serviceRecord.RankStartXp);
								float b = (serviceRecord.NextRankStartXp - serviceRecord.RankStartXp);
								var percentage = ((a / b) * 100);

								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: @percentage%">
										<span class="progress-bar-indicator">@percentage % (@BranchHelpers.NumberWithDelimiter(@serviceRecord.Xp) Xp)</span>
										<span class="sr-only">@percentage % (@BranchHelpers.NumberWithDelimiter(@serviceRecord.Xp) Xp)</span>
									</div>
								</div>
								<div class="XP">
									<div class="left lower-bound">@BranchHelpers.NumberWithDelimiter(@serviceRecord.RankStartXp) Xp</div>
									<div class="right upper-bound">@BranchHelpers.NumberWithDelimiter((int)@serviceRecord.NextRankStartXp) Xp</div>
									<div class="clearfix"></div>
								</div>
							}
							}
							<img class="visible-xs" alt="" src="@GeneralHelpers.GetRawAssetUrl(@serviceRecord.RankImageUrl)" />
						</div>
					</div>
				</div>

				<div class="col-md-3">
					<div class="spartan-insignia hidden-sm hidden-xs" style="background-image: url(@GeneralHelpers.GetRawAssetUrl(@serviceRecord.EmblemImageUrl, 100));"></div>
					<div class="spartan-image hidden-sm hidden-xs" style="background-image: url('@GeneralHelpers.GetPlayerModelUrl(@serviceRecord.Gamertag)');"></div>
				</div>
			</div>
		</div>
	</div>
</div>
