@using Branch.App.Areas.Halo4.Models
@using Branch.App.Helpers.Razor
@using Branch.Core.Game.Halo4.Enums
@using Branch.Extenders
@using Branch.Models.Services.Branch
@model Base
@{
	var serviceRecord = @Model.ServiceRecord;
	Enums.Pages currentPage = ViewBag.CurrentH4Page;
	CommendationCategory? currentCommendationCategory = ViewBag.CurrentCommendationCategory;
	GameMode? currentHistoryMode = ViewBag.CurrentHistoryMode;
}
<div class="bs-sidebar" data-spy="affix" data-offset-top="308">
	<ul class="nav bs-sidenav">
		<li class="active">
			<a href="@Url.Action("Index", "ServiceRecord", new RouteValueDictionary { { "gamertag", Model.PublicGamertag } })">
				<span class="glyphicon glyphicon-tree-deciduous"></span> Branch
			</a>

			<ul class="nav">
				<li class="@BranchHelpers.CompareEnum(currentPage, Enums.Pages.ServiceRecord, "active")">
					@Html.ActionLink("Service Record", "Index", "ServiceRecord", new RouteValueDictionary { { "gamertag", Model.PublicGamertag } }, new Dictionary<string, object>())
				</li>

				<li class="@BranchHelpers.CompareEnum(currentPage, Enums.Pages.GameHistory, "active")">
					@Html.RouteLink("Game History", "Halo4_History", new { slug = "WarGames", gamertag = Model.PublicGamertag })

					@if (currentPage == Enums.Pages.GameHistory)
					{
						<ul class="nav">
							@foreach (var gameMode in (GameMode[])Enum.GetValues(typeof(GameMode)))
							{
								<li class="@BranchHelpers.CompareEnum(currentHistoryMode, gameMode, "active")">
									@Html.RouteLink(gameMode.ToString().MakeCamelCaseFriendly(), "Halo4_History", new { slug = gameMode.ToString(), gamertag = Model.PublicGamertag })
								</li>
							}
						</ul>
					}
				</li>

				<li class="@BranchHelpers.CompareEnum(currentPage, Enums.Pages.CompetitiveSkillRank, "active")">
					@Html.RouteLink("Competitive Skill Rank", "Halo4_Csr", new { gamertag = Model.PublicGamertag })
				</li>

				<li class="@BranchHelpers.CompareEnum(currentPage, Enums.Pages.Commendations, "active")">
					@Html.RouteLink("Commendations", "Halo4_Commendations", new { slug = "Weapons", gamertag = Model.PublicGamertag })

					@if (currentPage == Enums.Pages.Commendations)
					{
						<ul class="nav">
							@foreach (var commendationCategory in (CommendationCategory[])Enum.GetValues(typeof(CommendationCategory)))
							{
								<li class="@BranchHelpers.CompareEnum(currentCommendationCategory, commendationCategory, "active")">
									@Html.RouteLink(commendationCategory.ToString().MakeCamelCaseFriendly(), "Halo4_Commendations", new { slug = commendationCategory.ToString(), gamertag = Model.PublicGamertag })
								</li>
							}
						</ul>
					}
				</li>

				<li class="@BranchHelpers.CompareEnum(currentPage, Enums.Pages.Specializations, "active")">
					@Html.RouteLink("Specializations", "Halo4_Specializations", new { gamertag = Model.PublicGamertag })
				</li>
			</ul>
		</li>
		<li class="active">
			<a href="#">
				<span class="glyphicon glyphicon-leaf"></span> Leaf
			</a>
			<ul class="nav">
				<li>
					<a href="http://leafapp.co/h4/record/@BranchHelpers.GamertagToLeaf(BranchHelpers.CheckGamerIdPrivacy(serviceRecord.Gamertag, GamerId.X360XblGamertag))">
						Overview
					</a>
				</li>
				<li>
					<a href="http://leafapp.co/h4/compare/@BranchHelpers.GamertagToLeaf(BranchHelpers.CheckGamerIdPrivacy(serviceRecord.Gamertag, GamerId.X360XblGamertag))">
						Compare
					</a>
				</li>
				<li>
					<a href="http://leafapp.co/h4/star/@BranchHelpers.GamertagToLeaf(BranchHelpers.CheckGamerIdPrivacy(serviceRecord.Gamertag, GamerId.X360XblGamertag))">
						Star
					</a>
				</li>
				<li>
					<a href="http://leafapp.co/h4/flag/@BranchHelpers.GamertagToLeaf(BranchHelpers.CheckGamerIdPrivacy(serviceRecord.Gamertag, GamerId.X360XblGamertag))">
						Flag as Cheater/Booster
					</a>
				</li>
			</ul>
		</li>
	</ul>
</div>

