@using Branch.App.Areas.Halo4.Models
@using Branch.App.Helpers.Razor
@using Branch.App.Helpers.Razor.Halo4
@model Base
@{
	var serviceRecord = @Model.ServiceRecord;
	Enums.Pages currentPage = ViewBag.CurrentH4Page;
}
<div class="bs-sidebar" data-spy="affix" data-offset-top="302">
	<ul class="nav bs-sidenav">
		<li class="active">
			<a href="@Url.Action("Index", "ServiceRecord", new RouteValueDictionary { {"gamertag", BranchHelpers.CheckGamertagPrivacy(serviceRecord.Gamertag)} })">
				<span class="glyphicon glyphicon-tree-deciduous"></span> Branch
			</a>
			
			<ul class="nav">
				<li class="@GeneralHelpers.CheckCurrentPage(currentPage, Enums.Pages.ServiceRecord, "active")">
					@Html.ActionLink("Service Record", "Index", "ServiceRecord", new RouteValueDictionary { { "gamertag", BranchHelpers.CheckGamertagPrivacy(serviceRecord.Gamertag) } }, new Dictionary<string, object>())
				</li>

				<li class="@GeneralHelpers.CheckCurrentPage(currentPage, Enums.Pages.GameHistory, "active")">
					<a href="#">Game History</a>
				</li>

				<li class="@GeneralHelpers.CheckCurrentPage(currentPage, Enums.Pages.CompetitiveSkillRank, "active")">
					<a href="#">Competitive Skill Rank</a>
				</li>

				<li class="@GeneralHelpers.CheckCurrentPage(currentPage, Enums.Pages.Commendations, "active")">
					<a href="#">Commendations</a>
				</li>

				<li class="@GeneralHelpers.CheckCurrentPage(currentPage, Enums.Pages.Specializations, "active")">
					<a href="#">Specializations</a>
				</li>

				@*<li class="<%= 'active' if content_for(:halo4_active) == 'game_history' %>">
					<%= link_to('Game History', halo4_gamehistory_path(gamertag_validation(@serviceRecord.Gamertag))) %>


					<% if content_for(:halo4_active) == 'game_history' %>
					<ul class="nav">
						<li class="<%= 'active' if content_for(:halo4_game_history_active) == 'matchmaking' %>">
							<%= link_to('Matchmaking', halo4_gamehistory_path( gamertag: gamertag_validation(@serviceRecord.Gamertag), sub_view: 'matchmaking', page: 0 )) %>
						</li>
						<li class="<%= 'active' if content_for(:halo4_game_history_active) == 'custom_games' %>">
							<%= link_to('Custom Games', halo4_gamehistory_path( gamertag: gamertag_validation(@serviceRecord.Gamertag), sub_view: 'custom-games', page: 0 )) %>
						</li>
						<li class="<%= 'active' if content_for(:halo4_game_history_active) == 'spartan_ops' %>">
							<%= link_to('Spartan Ops', halo4_gamehistory_path( gamertag: gamertag_validation(@serviceRecord.Gamertag), sub_view: 'spartan-ops', page: 0 )) %>
						</li>
						<li class="<%= 'active' if content_for(:halo4_game_history_active) == 'campaign' %>">
							<%= link_to('Campaign', halo4_gamehistory_path( gamertag: gamertag_validation(@serviceRecord.Gamertag), sub_view: 'campaign', page: 0 )) %>
						</li>
					</ul>
					<% end %>
				</li>
				<li class="<%= 'active' if content_for(:halo4_active) == 'csr' %>">
					<%= link_to('Competitive Skill Rank', halo4_csr_path(gamertag_validation(@serviceRecord.Gamertag))) %>
				</li>
				<li class="<%= 'active' if content_for(:halo4_active) == 'commendations' %>">
					<%= link_to('Commendations', halo4_commendations_path(gamertag_validation(@serviceRecord.Gamertag))) %>


					<% if content_for(:halo4_active) == 'commendations' %>
					<ul class="nav">
						<li class="<%= 'active' if content_for(:halo4_commendations_active) == 'weapon' %>">
							<%= link_to('Weapons', halo4_commendations_path( gamertag: gamertag_validation(@serviceRecord.Gamertag), sub_view: 'weapon' )) %>
						</li>
						<li class="<%= 'active' if content_for(:halo4_commendations_active) == 'enemy' %>">
							<%= link_to('Enemies', halo4_commendations_path( gamertag: gamertag_validation(@serviceRecord.Gamertag), sub_view: 'enemy' )) %>
						</li>
						<li class="<%= 'active' if content_for(:halo4_commendations_active) == 'vehicle' %>">
							<%= link_to('Vehicles', halo4_commendations_path( gamertag: gamertag_validation(@serviceRecord.Gamertag), sub_view: 'vehicle' )) %>
						</li>
						<li class="<%= 'active' if content_for(:halo4_commendations_active) == 'player' %>">
							<%= link_to('Player', halo4_commendations_path( gamertag: gamertag_validation(@serviceRecord.Gamertag), sub_view: 'player' )) %>
						</li>
						<li class="<%= 'active' if content_for(:halo4_commendations_active) == 'game_type' %>">
							<%= link_to('Game Types', halo4_commendations_path( gamertag: gamertag_validation(@serviceRecord.Gamertag), sub_view: 'game-type' )) %>
						</li>
					</ul>
					<% end %>
				</li>
				<li class="<%= 'active' if content_for(:halo4_active) == 'specialization' %>">
					<%= link_to('Specializations', halo4_specialization_path(gamertag_validation(@serviceRecord.Gamertag))) %>
				</li>*@
			</ul>
		</li>
		<li class="active">
			<a href="#">
				<span class="glyphicon glyphicon-leaf"></span> Leaf
			</a>
			<ul class="nav">
				<li>
					<a href="http://leafapp.co/h4/record/@BranchHelpers.GamertagToLeaf(serviceRecord.Gamertag)">
						Overview
					</a>
				</li>
				<li>
					<a href="http://leafapp.co/h4/compare/@BranchHelpers.GamertagToLeaf(serviceRecord.Gamertag)">
						Compare
					</a>
				</li>
				<li>
					<a href="http://leafapp.co/h4/star/@BranchHelpers.GamertagToLeaf(serviceRecord.Gamertag)">
						Star
					</a>
				</li>
				<li>
					<a href="http://leafapp.co/h4/flag/@BranchHelpers.GamertagToLeaf(serviceRecord.Gamertag)">
						Flag as Cheater/Booster
					</a>
				</li>
			</ul>
		</li>
	</ul>
</div>

