.game-summary-title
  %span.title
    Campaign - #{@match['MapName']}
  %br/
  %span.body
    #{DateTime.strptime(@match['EndDateUtc'], '%Y-%m-%dT%H:%M:%SZ').strftime('%d.%m.%Y')} | #{@duration.hour} Hours, #{@duration.min} Minutes, and #{@duration.sec} Seconds

- difficulty_data = difficulty_from_id(@match['Difficulty'])
.game-summary-gametype{ :style => "background-image: url('#{I343ApiH4.asset_url_generator_basic(difficulty_data['ImageUrl']['BaseUrl'], difficulty_data['ImageUrl']['AssetUrl'], 'large')}')" }

.game-summary-title
  %span.body{:style => 'font-size: 16px;'}
    on
    #{difficulty_data['Name']}

.game-summary-seperator

.game-summary-victor
  %span
    %a{ :href => "/halo4/servicerecord/#{@top_player['Gamertag']}/" }
      #{@top_player['Gamertag']}
    led the game with a k/d ratio of #{ (@top_player['Kills'].to_f / @top_player['Deaths'].to_f).to_f.round(2) }