.game-summary-title
  %span.title
    #{@match['GameBaseVariantName']}
  %br/
  %span.body
    #{DateTime.strptime(@match['EndDateUtc'], '%Y-%m-%dT%H:%M:%SZ').strftime('%d.%m.%Y')} | #{@duration.min} Minutes and #{@duration.sec} Seconds

- variant_data = Halo4Controller.GetVariantDataFromMeta(@game_variant_metadata, @match['GameBaseVariantId'])
.game-summary-gametype{ :style => "background-image: url('#{I343ApiH4.asset_url_generator_basic(variant_data['ImageUrl']['BaseUrl'], variant_data['ImageUrl']['AssetUrl'], 'large')}')" }

.game-summary-title
  %span.body{:style => 'font-size: 16px;'}
    on
    #{@match['MapVariantName']}

- teams_in_order = @match['Teams'].sort_by { |team| team['Standing'] }
- modifier = teams_in_order[0]['Score'] / 75
- if modifier == 0
  - modifier = 1
.game-summary-victor-team{ :style => "width: #{teams_in_order.count * 60}px" }
  - teams_in_order.each do |team|
    .team{:style => "height: #{team['Score'] / modifier}px; margin-top: #{75 - (team['Score'] / modifier)}px; background-color: #{team['PrimaryRGB']};"}
      %div{:style => "height: 75px; margin-top: -#{75 - (team['Score'] / modifier)}px;"}
        #{team['Score']}
  .cleaner





