.game-summary-title
  %span.title
    #{@match['GameBaseVariantName']}
  %br/
  %span.body
    #{DateTime.strptime(@match['EndDateUtc'], '%Y-%m-%dT%H:%M:%SZ').strftime('%d.%m.%Y')} | #{@duration.min} Minutes and #{@duration.sec} Seconds

- variant_data = Halo4Controller.GetVariantDataFromMeta(@game_variant_metadata, @match['GameBaseVariantId'])
.game-summary-gametype{ :style => "background-image: url('#{X343ApiController.asset_url_generator_basic(variant_data['ImageUrl']['BaseUrl'], variant_data['ImageUrl']['AssetUrl'], 'large')}')" }

.game-summary-title
  %span.body{:style => 'font-size: 16px;'}
    on
    #{@match['MapVariantName']}

.game-summary-seperator

.game-summary-victor
  %span
    - if @top_player['IsGuest']
      %strong
        #{@top_player['Gamertag']}
    - else
      %a{ :href => "/halo4/servicerecord/#{@top_player['Gamertag']}/" }
        #{@top_player['Gamertag']}
    led the game with a personal score of #{@top_player['PersonalScore']},
    %br/
    and a k/d ratio of #{ (@top_player['Kills'].to_f / @top_player['Deaths'].to_f).to_f.round(2) }