<div class="fluid-container">
	<div class="profiles col-md-10 col-xs-12">
		<div class="profile xbox-live <%= is_active_exp_area('xbox-live') %>">
			<a href="#xbox-live">
				<div class="flair">
					<h4>Xbox Live</h4>
					<span><%= @identity['gamertag'] %></span>
				</div>
			</a>
		</div>
		<div class="profile halo <%= is_active_exp_area('halo') %>">
			<a data-popover-content="#halo-explorer" data-toggle="popover" data-trigger="focus" tabindex="0">
				<div class="col-xs-10 flair">
					<h4>Halo</h4>
					<span><%= @identity['gamertag'] %></span>
				</div>
				<div class="col-xs-2 dropdown-selector">
					<i class="fa fa-chevron-down" aria-hidden="true"></i>
				</div>
				<div class="clearfix"></div>
				<div class="hidden" id="halo-explorer">
					<div class="popover-body">
						<div class="profile halo-3">
							<a href="#halo-3">
								<h4>Halo 3</h4>
							</a>
						</div>
						<div class="profile halo-3-odst">
							<a href="#halo-3-odst">
								<h4>Halo 3: ODST</h4>
							</a>
						</div>
						<div class="profile halo-reach">
							<a href="#halo-reach">
								<h4>Halo: Reach</h4>
							</a>
						</div>
						<div class="profile halo-4">
							<a href="#halo-4">
								<h4>Halo 4</h4>
							</a>
						</div>
						<div class="profile  halo-5">
							<a href="#halo-5">
								<h4>Halo 5: Guardians</h4>
							</a>
						</div>
					</div>
				</div>
			</a>
		</div>
		<div class="profile destiny <%= is_active_exp_area('destiny') %>">
			<a href="#destint">
				<div class="flair">
					<h4>Destiny</h4>
					<span><%= @identity['gamertag'] %></span>
				</div>
			</a>
		</div>
		<div class="profile titanfall <%= is_active_exp_area('titanfall') %>">
			<a data-popover-content="#titanfall-explorer" data-toggle="popover" data-trigger="focus" tabindex="1">
				<div class="col-xs-10 flair">
					<h4>Titanfall</h4>
					<span><%= @identity['gamertag'] %></span>
				</div>
				<div class="col-xs-2 dropdown-selector">
					<i class="fa fa-chevron-down" aria-hidden="true"></i>
				</div>
				<div class="clearfix"></div>
				<div class="hidden" id="titanfall-explorer">
					<div class="popover-body">
						<div class="profile titanfall">
							<a href="#titanfall">
								<h4>Titanfall</h4>
							</a>
						</div>
						<div class="profile titanfall-2">
							<a href="#titanfall-2">
								<h4>Titanfall 2</h4>
							</a>
						</div>
					</div>
				</div>
			</a>
		</div>
	</div>
	<div class="socials col-md-2 hidden-xs hidden-sm">
		<ul>
			<li><i class="fa fa-reddit-alien" aria-hidden="true"></i></li>
			<li><i class="fa fa-facebook" aria-hidden="true"></i></li>
			<li><i class="fa fa-twitter" aria-hidden="true"></i></li>
			<li><i class="fa fa-google-plus" aria-hidden="true"></i></li>
		</ul>
	</div>
</div>
