@using Branch.App.Helpers.Razor.Reach
@using Branch.App.Models
@using Branch.App.Models.Enums
@using Branch.Core.Game.HaloReach.Enums
@using Branch.App.Helpers.Razor
@model Branch.App.Areas.Reach.Models.Base
@{
	var serviceRecord = Model.ServiceRecord;
}

<div class="bs-header reach-header" id="content" 
	 style="background-image: url('');">
	<div class="mask">
		<!-- Render switcher -->
		@Html.Partial("GameSwitcher", new GameSwitcherViewModel(Model.PublicGamertag, Game.HaloReach))

		<div class="container">
			<div class="row">
				<div class="col-md-9">
					<div class="row name-flairs">
						<div class="col-md-10">
							<h1>
								@Model.PublicGamertag
								<img class="hidden-xs" alt="" src="@AssetUrlHelpers.GetRankUrl(serviceRecord.Player.CurrentRankImage, AssetSize.Medium)" />
							</h1>
							<h2>@serviceRecord.Player.ServiceTag</h2>
							<img class="visible-xs" alt="" src="@AssetUrlHelpers.GetRankUrl(serviceRecord.Player.CurrentRankImage, AssetSize.Medium)" />
						</div>
					</div>

					<div class="row rank-flairs">
						<div class="col-md-10">
							<div class="upper-bound">
								@serviceRecord.Player.CurrentRankName
							</div>

							@{
								if (serviceRecord.Player.NextRankName == null)
								{
									// boy, we hit inheritor. sheeet

									<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
											<span class="progress-bar-indicator">100% Complete</span>
											<span class="sr-only">100% Complete</span>
										</div>
									</div>
									<div class="XP">
										<div class="left lower-bound">Max Xp</div>
										<div class="right upper-bound"></div>
										<div class="clearfix"></div>
									</div>
								}
								else
								{
									float a = serviceRecord.Player.CurrentRankProgressionPoints;
									float b = serviceRecord.Player.NextRankPoints;
									var percentage = ((a / b) * 100);

									<div class="progress">
										<div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: @percentage%">
											<span class="progress-bar-indicator">@(percentage)% (@BranchHelpers.NumberWithDelimiter(GeneralHelpers.GetRankStartXp(serviceRecord.Player.CurrentRankName) + @serviceRecord.Player.CurrentRankProgressionPoints) Xp)</span>
											<span class="sr-only">@(percentage)% (@BranchHelpers.NumberWithDelimiter(GeneralHelpers.GetRankStartXp(serviceRecord.Player.CurrentRankName) + @serviceRecord.Player.CurrentRankProgressionPoints) Xp)</span>
										</div>
									</div>
									<div class="XP">
										<div class="left lower-bound">@BranchHelpers.NumberWithDelimiter(GeneralHelpers.GetRankStartXp(serviceRecord.Player.CurrentRankName)) Xp</div>
										<div class="right upper-bound">@BranchHelpers.NumberWithDelimiter(GeneralHelpers.GetRankStartXp(serviceRecord.Player.CurrentRankName) + @serviceRecord.Player.NextRankPoints) Xp</div>
										<div class="clearfix"></div>
									</div>
								}
							}
						</div>
					</div>
				</div>

				<div class="col-md-3">
					<div class="spartan-insignia hidden-sm hidden-xs" style="background-image: url('@AssetUrlHelpers.GetEmblemUrl(serviceRecord.PlayerEmblemUrl, 100)');"></div>
					<div class="spartan-image hidden-sm hidden-xs" style="background-image: url('@AssetUrlHelpers.GetPlayerModelUrl(serviceRecord.Player.Gamertag, AssetSize.Large)');"></div>
				</div>
			</div>
		</div>
	</div>
</div>
