@using Branch.App.Areas.Reach.Models.Enums
@using Branch.App.Helpers.Razor
@using Branch.Core.Game.HaloReach.Enums
@using Branch.Extenders
@model Branch.App.Areas.Reach.Models.Base
@{
	var currentPage = ViewBag.CurrentReachPage ?? CurrentPage.ServiceRecord;
	VariantClass? currentHistoryClass = ViewBag.CurrentHistoryMode;
	CommendationVariantClass? currentCommendationClass = ViewBag.CurrentCommendationClass;
	CurrentFileSharePage? currentFileSharePage = ViewBag.CurrentFileSharePage;
}
<div class="bs-sidebar" data-spy="affix" data-offset-top="358">
	<ul class="nav bs-sidenav">
		<li class="active">
			<a href="@Url.Action("Index", "ServiceRecord", new RouteValueDictionary { { "gamertag", Model.PublicGamertag } })">
				<span class="glyphicon glyphicon-tree-deciduous"></span> Branch
			</a>

			<ul class="nav">
				<li class="@BranchHelpers.CompareEnum(currentPage, CurrentPage.ServiceRecord, "active")">
					@Html.ActionLink("Service Record", "Index", "ServiceRecord", new RouteValueDictionary { { "gamertag", Model.PublicGamertag } }, new Dictionary<string, object>())
				</li>
				
				<li class="@BranchHelpers.CompareEnum(currentPage, CurrentPage.GameHistory, "active")">
					@Html.RouteLink("Game History", "Reach_History", new { gamertag = Model.PublicGamertag })

					@if (currentPage == CurrentPage.GameHistory)
					{
						<ul class="nav">
							@foreach (var variantClass in ((VariantClass[])Enum.GetValues(typeof(VariantClass))).Where(gameMode => gameMode != VariantClass.Unknown))
							{
								<li class="@BranchHelpers.CompareEnum(currentHistoryClass, variantClass, "active")">
									@Html.RouteLink(variantClass.ToString().MakeCamelCaseFriendly(), "Reach_History", new { slug = variantClass.ToString(), gamertag = Model.PublicGamertag })
								</li>
							}
						</ul>
					}
				</li>

				<li class="@BranchHelpers.CompareEnum(currentPage, CurrentPage.Commendations, "active")">
					@Html.RouteLink("Commendations", "Reach_Commendations", new { gamertag = Model.PublicGamertag })

					@if (currentPage == CurrentPage.Commendations)
					{
						<ul class="nav">
							@foreach (var commendationVariantClass in ((CommendationVariantClass[])Enum.GetValues(typeof(CommendationVariantClass))))
							{
								<li class="@BranchHelpers.CompareEnum(currentCommendationClass, commendationVariantClass, "active")">
									@Html.RouteLink(commendationVariantClass.ToString().MakeCamelCaseFriendly(), "Reach_Commendations", new { slug = commendationVariantClass.ToString(), gamertag = Model.PublicGamertag })
								</li>
							}
						</ul>
					}
				</li>

				<li class="@BranchHelpers.CompareEnum(currentPage, CurrentPage.FileShare, "active")">
					@Html.RouteLink("File Share", "Reach_FileShare", new { gamertag = Model.PublicGamertag })

					@if (currentPage == CurrentPage.FileShare)
					{
						<ul class="nav">
							<li class="@BranchHelpers.CompareEnum(currentFileSharePage, CurrentFileSharePage.Index, "active")">
								@Html.RouteLink("File Share", "Reach_FileShare", new { gamertag = Model.PublicGamertag })
							</li>
							<li class="@BranchHelpers.CompareEnum(currentFileSharePage, CurrentFileSharePage.File, "active", "hide")">
								@Html.RouteLink("File", "Reach_File", new { gamertag = Model.PublicGamertag })
							</li>
							<li class="@BranchHelpers.CompareEnum(currentFileSharePage, CurrentFileSharePage.RecentScreenshots, "active")">
								@Html.RouteLink("Recent Screenshots", "Reach_RecentScreenshots", new { gamertag = Model.PublicGamertag })
							</li>
						</ul>
					}
				</li>
			</ul>
		</li>
	</ul>
</div>

