@model bool
@{
	var customStyle = "";
	var linkType = "";
	if (Model)
	{
		customStyle = "color: #fff; border-top: 0px; background-color: #3d3d7c;";
		linkType = "alt";
	}
}

<footer class="bs-footer" role="contentinfo" style="@customStyle">
	<div class="container">
		<div class="row">
			<div class="col-md-10">
				<p>Developed by <a class="@linkType" href="http://twitter.com/0xdeafcafe" target="_blank">&#64;0xdeafcafe</a></p>
				<p>Developed in C# | Running on Windows Azure</p>
				<p>Code licensed under the <a class="@linkType" href="http://www.dbad-license.org/" target="_blank">Don't Be A Dick</a> Public License.</p>
				<p>&copy; 2013-@DateTime.Now.Year - Branch</p>
				<ul class="footer-links">
					<li><a class="@linkType" href="https://github.com/TheTree/Branch" target="_blank">Github</a></li>
					<li>·</li>
					<li><a class="@linkType" href="http://xboxchaos.com/" target="_blank">Xbox Chaos</a></li>
					<li>·</li>
					<li><a class="@linkType" href="http://halo.reddit.com/" target="_blank">r/halo</a></li>
					<li>·</li>
					<li><a class="@linkType" href="http://unscwarfare.com/" target="_blank">UNSC Warfare</a></li>
					<li>·</li>
					<li><a class="@linkType" href="http://onyx.io/" target="_blank">Onyx</a></li>
					<li>·</li>
					<li>
						@Html.ActionLink("Blog", "Index", "Blog", new { area = "" }, new { @class = linkType })
					</li>
				</ul>
				<ul class="footer-links hidden">
					<li>
						@Html.ActionLink("Privacy Policy", "Index", "Home", new { area = "" }, new { @class = linkType })
					</li>
					<li>·</li>
					<li>
						@Html.ActionLink("Terms", "Index", "Home", new { area = "" }, new { @class = linkType })
					</li>
				</ul>
			</div>

			<div class="col-md-2 hidden-xs hidden-sm">
				<img src="@Url.Content("~/Content/Images/uk-map.png")" class="img-circle" alt="" style="width: 60px; height: 77px;" />
			</div>
		</div>
	</div>
</footer>
