@using Branch.App.Areas.Halo4.Models
@using Branch.App.Helpers.Razor
@using Branch.App.Helpers.Razor.Halo4
@model CommendationsViewModel
@{
	ViewBag.Title = string.Format("{0}'s Halo 4 Commendations", BranchHelpers.CheckGamertagPrivacy(@Model.ServiceRecord.Gamertag));
	Layout = "~/Areas/Halo4/Views/Shared/_Layout.cshtml";
	ViewBag.Template = "halo4_commendations";
	ViewBag.CurrentH4Page = Enums.Pages.Commendations;
	ViewBag.CurrentCommendationCategory = @Model.CommendationCategory;

	var commendations = @Model.Commendations.Where(c => c.CategoryId == @Model.CommendationCategory).OrderByDescending(c => c.LevelId).ThenByDescending(c => c.NextLevel.ProgressToNextLevel);
}

<div class="bs-branch-section commendations">
	<div class="page-header">
		<h1>Commendations for @Model.CommendationCategory.ToString()</h1>
	</div>

	<div class="row">
		@foreach (var commendation in commendations)
		{
			<div class="col-lg-5 col-md-6 entry">
				<div class="title">
					<span class="numerical">
						@commendation.LevelId / @MetadataHelpers.CommendationMaxLevel(commendation.Id)
					</span>
					@if (String.IsNullOrEmpty(commendation.LevelName))
					{
						@(commendation.Name + Html.Raw(" - Learner"))
					}
					else
					{
						@commendation.LevelName
					}
				</div>
				<div class="description">@commendation.Description</div>

				@{
					var percentage = Math.Round(commendation.NextLevel.ProgressToNextLevel*100, 2);
				}
				<div class="progression">
					<div class="points">
						<div class="lower">@commendation.LevelStartTicks</div>
						<div class="upper">@commendation.NextLevel.NextLevelStartTicks</div>
						<div class="clearfix"></div>
					</div>


					<div class="progress">
						<div class="progress-bar" role="progressbar" 
						     aria-valuenow="<%= percentage %>" aria-valuemin="0" 
							 aria-valuemax="100" style="width: @percentage%">
							<span class="sr-only">@percentage% Complete</span>
							<span class="progress-bar-indicator">@percentage% Complete</span>
						</div>
					</div>
				</div>
				<hr />
			</div>
			<div class="visible-lg col-md-1"></div>
		}
	</div>

</div>