<% content_for :home, true %>
<% content_for :title, "Welcome, #{current_user.username}" %>	
<% content_for :has_footer, true %>
<% content_for :template, 'home' %>
<% content_for :scripts do %>
	<script>
		$(document).ready(function() {
			$.getJSON('https://api.github.com/repos/thetree/branch/commits', function(data) {
				var commit = data[0];

				// Link to last commit
				$('.project-stats > li > #last-commit').attr('href', "https://github.com/thetree/branch/commit/" + commit.sha);
				$('.project-stats > li > #last-commit').text(commit.sha.substring(0,7));

				// Link to last commiter
				$('.project-stats > li > #last-commiter').attr('href', "https://github.com/" + commit.committer.login);
				$('.project-stats > li > #last-commiter').text(commit.committer.login);

				setTimeout(function() {
					$('.project-stats').fadeIn(600);
				}, 1000);
			});
		});
	</script>
<% end %>

<div class="bs-header welcome-header" id="content">
	<div class="container">
		<h1>Welcome to Branch, <%= current_user.username %></h1>
		<p>Detailed Halo Stats. Designed and Built with the community in mind.</p>

		<ul class="project-stats" style="display: none;">
			<li>
				Last Commit: <a class="alt" id="last-commit" target="_blank" href=""></a>
			</li>

			<li>
				By: <a class="alt" id="last-commiter" target="_blank" href=""></a>
			</li>
		</ul>

		<%= render partial: 'home/social_buttons' %>

	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div class="bs-sidebar" data-spy="affix" data-offset-top="254">
				<ul class="nav bs-sidenav">
					<li class="active">
						<a href="#"><%= current_user.username %></a>
						<ul class="nav">
							<li class="active">
								<a href="#">Activity Feed</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>

		<div class="col-md-9">
			<div class="bs-branch-section activity-feed">
				<%= render partial: 'partials/flash', locals: { flash: flash } %>
				<div class="page-header">
					<h1>Activity Feed</h1>
				</div>

				<ul>
					<% @activity_feed.each do |activity| %>
						<%= render partial: "home/partials/#{activity[:type]}", locals: { activity: activity } %>
					<% end %>
				</ul>
			</div>
		</div>
	</div>
</div>