<div class="header" style="background-image: url('<%= most_recent_match_image() %>');">
	<div class="fading-branch-mask">
		<div class="fluid-container">
			<div class="col-md-12 recent-match-index">
				<% @recent_matches['games'].each_with_index do |match, index|%>
					<% active =  index == 0 ? 'active' : '' %>
					<div data-index="<%= index %>" class="item-container"><div class="item-indicator <%= active %>"></div></div>
				<% end %>
			</div>

			<div class="col-md-10 player-information">
				<h1><%= @identity['gamertag'] %></h1>
				<ul>
					<li><%= number_with_delimiter(total_kills()) %> Kills</li>
					<li><%= number_with_delimiter(total_deaths()) %> Deaths</li>
					<li><%= number_with_delimiter(total_games_started()) %> Games Started</li>
				</ul>
			</div>

			<div class="col-md-offset-0 col-md-4 recent-match-information">
				<% if has_recent_matches() %>
					<div class="match-overview col-xs-9 no-col-padding">
						<span class="match-mode"><%= @recent_matches['games'][0]['variantName'] %></span>
						on
						<span class="match-map"><%= @recent_matches['games'][0]['mapVariantName'] %></span>
					</div>
					<div class="view-match col-md-3 no-col-padding">
						<a class="alt" href="#">View Details</a>
					</div>
					<div class="match-details col-xs-12 no-col-padding">
						<div class="match-statistic personal-score">
							<span class="value"><%= number_with_delimiter(@recent_matches['games'][0]['personalScore']) %></span>
							<div class="key">
								<span class="header-key">Personal Score</span>
								<span class="sub-key"><%= @recent_matches['games'][0]['modeName'] %></span>
							</div>
						</div>

						<div class="match-statistic featured-stat">
							<span class="value"><%= number_with_delimiter(@recent_matches['games'][0]['featuredStatValue']) %></span>
							<div class="key">
								<span class="header-key"><%= @recent_matches['games'][0]['featuredStatName'] %></span>
								<span class="sub-key"><%= @recent_matches['games'][0]['variantName'] %></span>
							</div>
						</div>

						<div class="match-statistic medals">
							<span class="value"><%= number_with_delimiter(@recent_matches['games'][0]['totalMedals']) %></span>
							<div class="key">
								<span class="header-key">Medals</span>
								<span class="sub-key"><%= @recent_matches['games'][0]['modeName'] %></span>
							</div>
						</div>
					</div>
				<% end %>
			</div>

			<div class="col-md-4 col-md-offset-8 player-visual-flairs">
				<div class="emblem-flair" style="background-image: url('<%= resolve_asset_url(@service_record['emblemImageUrl'], 120) %>');"></div>
				<div class="spartan-flair" style="background-image: url('<%= resolve_spartan_image(@gamertag) %>');"></div>
			</div>
		</div>
	</div>
</div>
