<div class="bs-sidebar" data-spy="affix" data-offset-top="302">
	<ul class="nav bs-sidenav">
		<li class="active">
			<%= link_to 'Branch', halo4_servicerecord_path(@gamertag) %>
			<ul class="nav">
				<li class="<%= 'active' if content_for(:halo4_active) == 'overview' %>">
					<%= link_to 'Overview', halo4_servicerecord_path(@gamertag) %>
				</li>
				<li class="<%= 'active' if content_for(:halo4_active) == 'game_history' %>">
					<%= link_to 'Game History', halo4_gamehistory_path %>

					<% if content_for(:halo4_active) == 'game_history' %>
						<ul class="nav">
							<li class="<%= 'active' if content_for(:halo4_game_history_active) == 'matchmaking' %>">
								<%= link_to 'Matchmaking', halo4_gamehistory_path( sub_view: 'matchmaking', page: 0 ) %>
							</li>
							<li class="<%= 'active' if content_for(:halo4_game_history_active) == 'custom_games' %>">
								<%= link_to 'Custom Games', halo4_gamehistory_path( sub_view: 'custom-games', page: 0 ) %>
							</li>
							<li class="<%= 'active' if content_for(:halo4_game_history_active) == 'spartan_ops' %>">
								<%= link_to 'Spartan Ops', halo4_gamehistory_path( sub_view: 'spartan-ops', page: 0 ) %>
							</li>
							<li class="<%= 'active' if content_for(:halo4_game_history_active) == 'campaign' %>">
								<%= link_to 'Campaign', halo4_gamehistory_path( sub_view: 'campaign', page: 0 ) %>
							</li>
						</ul>
					<% end %>
				</li>
				<li class="<%= 'active' if content_for(:halo4_active) == 'csr' %>">
					<%= link_to 'Competitive Skill Rank', '#' %>
				</li>
				<li class="<%= 'active' if content_for(:halo4_active) == 'commendations' %>">
					<%= link_to 'Commendations', '#' %>
				</li>
				<li class="<%= 'active' if content_for(:halo4_active) == 'specializations' %>">
					<%= link_to 'Specializations', '#' %>
				</li>
			</ul>
		</li>
		<li class="active">
			<%= link_to 'Leaf', '#' %>
			<ul class="nav">
				<li>
					<a href="">Overview</a>
				</li>
				<li>
					<a href="">Compare</a>
				</li>
				<li>
					<a href="">Star</a>
				</li>
				<li>
					<a href="">Flag as Cheater/Booster</a>
				</li>
			</ul>
		</li>
	</ul>
</div>
