<ul class="nav">
	<li class="nav-header">
		Branch
	</li>
	<li><hr /></li>
	<li class="<%= @sidebar[:service_record] %>">
		<a href="/halo-4/<%= @identity['gamertag'] %>">Service Record</a>
	</li>
	<li class="<%= @sidebar[:recent_matches] %>">
		<a href="/halo-4/<%= @identity['gamertag'] %>/matches/war-games">Match History</a>
		<ul class="nav">
			<li class="<%= @sidebar[:war_games_mode] %>">
				<a href="/halo-4/<%= @identity['gamertag'] %>/matches/war-games">War Games</a>
			</li>
			<li class="<%= @sidebar[:campaign_mode] %>">
				<a href="/halo-4/<%= @identity['gamertag'] %>/matches/campaign">Campaign</a>
			</li>
			<li class="<%= @sidebar[:spartan_ops_mode] %>">
				<a href="/halo-4/<%= @identity['gamertag'] %>/matches/spartan-ops">Spartan Ops</a>
			</li>
			<li class="<%= @sidebar[:custom_games_mode] %>">
				<a href="/halo-4/<%= @identity['gamertag'] %>/matches/custom-games">Custom Games</a>
			</li>
		</ul>
	</li>
	<li class="<%= @sidebar[:specializations] %>">
		<a href="/halo-4/<%= @identity['gamertag'] %>/specializations">Specializations</a>
	</li>
	<li class="<%= @sidebar[:csr] %>">
		<a href="/halo-4/<%= @identity['gamertag'] %>/competitive-skill-ranks">Competitive Skill Ranks</a>
	</li>
</ul>

<hr />

<a id="slide-into-waypoint" class="alt" target="_blank" href="https://app.halowaypoint.com/en-US/Halo4/<%= @identity['gamertag'] %>/">
	<i class="fa fa-share" aria-hidden="true"></i>
	Go To Waypoint
</a>
