@using Branch.Core.Game.HaloReach.Models._343.DataModels;
@using Branch.App.Helpers.Razor;
@using Branch.Extenders
@model GameHistoryEntry

<tr>
	<td>
		<a href="#">
			@Model.GameVariantName
		</a>
	</td>

	<td>
		@((Model.RequestedPlayerStanding + 1).Ordinal())
	</td>
	<td>
		@(Model.IsTeamGame ? "Team" : "Free for All")
	</td>
	<td>
		@Model.MapName
	</td>
	<td>
		@Model.RequestedPlayerKills
	</td>
	<td>
		@Model.RequestedPlayerDeaths
	</td>
	<td>
		@BranchHelpers.MakeDateTimeFriendly(Model.GameTimestamp, "d")
	</td>
</tr>
