<% content_for :user, true %>
<% content_for :title, 'Register' %>	
<% content_for :has_footer, true %>
<% content_for :scripts do %>
<script>

$(document).ready(function() {
	// Full Name Fullname
	$('.full-name-section > div > .input-group > input').on('input', function() {
		var data = $('.full-name-section > div > .input-group > input').val();
		var invalid = false;
		var reason = '';

		if (data != '') {
			// check it doesn't start with space
			if (data.indexOf('  ') != -1) {
				reason = "Names can not have more than 1 space in a row in them.";
				invalid = true;
			} else if (data.replace(/^\s+|\s+$/g,'') != data) {
				reason = "Names can not start or end with a space.";
				invalid = true;
			} else {
				// check regex
				invalid = !(data.match(/[a-zA-Z\-]/));
				reason = "Names can only contain letters, spaces and hyphens.";
			}
		}
		
		if (invalid) {
			$('.full-name-section > div > .bs-callout').css('display', 'block');
			$('.full-name-section > div > .bs-callout > .reason').text(reason);
			$('.full-name-section > div > .input-group').addClass('has-error');
		} else {
			$('.full-name-section > div > .bs-callout').css('display', 'none');
			$('.full-name-section > div > .bs-callout > .reason').text('');
			$('.full-name-section > div > .input-group').removeClass('has-error');
		}
	});

	// Username Validation
	$('.username-section > div > .input-group > input').on('input', function() {
		var data = $('.username-section > div > .input-group > input').val();
		var invalid = false;
		var reason = '';

		if (data != '') {
			// check it doesn't start with space
			if (data.indexOf('  ') != -1) {
				reason = "Username's can not have more than 1 space in a row in them.";
				invalid = true;
			} else if (data.replace(/^\s+|\s+$/g,'') != data) {
				reason = "Username's can not start or end with a space.";
				invalid = true;
			} else {
				// check regex
				invalid = !(data.match(/[a-zA-Z0-9\_\.]/));
				reason = "Username's can only contain letters, numbers, underscores and stops.";
			}
		}
		
		if (invalid) {
			$('.username-section > div > .bs-callout').css('display', 'block');
			$('.username-section > div > .bs-callout > .reason').text(reason);
			$('.username-section > div > .input-group').addClass('has-error');
		} else {
			$('.username-section > div > .bs-callout').css('display', 'none');
			$('.username-section > div > .bs-callout > .reason').text('');
			$('.username-section > div > .input-group').removeClass('has-error');
		}
	});

	// Email Validation
	$('.email-section > div > .input-group > input').on('input', function() {
		var data = $('.email-section > div > .input-group > input').val();
		var invalid = false;
		var reason = '';

		if (data != '') {
			// check regex
			invalid = !(data.match(/[-0-9a-zA-Z.+_]+@[-0-9a-zA-Z.+_]+\.[a-zA-Z]{2,4}/));
			reason = "The Specified Email Address is not a valid Email Address.";
		}
		
		if (invalid) {
			$('.email-section > div > .bs-callout').css('display', 'block');
			$('.email-section > div > .bs-callout > .reason').text(reason);
			$('.email-section > div > .input-group').addClass('has-error');
		} else {
			$('.email-section > div > .bs-callout').css('display', 'none');
			$('.email-section > div > .bs-callout > .reason').text('');
			$('.email-section > div > .input-group').removeClass('has-error');
		}
	});

	// Password Validation
	function validatePasswordStuff() {
		var data = $('.password-section > div > .input-group > input').val();
		var dataConf = $('.password-conf-section > div > .input-group > input').val();
		var invalid = false;
		var reason = '';

		if (data != '') {
			var complexity = 0;

			if (data.match(/[0-9]+/))
				complexity++;
			if (data.match(/[a-z]+/))
				complexity++;
			if (data.match(/[A-Z]+/))
				complexity++;
			if (data.match(/[^a-zA-Z0-9]+/))
				complexity++;

			if (complexity <= 2) {
				invalid = true;
				reason = "Your password is not complex enough. It must contain atleast 2 of the following: numbers, lower case letters, upper case letters or special characters.";
			}

			if (invalid) {
				$('.password-conf-section > div > .bs-callout').css('display', 'block');
				$('.password-conf-section > div > .bs-callout > .reason').text(reason);
				$('.password-section > div > .input-group').addClass('has-error');
				$('.password-conf-section > div > .input-group').removeClass('has-error');
			} else {
				$('.password-section > div > .input-group').removeClass('has-error');
				if (data != dataConf) {
					reason = 'Your Password and Password Confirmation do not match.';

					$('.password-conf-section > div > .bs-callout').css('display', 'block');
					$('.password-conf-section > div > .bs-callout > .reason').text(reason);
					$('.password-conf-section > div > .input-group').addClass('has-error');
				} else {
					$('.password-conf-section > div > .bs-callout').css('display', 'none');
					$('.password-conf-section > div > .bs-callout > .reason').text('');
					$('.password-conf-section > div > .input-group').removeClass('has-error');
				}
			}
		}
	}
	$('.password-section > div > .input-group > input').on('input', validatePasswordStuff);
	$('.password-conf-section > div > .input-group > input').on('input', validatePasswordStuff);
});

</script>
<% end %>
<% content_for :template, 'user user_register' %>

<%= render partial: 'user/partials/header', locals: { title: 'Join Branch', description: 'And get access to shit I have yet to think of.' } %>

<%= form_for @user, url: :user_create, method: :post do |f| %>
	<div class="container bitch-needs-a-break">
		<div class="row">
			<div class="col-md-12 panel panel-default">
				<div class="panel-body details">
					<% if @user.errors.any? %>
						<section class="bs-callout bs-callout-danger validation-errors">
							<h4>Validation Error</h4>
							<ul>
								<% for message in @user.errors.full_messages %>
									<li><%= message %></li>
								<% end %>
							</ul>
						</section>
					<% end %>

					<section class="input-section full-name-section row">
						<div class="col-md-6">
							<span class="title">Full Name</span>
							<div class="input-group">
								<span class="input-group-addon">@</span>
								<%= f.text_field :name, placeholder: 'Full Name', class: 'form-control' %>
							</div>

							<div class="bs-callout bs-callout-danger" style="<%= has_validation_errors(@user.errors, :name) %>">
								<h4>Invalid Name</h4>
								<p class="reason">
									<% for message in @user.errors[:name] %>
										Full Name <%= message %> <br />
									<% end %>
								</p>
							</div>
						</div>
					</section>

					<section class="input-section username-section row">
						<div class="col-md-6">
							<span class="title">Username</span>
							<div class="input-group">
								<span class="input-group-addon">@</span>
								<%= f.text_field :username, placeholder: 'Username', class: 'form-control' %>
							</div>

							<div class="bs-callout bs-callout-danger" style="<%= has_validation_errors(@user.errors, :username) %>">
								<h4>Invalid Username</h4>
								<p class="reason">
									<% for message in @user.errors[:username] %>
										Username <%= message %> <br />
									<% end %>
								</p>
							</div>
						</div>
					</section>

					<section class="input-section gamertag-section row">
						<div class="col-md-6">
							<span class="title">Gamertag</span>
							<div class="input-group">
								<span class="input-group-addon">@</span>
								<%= f.text_field :gamertag_friendly, placeholder: 'Gamertag', class: 'form-control' %>
							</div>

							<div class="bs-callout bs-callout-danger" style="<%= has_validation_errors(@user.errors, :gamertag_friendly) %>">
								<h4>Invalid Gamertag</h4>
								<p class="reason">
									<% for message in @user.errors[:gamertag_friendly] %>
										Username <%= message %> <br />
									<% end %>
								</p>
							</div>
						</div>
					</section>

					<section class="input-section email-section row">
						<div class="col-md-6">
							<span class="title">Email Address</span>
							<div class="input-group">
								<span class="input-group-addon">@</span>
								<%= f.text_field :email, placeholder: 'Username', class: 'form-control' %>
							</div>

							<div class="bs-callout bs-callout-danger" style="<%= has_validation_errors(@user.errors, :email) %>">
								<h4>Invalid Email Address</h4>
								<p class="reason">
									<% for message in @user.errors[:email] %>
										Email Address <%= message %> <br />
									<% end %>
								</p>
							</div>
						</div>
					</section>

					<hr />

					<section class="input-section email-section row">
						<div class="col-md-6">
							<span class="title">Invitation Code</span>
							<p>
								While the site is in preview, the user section is invite only (since it's only partially functional). Once we get closer to launch, these parts of the site will be open for all.
							</p>
							<div class="input-group">
								<span class="input-group-addon">@</span>
								<%= f.text_field :invite_code, placeholder: 'Invitation Code', class: 'form-control' %>
							</div>

							<div class="bs-callout bs-callout-danger" style="<%= has_validation_errors(@user.errors, :invite_code) %>">
								<h4>Invalid Invitation Code</h4>
								<p class="reason">
									<% for message in @user.errors[:invite_code] %>
										Invite Code <%= message %> <br />
									<% end %>
								</p>
							</div>
						</div>
					</section>

					<hr />

					<section class="input-section password-section row">
						<div class="col-md-6">
							<span class="title">Password</span>
							<div class="input-group">
								<span class="input-group-addon">*</span>
								<%= f.password_field :password, placeholder: 'Password', class: 'form-control' %>
							</div>
						</div>
					</section>

					<section class="input-section password-conf-section row">
						<div class="col-md-6">
							<span class="title">Password Confirmation</span>
							<div class="input-group">
								<span class="input-group-addon">*</span>
								<%= f.password_field :password_confirmation, placeholder: 'Password Confirmation', class: 'form-control' %>
							</div>

							<div class="bs-callout bs-callout-danger" style="display: none;">
								<h4>Invalid Password</h4>
								<p class="reason">
									<% for message in @user.errors[:password] %>
										Password <%= message %> <br />
									<% end %>
									<% for message in @user.errors[:password_confirmation] %>
										Password Confirmation <%= message %> <br />
									<% end %>
								</p>
							</div>
						</div>
					</section>

					<hr />

					<section class="input-section submit row">
						<input type="submit" class="btn btn-primary btn-large" value="Sign Up" />
					</section>
				</div>
			</div>
		</div>
	</div>
<% end %>
