@using Branch.App.Areas.Halo4.Models
@using Branch.App.Helpers.Razor
@using Branch.App.Helpers.Razor.Halo4
@using Branch.Extenders
@using Branch.Models.Services.Branch
@using Branch.Models.Services.Halo4._343.DataModels
@using Enums = Branch.App.Areas.Halo4.Models.Enums
@model HistoryViewModel<GameHistoryModel.WarGames>
@{
	ViewBag.Title = string.Format("{0}'s Halo 4 War Games History", Model.PublicGamertag);
	Layout = "~/Areas/Halo4/Views/Shared/_Layout.cshtml";
	ViewBag.Template = "halo4_game_history";
	ViewBag.CurrentH4Page = Enums.Pages.GameHistory;
	ViewBag.CurrentHistoryMode = Model.GameMode;

	var serviceRecord = Model.ServiceRecord;
	var gameHistory = Model.GameHistory;
}

<div class="bs-branch-section overview">
	
	@Html.Partial("FlashMessage", false)

	<div class="page-header">
		<h1>War Games History</h1>
	</div>
		
	@if (Model.GameHistory.Games.Any())
	{
		<table class="table game-history">
			<thead>
				<tr>
					<th>Game Type</th>
					<th>Standing</th>
					<th>Date</th>
					<th>Score</th>
					<th>Map</th>
					<th>Playlist</th>
				</tr>
			</thead>

			<tbody>
				@foreach (var game in gameHistory.Games)
				{
					<tr class="history-row">
						<td>
							@Html.RouteLink(game.VariantName, "Halo4_Game",
						  new { gamertag = Model.PublicGamertag, id = game.Id })
						</td>

						<td>
							@GeneralHelpers.GetGameVictoryStatus(game.Result, game.Completed).Item2
							@if (game.Completed)
							{
								@:(@game.Standing.Ordinal())
							}

						</td>
						<td>
							@BranchHelpers.MakeDateTimeFriendly(game.EndDateUtc, "d")
						</td>
						<td>
							@game.PersonalScore
						</td>
						<td>
							@game.MapVariantName
						</td>
						<td>
							@Html.RouteLink(game.PlaylistName, "Halo4_CsrDetails",
								new
								{
									gamertag = Model.PublicGamertag,
									id = game.PlaylistId,
									slug = game.PlaylistName.ToSlug()
								})
						</td>
					</tr>
				}
			</tbody>
		</table>
	}
	else
	{
		<h6>
			There are no more Multiplayer Games in <strong>@Model.PublicGamertag's</strong> Game History
		</h6>
	}

	<ul class="pager">
		<li class="previous @(Model.Page == 0 ? "disabled" : "")">
			@Html.RouteLink("← Newer", "Halo4_History", new { page = Model.Page - 1 })
		</li>
		<li class="next @(Model.GameHistory.Games.Any() ? "" : "disabled")">
			@Html.RouteLink("Older →", "Halo4_History", new { page = Model.Page + 1 })
		</li>
	</ul>
</div>
