<div class="container" style="margin-top: 100px;">
	<% if flash[:notice] && (flash[:type] == 'success' || flash[:type] == 'error' || flash[:type] == 'warning') %>
	  <div class="alert alert-<%= flash[:type] %>">
	    <strong>
	      <% if flash[:type] == 'success' %>
	        Success!
	      <% else if flash[:type] == 'success' %>
	          Warning? :(
	        <% end %>
	        Error :/
	      <% end %>
	    </strong><br>
	    <% flash[:notice].split('-').each do |message| %>
	      <%= message %><br>
	    <% end %>
	  </div>
	<% end %>

	<span style="font-size: 45px;">Halo 4 - Playlists</span>
	<div class="hero-unit" style="margin-top: -15px;">
	  <% @game_modes.each do |mode| %>
	    <% playlists = @friendly_playlist_data[mode['Id']] %>
	    <h1><%= mode['Name'] %>:</h1>
	    <div class="playlist-category-container">
	      <% index = 0 %>
	      <% playlists.each do |playlist| %>
	        <%
	           if !playlist['IsCurrent'] || playlist['PopulationCount'] == 0
	             next
	           end
	           index += 1
	           playlist_id = rand(1000)
	        %>
	        <div class="row playlist-container">

	          <div class="span3 preview-icon" style="background-image: url('<%= X343ApiController.asset_url_generator_basic(playlist['ImageUrl']['BaseUrl'],
					                                                                                playlist['ImageUrl']['AssetUrl'], 'large') %>')"></div>
	          <div class="span7 playlist-meta">
	            <script>
		            $(document).ready(function() {
			            var cdays = $("#canvas_population_<%= playlist_id %>").get(0);
			            var ctx = cdays.getContext("2d");
			            ctx.clearRect(0, 0, cdays.width, cdays.height);
			            ctx.beginPath();
			            ctx.strokeStyle = '#ffdc50';

			            ctx.shadowBlur    = 10;
			            ctx.shadowOffsetX = 0;
			            ctx.shadowOffsetY = 0;

			            ctx.arc(94/2,94/2,85/2, deg(0), deg((360 / <%= @total_population %>) * (<%= playlist['PopulationCount'].to_i %> - <%= @total_population %>)));
			            ctx.lineWidth = 17/2;
			            ctx.stroke();
			            $("#population_<%= playlist_id %> .text .val").text("<%= playlist['PopulationCount'].to_i %>");
		            })
	            </script>

	            <h3><%= playlist['Name'] %></h3>
	            <h5><%= playlist['Description'] %></h5>

		          <div class="playlist-player-data">
			          <span class="entry">Max Local Players: <strong><%= playlist['MaxLocalPlayers'] %></strong></span><br>
		            <span class="entry">Max Party Size: <strong><%= playlist['MaxPartySize'] %></strong></span><br>
		            <span class="entry">Player Grouping: <strong><% if playlist['IsFreeForAll'] %> Free For All <% else %> Team <% end %></strong></span><br>
		          </div>

	            <div>
	              <div class="clock">
	                <!-- Population -->
	                <div id="population_<%= playlist_id %>" class="clock_days">
	                  <div class="bgLayer">
	                    <div class="topLayer"></div>
	                    <canvas id="canvas_population_<%= playlist_id %>" width="120" height="120">
	                    </canvas>
	                    <div class="text">
	                      <p class="val">0</p>
	                      <p class="type_days">Players</p>
	                    </div>
	                  </div>
	                </div>
	                <!-- Population -->
	              </div>

	            </div>
	          </div>

	          <div class="cleaner"></div>

	          <% if playlist['GameVariants'].any? %>
	            <script type="text/javascript">
		            $(document).ready(function() {
			            $(".gamevariant_content_<%= playlist_id %>").hide();
			            //toggle the componenet with class msg_body
			            $(".gamevariant_heading_<%= playlist_id %>").click(function()
			            {
				            $(this).next(".gamevariant_content_<%= playlist_id %>").slideToggle(500);
			            });
		            });
	            </script>

		          <div class="playlist-gamevarients">
		            <p class="expander_heading gamevariant_heading_<%= playlist_id %>">Game Variant Cycle:</p>
		            <div class="expander_content gamevariant_content_<%= playlist_id %>">
			            <table class="table table-hover">
				            <thead>
				              <tr>
						            <td>Icon</td>
					              <td>Name</td>
					              <td>Description</td>
					              <td>Base Variant</td>
					            </tr>
				            </thead>

				            <tbody>
				              <% playlist['GameVariants'].each do |variant| %>
						            <tr>
							            <td><img src="<%= X343ApiController.asset_url_generator_basic(variant['GameBaseVariantImageUrl']['BaseUrl'], variant['GameBaseVariantImageUrl']['AssetUrl'], 'medium') %>" /></td>
						              <td><%= variant['GameVariantName'] %></td>
						              <td><%= variant['GameVariantDescription'] %></td>
						              <td><%= variant['GameBaseVariantName'] %></td>
						            </tr>
				              <% end %>
				            </tbody>
			            </table>
		            </div>
		          </div>
	          <% end %>

	          <div class="cleaner"></div>

	          <% if playlist['MapVariants'].any? %>
	            <script type="text/javascript">
		            $(document).ready(function() {
			            $(".mapvariant_content_<%= playlist_id %>").hide();
			            //toggle the componenet with class msg_body
			            $(".mapvariant_heading_<%= playlist_id %>").click(function()
			            {
				            $(this).next(".mapvariant_content_<%= playlist_id %>").slideToggle(500);
			            });
		            });
	            </script>

	            <div class="playlist-mapvarients">
	              <p class="expander_heading mapvariant_heading_<%= playlist_id %>">Map Variant Cycle:</p>
	              <div class="expander_content mapvariant_content_<%= playlist_id %>">
	                <table class="table table-hover">
	                  <thead>
	                  <tr>
	                    <td>Icon</td>
	                    <td>Name</td>
	                    <td>Description</td>
	                  </tr>
	                  </thead>

	                  <tbody>
	                  <% playlist['MapVariants'].each do |variant| %>
	                    <% map_meta = X343ApiController.mapmeta_from_id(variant['MapId'], @map_meta) %>
	                    <tr>
	                      <td><img src="<%= X343ApiController.asset_url_generator_basic(map_meta['ImageUrl']['BaseUrl'], map_meta['ImageUrl']['AssetUrl'], 'small') %>" /></td>
	                      <td><%= variant['MapVariantName'] %></td>
	                      <td><%= map_meta['Description'] %></td>
	                    </tr>
	                  <% end %>
	                  </tbody>
	                </table>
	              </div>
	            </div>
	          <% end %>

	          <div class="cleaner"></div>
	        </div>

	        <div class="cleaner"></div>

	        <!-- <li><a href="/halo4/playlists"><%= playlist['Name'] %></a></li> -->
	      <% end %>
	    </div>
	    <% if index == 0 %>
	      <div class="playlist-category-container">
	        <div class="row playlist-container">

	          <div class="span3 preview-icon-none" style="background-image: url('<%= X343ApiController.asset_url_generator_basic(mode['ImageUrl']['BaseUrl'],
				                                                                                mode['ImageUrl']['AssetUrl'], 'large') %>');"></div>
	          <div class="span7 playlist-meta">
	            <script>
		            $(document).ready(function() {
			            var cdays = $("#canvas_population_none").get(0);
			            var ctx = cdays.getContext("2d");
			            ctx.clearRect(0, 0, cdays.width, cdays.height);
			            ctx.beginPath();
			            ctx.strokeStyle = '#ffdc50';

			            ctx.shadowBlur    = 10;
			            ctx.shadowOffsetX = 0;
			            ctx.shadowOffsetY = 0;

			            ctx.arc(94/2,94/2,85/2, deg(0), deg((360 / <%= @total_population %>) * (<%= @total_population %> - 0)));
			            ctx.lineWidth = 17/2;
			            ctx.stroke();
			            $("#population_none .text .val").text("0");
		            })
	            </script>

	            <h3>None</h3>
	            <h5>This Category has no playlists :(</h5>
	            <div>
	              <div class="clock">
	                <!-- Population -->
	                <div id="population_none" class="clock_days">
	                  <div class="bgLayer">
	                    <div class="topLayer"></div>
	                    <canvas id="canvas_population_none" width="120" height="120">
	                    </canvas>
	                    <div class="text">
	                      <p class="val">0</p>
	                      <p class="type_days">Players</p>
	                    </div>
	                  </div>
	                </div>
	                <!-- Population -->
	              </div>
	            </div>
	          </div>

	          <div class="cleaner"></div>
	        </div>

	        <!-- <li><a href="/halo4/challenges">none - 0xp</a></li> -->
	      </div>
	    <% end %>
	  <% end %>
	</div>
</div>

<script>
	function deg(deg) {
		//noinspection JSUnresolvedVariable
		return (Math.PI/180)*deg - (Math.PI/180)*90
	}
</script>