- title " - #{@service_record['Gamertag']}'s Service Record"
- active_halo4 'active'
- search_query @service_record['Gamertag']
- content_for :twitter_meta do
	%meta{:content => "Branch - #{@service_record['Gamertag']}'s Service Record", :name => "twitter:title"}/
	%meta{:content => "Halo 4 Service Record for #{@service_record['Gamertag']}.", :name => "twitter:description"}/
	%meta{:content => I343ApiH4.get_player_model(params[:gamertag], 'medium'), :name => "twitter:image:src"}/

- content_for :facebook_meta do
	%meta{:content => "Branch - #{@service_record['Gamertag']}'s Service Record", :property => "og:title"}/
	%meta{:content => "Halo 4 Service Record for #{@service_record['Gamertag']}.", :property => 'og:description'}/
	%meta{:content => I343ApiH4.get_player_model(params[:gamertag], 'medium'), :property => "og:image"}/

.row-fluid

	= h4_sidebar_overview 'active'
	= render :partial => 'halo4/global/sidebar', :object => @service_record

	= render :partial => 'application/notification_header'

	= render :partial => 'halo4/global/service_record_header', :object => @service_record

	.span8
		= render :partial => 'halo4/service_record/overview', :object => @service_record
		= render :partial => 'halo4/service_record/recent_match_summary', :object => @service_record
		= render :partial => 'halo4/global/social_sharing'