- title " - #{@service_record['Gamertag']}'s Specializations"
- active_halo4 'active'
- search_query @service_record['Gamertag']

.row-fluid

  = h4_sidebar_specializations 'active'
  = render :partial => 'halo4/global/sidebar', :object => @service_record

  = render :partial => 'application/notification_header'

  = render :partial => 'halo4/global/service_record_header', :object => @service_record

  .span8
    .well
      = render :partial => 'halo4/specializations/in_progress'

    .row-fluid
      .span6.well
        = render :partial => 'halo4/specializations/pending'
      .span6.well
        = render :partial => 'halo4/specializations/completed'
    = render :partial => 'halo4/global/social_sharing'