- title " - #{@service_record['Gamertag']}'s Career Stats Summary"
- active_halo4 'active'
- search_query @service_record['Gamertag']

.row-fluid

  = h4_sidebar_summary 'active'
  = render :partial => 'halo4/global/sidebar', :object => @service_record

  = render :partial => 'application/notification_header'

  = render :partial => 'halo4/global/service_record_header', :object => @service_record

  .span8.well
    %h3#tabs
      #{@service_record['Gamertag']}'s Career Stats
    %ul.nav.nav-tabs
      %li.active
        %a{"data-toggle" => "tab", :href => "#A"} War Games
      %li
        %a{"data-toggle" => "tab", :href => "#B"} Spartan Ops
      %li
        %a{"data-toggle" => "tab", :href => "#C"} Campaign
      %li
        %a{"data-toggle" => "tab", :href => "#D"} War Games - Custom
    .tabbable
      .tab-content
        #A.tab-pane.active
          = render :partial => 'halo4/career_stats_summary/overview', :locals => { :mode_data => @war_games_data }
        #B.tab-pane
          = render :partial => 'halo4/career_stats_summary/overview', :locals => { :mode_data => @spartan_ops_data }
        #C.tab-pane
          = render :partial => 'halo4/career_stats_summary/overview', :locals => { :mode_data => @campaign_data }
        #D.tab-pane
          = render :partial => 'halo4/career_stats_summary/overview', :locals => { :mode_data => @custom_data }