- title " - #{@service_record['Gamertag']}'s Competitive Skill Ranks"
- active_halo4 'active'
- search_query @service_record['Gamertag']
- skill_rank = skill_rank_from_playlist_id(params[:playlist_id])

.row-fluid

  = h4_sidebar_csr 'active'
  = render :partial => 'halo4/global/sidebar', :object => @service_record

  = render :partial => 'application/notification_header'

  = render :partial => 'halo4/global/service_record_header', :object => @service_record

  .span9.well
    %h3
      #{@playlist_data['Name']} Competitive Skill Ranking

    %hr/

    .row{ :style => 'margin: 0;' }
      .span6
        %img{ :src => X343ApiController.asset_url_generator_basic(@playlist_data['ImageUrl']['BaseUrl'], @playlist_data['ImageUrl']['AssetUrl'], 'large') }

      .span6
        %p
          #{@playlist_data['Description']}

        %br/

        %p{ :style => 'font-size: 20px;' }
          Max Party Size:
          %strong
            #{@playlist_data['MaxPartySize']}

        %p{ :style => 'font-size: 20px;' }
          Max Local Players:
          %strong
            #{@playlist_data['MaxLocalPlayers']}

        %p{ :style => 'font-size: 20px;' }
          Player Grouping:
          %strong
            - if @playlist_data['IsFreeForAll']
              Free For All
            - else
              Team

        %div{ :style => 'float: right; opacity: 0.6; margin-top: -60px;' }
          %img{ :src => csr_image_from_current_csr(skill_rank['CurrentSkillRank'], 'large') }

