<% title " - #{@service_record['Gamertag']}'s Service Record" %>
<% active_halo4 'active' %>
<% search_query @service_record['Gamertag'] %>

<div class="container" style="margin-top: 80px; min-width: 1300px; max-width: 1300px;">
	<div class="row-fluid">
		<div class="span3">
		  <div class="well sidebar-nav">
		    <ul class="nav nav-list">
		      <!-- recently finished -->
		      <li class="nav-header">Service Record</li>
		      <li><a href="/halo4/servicerecord/<%= @service_record['Gamertag'] %>/">Overview</a></li>
		      <li class="active"><a href="/halo4/servicerecord/<%= @service_record['Gamertag'] %>/match-history/">Game History</a></li>
		      <li><a href="/halo4/servicerecord/<%= @service_record['Gamertag'] %>/commendations/">Commendations</a></li>
		      <li><a href="/halo4/servicerecord/<%= @service_record['Gamertag'] %>/specializations/">Specializations</a></li>

		      <li class="nav-header">Career Stats</li>

		      <li class="nav-header">File Share</li>
		    </ul>
		  </div>
		</div>
		<div class="well span9" style="padding: 20px 0 0 0;">
		  <% h4_rank_data = Halo4Controller.GetSimpleRankData(@service_record, 'medium') %>
		  <div class="row-fluid visible-desktop visible-tablet">
		    <div class="span8" style="margin: 10px 0 0 20px">
		      <div class="gamertag-flairs">
		        <img style="margin-top: -8px;" src="<%= X343ApiController.asset_url_generator_basic(@service_record['RankImageUrl']['BaseUrl'], @service_record['RankImageUrl']['AssetUrl'], 'medium') %>" />
		        <a href="/halo4/servicerecord/<%= @service_record['Gamertag'] %>/">
						    <span class="gamertag-bar">
							    <%= @service_record['Gamertag'] %>
							  </span>
		        </a>
		        -
						    <span class="service-tag-bar">
						      <%= @service_record['ServiceTag'] %>
						    </span>
		      </div>

		      <div class="gamertag-quick-meta">
		        <%= h4_rank_data[:specialization_block]['Name'] %>
		      </div>
		      <div class="cleaner"></div>
		      <br>
		      <div class="gamertag-ranking">
		        <div class="gamertag-progress-info-left">
		          0
		        </div>
		        <div class="gamertag-progress-info-right">
		          <%= number_with_delimiter(h4_rank_data[:update_upper_xp], :delimiter => ',') %>
		        </div>
		        <div class="cleaner"></div>
		        <div class="progress progress-striped active">
		          <div class="bar" style="text-align: right; padding-right: 5px; width: <%= h4_rank_data[:update_percentage] %>%;">
		            <%= number_with_delimiter(h4_rank_data[:update_current_xp], :delimiter => ',') %>
		          </div>
		        </div>
		      </div>
		    </div>
		    <div class="span3">
		      <div class="span4 campaign-completion">
		        <img src="<%= Halo4Controller.CampaignProgressFromId(@service_record['GameModes'][0]['SinglePlayerDASO'].to_i, @service_record['GameModes'][0]['SinglePlayerDifficulty'].to_i, 'medium') %>" /><br>
		        <span class="completion-title">Single Player</span>
		      </div>
		      <div class="span4 campaign-completion">
		        <img src="<%= Halo4Controller.CampaignProgressFromId(@service_record['GameModes'][0]['CoopDASO'].to_i, @service_record['GameModes'][0]['CoopDifficulty'].to_i, 'medium') %>" /><br>
		        <span class="completion-title">Co-op</span>
		      </div>
		      <div class="span4 csr-completion">
		        <img src="https://assets.halowaypoint.com/games/h4/csr/v1/small/<%= Halo4Controller.GetHighestSkillRank(@service_record['SkillRanks'])  %>.png" /><br>
		        <span class="completion-title">Highest CSR</span>
		      </div>
		    </div>
		  </div>
		</div>
		<div class="well span9">
		  <h3>View Game:</h3>
		  <div class="row-fluid">

		  </div>
		</div>
	</div>
</div>