%span
  * click a gamertag to see a more detailed enemy report

.seperator{ :id => 'enemy-stats', :style => 'margin: 20px 0 20px 0;' }

- @sorted_players.each do |player|
  .enemy_stats{ :id => "player_enemies_#{Digest::MD5.hexdigest(player['Gamertag'])}" }
    %h3
      #{player['Gamertag']}'s Carnage

    %table.team-table.table.table-bordered.table-striped.table-hover
      %thead
        %tr
          %td
            Enemy
          %td
            Kills
          %td
            Deaths
          %td
            Spread
          %td
            Average Kill Distance
          %td
            Average Death Distance

      %tbody
        - enemy_stats_sorted = player['EnemyStats'].sort_by { |damage_type| damage_type['Kills'] }.reverse
        - enemy_stats_sorted.each do |enemy_stats|
          %tr
            %td
              %img{ :src => X343ApiController.asset_url_generator_basic(enemy_stats['ImageUrl']['BaseUrl'], enemy_stats['ImageUrl']['AssetUrl'], 'medium'), 'data-toggle' => 'tooltop', 'data-html' => 'true', :title => "<strong>#{enemy_stats['Name']}</strong>" , :rel => 'tooltip', 'data-placement' => 'right' }
            %td
              #{enemy_stats['Kills']}
            %td
              #{enemy_stats['Deaths']}
            %td
              #{ enemy_stats['Kills'] - enemy_stats['Deaths'] }
            %td
              #{enemy_stats['AverageKillDistance']}
            %td
              #{enemy_stats['AverageDeathDistance']}