%span
  * click a gamertag to see detailed medal stats

.seperator{ :id => 'medal-stats', :style => 'margin: 20px 0 20px 0;' }

- @sorted_players.each do |player|
  .medal_stats{ :id => "player_medals_#{Digest::MD5.hexdigest(player['Gamertag'])}" }
    %h3
      #{player['Gamertag']}'s Medals

    %table.team-table.table.table-bordered.table-striped.table-hover
      %thead
        %tr
          - @metadata['MedalsMetadata']['MedalClasses'].each do |medal_class|
            %td
              #{medal_class['Name']}

      %tbody
        - player['MedalStats'] = player['MedalStats'].sort_by { |medal| medal['TotalMedals'] }.reverse
        %tr
          - @metadata['MedalsMetadata']['MedalClasses'].each do |medal_class|
            %td
              - player['MedalStats'].each do |medal|
                - if medal['ClassId'] != medal_class['Id']
                  - next

                .medal-entry{ :style => "background-image: url('#{ I343ApiH4.asset_url_generator_basic( medal['ImageUrl']['BaseUrl'],medal['ImageUrl']['AssetUrl'], 'medium') }');", 'data-toggle' => 'tooltip', 'data-html' => 'true', :rel => 'tooltip', 'data-placement' => 'right', :title => "<strong>#{medal['Name']}</strong><br /><br />#{Halo4Controller.GetMedalDataFromId(medal['Id'], @metadata['MedalsMetadata']['Medals'])['Description']}<br /><br />Tier: #{Halo4Controller.GetMedalTeirFromId(Halo4Controller.GetMedalDataFromId(medal['Id'], @metadata['MedalsMetadata']['Medals'])['TierId'], @metadata['MedalsMetadata']['MedalTiers'])['Name']}"}
                  #{medal['TotalMedals']}