- teams_in_order = @match['Teams'].sort_by { |team| team['Score'] }
- teams_in_order.each do |team|
  %table.team-table.table.table-bordered.table-striped.table-hover
    %thead
      %tr
        %td{ :style => 'width: 400px;'}
          #{team['Name']}
        %td{ :style => 'width: 80px;'}
          Score
        %td{ :style => 'width: 80px;'}
          Assists
        %td{ :style => 'width: 80px;'}
          Spread
        %td{ :style => 'width: 80px;'}
          Penalties
        %td{ :style => 'width: 100px;'}
          Rank

    %tbody
      - @sorted_players.each do |player|
        - if player['TeamId'] != team['Id']
          - next

        %tr
          %td{ :style => 'style="padding: 0;' }
            - unless player['IsGuest']
              .team-player-flair{ :style => "background-color: #{team['PrimaryRGB']}; background-image: url('#{X343ApiController.asset_url_generator_basic(player['EmblemImageUrl']['BaseUrl'], player['EmblemImageUrl']['AssetUrl'], '48')}');"}
            - else
              .team-player-flair{ :style => "background-color: #{team['PrimaryRGB']}; background-image: url('https://emblems.svc.halowaypoint.com/h4/emblems/steel_brick_recruit-on-silver_plus?size=48');"}

            .team-player-name
              - unless player['IsGuest']
                %a.player-linker{ :playerid => Digest::MD5.hexdigest(player['Gamertag']), 'data-popup' => "pop-#{Digest::MD5.hexdigest(player['Gamertag'])}", :id => Digest::MD5.hexdigest(player['Gamertag']), :href => "/halo4/servicerecord/#{player['Gamertag']}/" }
                  - if player['Gamertag'] == @service_record['Gamertag']
                    %span.gamer-tag{ :style => 'font-weight: 600;' }
                      #{player['Gamertag']}
                  - else
                    %span.gamer-tag
                    #{player['Gamertag']}

                - if player['Gamertag'] == @service_record['Gamertag']
                  %br/
                  %span.service-tag{ :style => 'font-weight: 600;' }
                    #{player['Servicetag']}
                - else
                  %br/
                  %span.service-tag
                    #{player['Servicetag']}
              -else
                %span.gamer-tag
                  #{player['Gamertag']}
                %br/
                %span.service-tag
                  #{player['ServiceTag']}

            - unless player['IsGuest']
              .team-player-csr{ :style => "background-image: url('#{csr_image_from_raw_csr(player['SkillRank'], 'small')}');"}
            - else
              .team-player-csr{ :style => "background-image: url('https://assets.halowaypoint.com/games/h4/csr/v1/small/0.png');"}

            .cleaner

          %td
            #{player['PersonalScore']}

          %td
            #{player['Assists']}

          %td
            #{(player['Kills'].to_f / player['Deaths'].to_f).to_f.round(2)}

          %td
            #{(player['Betrayals'] + player['Suicides'])}

          %td
            - unless player['IsGuest']
              .team-player-rank{ :style => "background-image: url('#{X343ApiController.asset_url_generator_basic(player['RankUrl']['BaseUrl'], player['RankUrl']['AssetUrl'], 'medium')}')"}
            - else
              .team-player-rank{ :style => "background-image: url('https://assets.halowaypoint.com/games/h4/ranks/v1/medium/sr-001.png')"}
