@model Branch.Models.Sql.ReachIdentity

<div class="col-md-6 entry">
	<a class="nope" 
	   href="@Url.RouteUrl("Reach_ServiceRecord", new { gamertag = Model.GamerIdentity.GamerId })">
		<div class="spartan-image" 
			 style="background-image: url('@Model.PlayerModelUrl')"></div>
		<div class="mask"></div>
		<div class="text-container">
			<h2>
				@Model.GamerIdentity.GamerId
			</h2>
			<h3>
				@Model.ServiceTag
			</h3>
			<div class="info">
				<strong>Game: </strong>
				Halo: Reach | Xbox 360

				<br /><strong>Competitive Kills: </strong>
				@Model.CompetitiveKills

				<br /><strong>KD Ratio: </strong>
				@Model.KillDeathRatio

				<br /><strong>Rank: </strong>
				@Model.Rank

				<br /><strong>Total Games: </strong>
				@Model.TotalGames
			</div>
		</div>
	</a>
</div>
