@using Branch.App.Helpers.Razor
@using Branch.App.Helpers.Razor.Halo4
@using Branch.Models.Services.Branch
@using Branch.Models.Services.Halo4._343.DataModels
@model Branch.Models.Services.Halo4._343.Responses.ServiceRecord
@{
	var gameMode = Model.GameModes.FirstOrDefault(m => m.Id == Enums.GameMode.WarGames);
	var highestSkillRank = 0;
	if (Model.TopSkillRank != null)
	{
		highestSkillRank = Model.TopSkillRank.CompetitiveSkillRank ?? 0;
	}
}

<div class="col-md-6 entry">
	<a class="nope" 
	   href="@Url.RouteUrl("Halo4_ServiceRecord", new { gamertag = BranchHelpers.CheckGamerIdPrivacy(Model.Gamertag, GamerId.X360XblGamertag) })">
		<div class="spartan-image" 
			 style="background-image: url('@GeneralHelpers.GetPlayerModelUrl(Model.Gamertag, "large", "posed")')"></div>
		<div class="mask"></div>
		<div class="text-container">
			<h2>
				@BranchHelpers.CheckGamerIdPrivacy(Model.Gamertag, GamerId.X360XblGamertag)
			</h2>
			<h3>
				@Model.ServiceTag
			</h3>
			<div class="info">
				<strong>Game: </strong>
				Halo 4 | Xbox 360

				<br /><strong>Total Kills: </strong>
				@BranchHelpers.NumberWithDelimiter(gameMode == null ? 0 : gameMode.TotalKills)

				<br /><strong>KD Ratio: </strong>
				@(gameMode == null ? 1.0 : gameMode.KdRatio)

				<br /><strong>Top CSR: </strong>
				@(highestSkillRank)

				<br /><strong>Favorite Weapon: </strong>
				@Model.FavoriteWeaponName
			</div>
		</div>
	</a>
</div>
