@model Branch.Models.Sql.Halo4Identity

<div class="col-md-6 entry">
	<a class="nope" 
	   href="@Url.RouteUrl("Halo4_ServiceRecord", new { gamertag = Model.GamerIdentity.GamerId })">
		<div class="spartan-image" 
			 style="background-image: url('@Model.PlayerModelUrl')"></div>
		<div class="mask"></div>
		<div class="text-container">
			<h2>
				@Model.GamerIdentity.GamerId
			</h2>
			<h3>
				@Model.ServiceTag
			</h3>
			<div class="info">
				<strong>Game: </strong>
				Halo 4 | Xbox 360

				<br /><strong>Total Kills: </strong>
				@Model.TotalKills

				<br /><strong>KD Ratio: </strong>
				@Model.KillDeathRatio

				<br /><strong>Top CSR: </strong>
				@Model.TopCsr

				<br /><strong>Favorite Weapon: </strong>
				@Model.FavouriteWeapon
			</div>
		</div>
	</a>
</div>
