<tr>
	<td>
		<%= link_to(game['VariantName'], halo4_viewgame_path(game_id: game['Id'])) %>
	</td>
	<td><%= get_victory_type(game)[:friendly_result] %> <%= "(#{game['Standing'].ordinalize})" if (game['Completed'])%></td>
	<td><%= parse_datetime(game['EndDateUtc'], '%Y-%m-%dT%H:%M:%SZ', '%d/%m/%Y') %></td>
	<td><%= game['PersonalScore'] %></td>
	<td><%= game['MapVariantName'] %></td>
	<td><%= game['PlayListName'] %></td>
</tr>
