<% content_for :user, true %>
<% content_for :title, "#{@account.username}'s Followers" %>	
<% content_for :has_footer, true %>
<% content_for :account_active, 'followers' %>
<% content_for :scripts do %>
<script>

</script>
<% end %>
<% content_for :template, 'account account_follow' %>

<%= render partial: 'user/account/partials/header' %>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<%= render partial: 'user/account/partials/sidebar' %>
		</div>

		<div class="col-md-9">
			<div class="bs-branch-section follow">
				<%= render partial: 'partials/flash', locals: { flash: flash } %>
				<div class="page-header">
					<h1><%= @account.username %>'s Followers</h1>
				</div>

				<% if (@followers.length > 0) %>
					<% @followers.each do |follow| %>
						<%= render partial: 'user/account/partials/display_user', locals: { follow: follow } %>
					<% end %>
				<% else %>
					<h4><%= @account.username %> has no followers</h4>
				<% end %>
			</div>
		</div>
	</div>
</div>
