- relevant_matches = I343ApiH4.get_player_matches(@service_record['Gamertag'], @start_index, @recent_match_load_count, 6, -1)['Games']

- if relevant_matches.any?
  %table.team-table.table.table-bordered.table-striped.table-hover
    %thead
      %tr
        %td
          Game Title
        %td
          Place
        %td
          Date
        %td
          Score
        %td
          Total Medals
        %td
          Map
        %td
          Playlist

    %tbody
      - index = 0
      - relevant_matches.each do |match|
        - index += 1
        - if index >= @recent_match_load_count - 1
          - break
        %tr
          %td
            %a{ :href => "/halo4/servicerecord/#{@service_record['Gamertag']}/match/#{match['Id']}/" }
              #{match['VariantName']}
          %td
            #{place_from_standing(match['Standing'])}
          %td
            #{DateTime.strptime(match['EndDateUtc'], '%Y-%m-%dT%H:%M:%SZ').strftime('%d.%m.%Y')}
          %td
            #{match['PersonalScore']}
          %td
            #{match['TotalMedals']}
          %td
            #{match['MapVariantName']}
          %td
            #{match['PlayListName']}
- else
  %div{ :style => 'margin-left: 20px; margin-top: 20px; margin-bottom: 60px;' }
    %h3
      Woah Cowboy!
    %h5
      Seems you haven't been playing enough halo to have records going back this far. Get Playing!
    %hr/

%ul.pager
  - if @selected_gamemode == 6 && @start_index > 0
    %li.previous
      %a{:href => match_history_pagnation_previous(6)} ← Older
  - else
    %li.previous.disabled
      %a ← Older

  - if relevant_matches.count == @recent_match_load_count
    %li.next
      %a{:href => match_history_pagnation_next(6)} Newer →
  - else
    %li.next.disabled
      %a Newer →