%span
  * click a gamertag to see a more detailed carnage report

.seperator{ :id => 'carnage-stats', :style => 'margin: 20px 0 20px 0;' }

- @sorted_players.each do |player|
  .carnage_damage_stats{ :id => "player_#{Digest::MD5.hexdigest(player['Gamertag'])}" }
    %h3
      #{player['Gamertag']}'s Carnage

    %table.team-table.table.table-bordered.table-striped.table-hover
      %thead
        %tr
          %td
            Weapon
          %td
            Kills
          %td
            Headshots
          %td
            Deaths
          %td
            Penalties
          %td
            Spread

      %tbody
        - damage_stats_sorted = player['DamageTypeStats'].sort_by { |damage_type| damage_type['Kills'] }.reverse
        - damage_stats_sorted.each do |damage_stats|
          %tr
            %td
              %img{ :src => X343ApiController.asset_url_generator_basic(damage_stats['ImageUrl']['BaseUrl'], damage_stats['ImageUrl']['AssetUrl'], 'medium'), 'data-toggle' => 'tooltop', 'data-html' => 'true', :title => "<strong>#{damage_stats['Name']}</strong><br /><br/>#{@metadata['DamageMetadata']['DamageTypes'][damage_stats['Id'].to_i]['Description']}<br /><br/>Power: #{@metadata['DamageMetadata']['DamageTypes'][damage_stats['Id'].to_i]['Power']}<br />Range: #{@metadata['DamageMetadata']['DamageTypes'][damage_stats['Id'].to_i]['Range']} <br />Faction:  #{@metadata['FactionsMetadata']['Factions'][@metadata['DamageMetadata']['DamageTypes'][damage_stats['Id'].to_i]['FactionId']]['Name']}" , :rel => 'tooltip', 'data-placement' => 'right' }
            %td
              #{damage_stats['Kills']}
            %td
              #{damage_stats['Headshots']}
            %td
              #{damage_stats['Deaths']}
            %td
              #{ damage_stats['Suicides'].to_i + damage_stats['Betrayals'].to_i }
            %td
              #{ damage_stats['Kills'] - damage_stats['Deaths'] }