<!-- 
Guide;
	h4_favourite :: The h4 favourite model from the database
-->
<%
	map_url = ''
	map = get_map_from_base_id(h4_favourite.map_id)
	chapter = nil
	if (h4_favourite.mode_id == 5)
		chapter = get_spops_chapter_from_base_id(h4_favourite.chapter_id)
		map_url = get_raw_asset_url(chapter['ImageUrl'], 'large')
	else
		map_url = get_raw_asset_url(map['ImageUrl'], 'large')
	end
%>

<div class="halo4-favourite">
	<a href="<%= halo4_viewgame_path(gamertag: gamertag_validation(h4_favourite.mvp_gamertag), game_id: h4_favourite.game_id) %>">
		<div class="col-md-12 map-preview" style="background-image: url(<%= map_url %>)">
			<div class="mask"></div>
			<div class="content">
				<div class="meta">
					<% if (h4_favourite.mode_id == 3 || h4_favourite.mode_id == 6) %>
						<h2>
							<%= h4_favourite.game_variant_name %>
						</h2>
						on <%= h4_favourite.map_variant_name %>
					<% else %>
						<h2>
							<%= h4_favourite.map_variant_name %>
						</h2>
						on <%= h4_favourite.game_variant_name %>
					<% end %>

					<div class="mvp-stats">
						<strong>
							<%= gamertag_validation(h4_favourite.mvp_gamertag) %>
						</strong>
						was the MVP
						<ul class="no-style">
							<li>
								Kills:
								<strong>
									<%= h4_favourite.mvp_kills %>
								</strong>
							</li>
							<li>
								KD Ratio:
								<strong>
									<%= h4_favourite.mvp_kd %>
								</strong>
							</li>
						</ul>
					</div>
				</div>
				<div class="mvp-preview" style="background-image: url(<%= get_player_model_url(h4_favourite.mvp_gamertag, 'medium', 'posed') %>);"></div>
				<div class="clearfix"></div>
			</div>
		</div>
	</a>
</div>
<hr />