@using Branch.App.Areas.Reach.Models.Enums
@using Branch.App.Areas.Reach.Models
@using Branch.App.Helpers.Razor
@using Branch.App.Helpers.Razor.Reach
@using Branch.Extenders
@model FileShareViewModel

@{
	ViewBag.Title = string.Format("{0}'s Recent Halo: Reach Screenshots", Model.PublicGamertag);
	Layout = "~/Areas/Reach/Views/Shared/_Layout.cshtml";
	ViewBag.Template = "reach_file_share_recent_screenshots";
	ViewBag.CurrentReachPage = CurrentPage.FileShare;
	ViewBag.CurrentFileSharePage = CurrentFileSharePage.RecentScreenshots;
}

<div class="bs-branch-section file-share-file">
	@Html.Partial("FlashMessage", false)

	<div class="page-header">
		<h1>@Model.PublicGamertag's Recent Screenshots</h1>
	</div>

	@foreach (var screenshot in Model.FileShare.Files)
	{
		<div class="row file-details">
			@{
				var backgroundImageUrl = String.Format("https://companion.halo.xbox.com/Screenshot.ashx?fid={0}&size=Full", screenshot.FileId);
			}
			
			<a href="@Url.Action("File", new { area = "Reach", fileId = screenshot.FileId })" class="">
				<h3>
					@screenshot.Title
				</h3>
				<div class="col-md-12 preview-image"
					 style="background-image: url('@backgroundImageUrl')">
				</div>
			</a>
			<div class="col-md-12">
				<hr />
			</div>
			<div class="col-md-12 social-shit">
				<ul>
					<li>
						<a role="button" href="https://companion.halo.xbox.com/Screenshot.ashx?fid=@(screenshot.FileId)&size=Full" target="_blank" class="btn btn-default" style="color: #a31097;">
							<span class="glyphicon glyphicon-new-window" style="padding-right: 8px;"></span>
							View full resolution
						</a>
					</li>

					<li>
						<a role="button" href="http://www.halowaypoint.com/en-us/games/haloreach/filebrowser/details/@(screenshot.FileId)" target="_blank" class="btn btn-default" style="color: #127e11;">
							<span class="glyphicon glyphicon-download" style="padding-right: 8px;"></span>
							Download to Xbox 360
						</a>
					</li>

					<li>
						<a role="button" href="@SocialHelpers.GenerateTwitterShareLink(String.Format("Check out {0} by {1}! {2}", screenshot.Title, screenshot.Author.MadeByBungie() ? "Bungie" : screenshot.Author, HttpContext.Current.Request.Url.AbsoluteUri), HttpContext.Current.Request.Url.AbsoluteUri)" target="_blank" class="btn btn-default" style="color: #4099FF;">
							<span class="glyphicon glyphicon-retweet" style="padding-right: 8px;"></span>
							Tweet
						</a>
					</li>

					<li>
						<a role="button" href="@SocialHelpers.GenerateFacebookShareLink(HttpContext.Current.Request.Url.AbsoluteUri)" target="_blank" class="btn btn-default" style="color: #3B5998;">
							<span class="glyphicon glyphicon-thumbs-up" style="padding-right: 8px;"></span>
							Like
						</a>
					</li>
				</ul>
			</div>
			<div class="col-md-12">
				<hr />
			</div>
			<div class="col-md-12 metadata">
				<p>
					<b>Description:</b> <br />
					@if (String.IsNullOrWhiteSpace(screenshot.Description))
					{
						<span class="fuck">
							This content doesn't have a description.
						</span>
					}
					else
					{
						@screenshot.Description
					}

					<br />
					<br />

					<b>Author:</b>
					@if (screenshot.Author.MadeByBungie())
					{
						@:<img alt="This file was made by Bungie" src="@AssetUrlHelpers.GetPrivateAuthorImageUrl("bungie")" />
					}
					else
					{
						@Html.RouteLink(screenshot.Author, "Reach_ServiceRecord", new { gamertag = screenshot.Author })
					}

					@if (screenshot.Author != screenshot.OriginalAuthor && !String.IsNullOrWhiteSpace(screenshot.OriginalAuthor))
					{
						<br />
						<b>Original Author:</b>
						if (screenshot.OriginalAuthor.MadeByBungie())
						{
							@:<img alt="This file was made by Bungie" src="@AssetUrlHelpers.GetPrivateAuthorImageUrl("bungie")" />
						}
						else
						{
							@:@Html.RouteLink(screenshot.OriginalAuthor, "Reach_ServiceRecord", new { gamertag = screenshot.OriginalAuthor })
						}
					}

					<br />
					<b>Type:</b>
					Screenshot

					<br />
					<b>Created At:</b>
					@BranchHelpers.MakeDateTimeFriendly(screenshot.CreateDate)

					<br />
					<b>Modified At:</b>
					@BranchHelpers.MakeDateTimeFriendly(screenshot.ModifiedDate)
				</p>
			</div>
			<div class="col-md-12">
				<hr />
			</div>
		</div>
	}
	
	@if (!Model.FileShare.Files.Any())
	{
		<h4>@Model.PublicGamertag hasn't taken any screenshots recently.</h4>
	}
</div>