<%
	content = activity[:content]
	user = content[:user]
%>
<li>
	<span class="glyphicon glyphicon-star"></span>
	<div class="info">
		<% if (content[:favourite].h4_favourite != nil) %>
			<% 
				favourite = content[:favourite].h4_favourite
				part_a = ''
				part_b = ''
				if (favourite.mode_id == 4 || favourite.mode_id == 5)
					part_a = favourite.map_variant_name
					part_b = favourite.game_variant_name
				else
					part_a = favourite.game_variant_name
					part_b = favourite.map_variant_name
				end
			%>

			<%= link_to(user.username, user_view_path(id: user.username)) %> added a <%= link_to('game', halo4_viewgame_path(gamertag: favourite.mvp_gamertag, game_id: favourite.game_id)) %> of <strong><%= part_a %></strong> on <strong><%= part_b %></strong> to their favourites.
		<% end %>
		<attr title="Date's might be in-accurate.">
			<span class="time-info"><%= time_ago_in_words(activity[:event_date]) %> ago</span>
		</attr>
	</div>
</li>
