- active_blog 'active'
- if @page == 1
	- title ' - Development Blog'
- else
	- title " - Development Blog - Page #{@page}" 

/ swag this up
.container
	.span12.well
		%h1 
			Branch Development Blog

		- @blog_entries.each do |entry|
			%blockquote{style: "margin: 60px 0;"}
				%h3
					%a{href: "#{entry.created_at.year}/#{entry.created_at.month}/#{entry.created_at.day}/#{entry.title_safe}"}
						= entry.title
				%hr/
				%p= entry.summary
				%br/
				%small= "Posted at #{entry.updated_at}, by Xerax"
		- if @blog_entries.length == 0
			%h4 No Entries Found
			
		/ Draw Pagination
		.pagination.pagination-centered
			%ul
				- if @lower == nil
					%li.disabled
						%a{:href => "#"} &laquo;
				- else
					%li
						%a{:href => "?page=1"} &laquo;
					- @lower.each do |entry|
						%li
							%a{:href => "?page=#{entry}"}= entry

				%li.disabled
					%a{:href => "?page=#{@page}"}= @page

				- if @upper == nil
					%li.disabled
						%a{:href => "#"} &raquo;
				- else
					- @upper.each do |entry|
						%li
							%a{:href => "?page=#{entry}"}= entry
					%li
						%a{:href => "?page=#{(@blog_entry_count.to_f / @count_modifier.to_f).to_f.ceil}"} &raquo;
