- title " - #{@blog_entry.title}"
- #active_halo4 'active'

.container
	.span10{ style: 'margin: 30px;' }
		.well
			%h1
				#{@blog_entry.title}
			%h6
				Posted at #{@blog_entry.updated_at}, by Xerax
			%hr/

			%p
				#{@blog_entry.body}

		/ Social Sharing Stuff
		= render partial: 'halo4/global/social_sharing'