- title " - #{@blog_entry.title}"
- active_blog 'active'
- content_for :twitter_meta do
	%meta{:content => "Branch - #{@blog_entry.title}", :name => "twitter:title"}/
	%meta{:content => "#{@blog_entry.summary}", :name => "twitter:description"}/

- content_for :facebook_meta do
	%meta{:content => "Branch - #{@blog_entry.title}", :property => "og:title"}/
	%meta{:content => "#{@blog_entry.summary}", :property => 'og:description'}/

.span12
	.well
		%h1
			= @blog_entry.title

		%h6 
			Posted at #{@blog_entry.updated_at}, by Xerax

		%hr/

		= @markdown.render(@blog_entry.body).html_safe

	= render partial: 'halo4/global/social_sharing'
