<article id="halo4-service-record" class="halo-4 service-record-header">
	{{> halo4/service-record-header }}

	<div class="experience-bar" data-spy="affix" data-offset-top="540">
		{{> experience-bar }}
	</div>

	<div class="page-content fluid-container row">
		<div class="col-md-12">
			{{> flash-messages }}
		</div>

		<div class="col-md-10">
			<section id="service-record-stats">
				<div class="section-header">
					Service Record
				</div>
				<div class="row">
					<div class="col-lg-5 row">
						<div class="player-rank col-md-12">
							<div class="current-rank pull-left">
								SR {{ serviceRecord.rankName }}
								<span class="xp">
									{{ serviceRecord.rankStartXp }} xp
								</span>
							</div>
							<div class="next-rank pull-right">
								{{#if serviceRecord.nextRankName}}
									<span class="xp">
										{{ numberWithDelim serviceRecord.nextRankStartXp }} xp
									</span>
									SR {{ serviceRecord.nextRankName }}
								{{/if}}
							</div>
							<div class="clearfix"></div>
							<div class="progress-bar-container">
								<div class="progress-bar" role="progressbar" aria-valuenow="{{ percentages.rankProgression }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ percentages.rankProgression }}%;">
									{{ percentages.rankProgression }}%{{ rankProgressionComparison }}
								</div>
							</div>
						</div>
						<div class="top-medals col-md-12 no-p">
							<hr />
							<span>Top Medals</span>
							<div class="medals">
								{{#each serviceRecord.topMedals }}
									<div class="top-medal" style="background-image: url('{{ h4ResolveAsset this.imageUrl 'large' }}');"
										 data-toggle="tooltip" data-placement="bottom" data-html="true"
										 title="{{ this.name }} - {{ numberWithDelim this.totalMedals }} times <hr /> {{ this.description }}">
									</div>
								{{/each}}
							</div>
						</div>
					</div>
					<div class="col-lg-3 hidden-sm hidden-xs hidden-md">
						<canvas id="played-games-spread" width="400" height="400"></canvas>
					</div>
					<div class="col-lg-4">
						<ul class="list-group general-player-details">
							<li class="list-group-item">
								<span class="badge">{{ friendlyDate serviceRecord.firstPlayedUtc }}</span>
								First Played
							</li>

							<li class="list-group-item">
								<span class="badge">{{ friendlyDate serviceRecord.lastPlayedUtc }}</span>
								Last Played
							</li>

							<li class="list-group-item">
								<span class="badge">{{ h4FriendlyDuration serviceRecord.totalGameplay false }}</span>
								Playtime
							</li>

							<li class="list-group-item">
								<span class="badge">{{ numberWithDelim serviceRecord.spartanPoints }}</span>
								Spartan Points
							</li>

							<li class="list-group-item">
								<span class="badge">{{ serviceRecord.totalCommendationProgress }}%</span>
								Commendation Progression
							</li>

							<li class="list-group-item">
								<span class="badge">{{ numberWithDelim serviceRecord.totalMedalsEarned }}</span>
								Medals Earned
							</li>

							<li class="list-group-item">
								<span class="badge">{{ numberWithDelim serviceRecord.totalGamesStarted }}</span>
								Games Started
							</li>

							<li class="list-group-item">
								<span class="badge">{{ numberWithDelim serviceRecord.totalChallengesCompleted }}</span>
								Challenges Completed
							</li>

							<li class="list-group-item">
								<span class="badge">{{ numberWithDelim serviceRecord.totalLoadoutItemsPurchased }}</span>
								Purchased Loadout Items
							</li>
						</ul>
					</div>
				</div>
			</section>

			<section id="war-games-stats">
				<div class="section-header">
					War Games Stats
				</div>
				<div class="row">
					<div class="mode-stats col-md-9">
						<div class="stat col-md-4">
							<div class="value">{{ modeStats.warGames.kdRatio }}</div>
							<div class="key">Kill/Death Ratio</div>
						</div>
						<div class="stat col-md-4">
							<div class="value">{{ numberWithDelim modeStats.warGames.averagePersonalScore }}</div>
							<div class="key">Average Personal Score</div>
						</div>
						<div class="stat col-md-4">
							<div class="value">{{ numberWithDelim modeStats.warGames.totalKills }}</div>
							<div class="key">Total Kills</div>
						</div>

						<div class="stat col-md-4">
							<div class="value">{{ numberWithDelim modeStats.warGames.totalDeaths }}</div>
							<div class="key">Total Deaths</div>
						</div>
						<div class="stat col-md-4">
							<div class="value">{{ numberWithDelim modeStats.warGames.totalGamesStarted }}</div>
							<div class="key">Total Games Started</div>
						</div>
						<div class="stat col-md-4">
							<div class="value">{{ numberWithDelim modeStats.warGames.totalGamesWon }}</div>
							<div class="key">Total Games Won</div>
						</div>

						<div class="stat col-md-4">
							<div class="value">{{ numberWithDelim modeStats.warGames.totalGamesCompleted }}</div>
							<div class="key">Total Games Completed</div>
						</div>
						<div class="stat col-md-4">
							<div class="value">{{ numberWithDelim modeStats.warGames.totalGameBaseVariantMedals }}</div>
							<div class="key">Mode Base Medals</div>
						</div>
						<div class="stat col-md-4">
							<div class="value">{{ modeStats.warGames.totalDuration }}</div>
							<div class="key">Playtime</div>
						</div>
					</div>
					<div class="favourite-variant col-md-3">
						<div class="title">Favourite Variant</div>
						<div class="variant-icon" style="background-image: url('{{ h4ResolveAsset modeStats.warGames.favoriteVariant.imageUrl 'large' }}');"></div>
						<hr />

						<div class="col-md-12 row no-mp">
							<div class="col-md-12">{{ modeStats.warGames.favoriteVariant.name }}</div>
							<div class="stat col-md-6">
								<div class="value">{{ numberWithDelim modeStats.warGames.totalKills }}</div>
								<div class="key">Total Kills</div>
							</div>
							<div class="stat col-md-6">
								<div class="value">{{ numberWithDelim modeStats.warGames.totalDeaths }}</div>
								<div class="key">Total Deaths</div>
							</div>
							<div class="stat col-md-6">
								<div class="value">{{ numberWithDelim modeStats.warGames.totalGamesStarted }}</div>
								<div class="key">Games Started</div>
							</div>
							<div class="stat col-md-6">
								<div class="value">{{ modeStats.warGames.totalDuration }}</div>
								<div class="key">Playtime</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section id="campaign-stats">
				<div class="section-header">
					Campaign Stats
				</div>
				<div class="row">
					<div class="mode-stats col-md-9">
						<div class="stat col-md-4">
							<div class="value">{{ calculateKdRatio modeStats.campaign.totalKills modeStats.campaign.totalDeaths }}</div>
							<div class="key">Kill/Death Ratio</div>
						</div>
						<div class="stat col-md-4">
							<div class="value">{{ numberWithDelim modeStats.campaign.totalKills }}</div>
							<div class="key">Total Kills</div>
						</div>
						<div class="stat col-md-4">
							<div class="value">{{ numberWithDelim modeStats.campaign.totalDeaths }}</div>
							<div class="key">Total Deaths</div>
						</div>

						<div class="stat col-md-4">
							<div class="value">{{ numberWithDelim modeStats.campaign.totalGamesStarted }}</div>
							<div class="key">Total Games Started</div>
						</div>
						<div class="stat col-md-4">
							<div class="value">{{ numberWithDelim modeStats.campaign.totalTerminalsVisited }}</div>
							<div class="key">Terminals Visited</div>
						</div>
						<div class="stat col-md-4">
							<div class="value">{{ modeStats.campaign.totalDuration }}</div>
							<div class="key">Playtime</div>
						</div>
					</div>
					<div class="mission-progression col-md-3">
						<div class="title">Mission Progression</div>
						<hr />

						<div class="progressions col-md-12 row no-mp">
							<div class="progression col-md-6">
								<div class="value" data-toggle="tooltip" data-placement="top" title="{{ h4DifficultyName modeStats.campaign.singlePlayerDifficulty }}">
									<div class="value-image" style="background-image: url('{{ h4DifficultyAsset modeStats.campaign.singlePlayerDifficulty 'large' }}');"></div>
								</div>
								<div class="key">Single Player</div>
							</div>
							<div class="progression col-md-6">
								<div class="value" data-toggle="tooltip" data-placement="top" title="{{ h4DifficultyName modeStats.campaign.coopDifficulty }}">
									<div class="value-image" style="background-image: url('{{ h4DifficultyAsset modeStats.campaign.coopDifficulty 'large' }}');"></div>
								</div>
								<div class="key">Coop</div>
							</div>
							<div class="progression col-md-6">
								<div class="value" data-toggle="tooltip" data-placement="top" title="{{ h4DifficultyName modeStats.campaign.singlePlayerDASO }}">
									<div class="value-image" style="background-image: url('{{ h4DifficultyAsset modeStats.campaign.singlePlayerDASO 'large' }}');"></div>
								</div>
								<div class="key">Single Player (LASO)</div>
							</div>
							<div class="progression col-md-6">
								<div class="value" data-toggle="tooltip" data-placement="top" title="{{ h4DifficultyName modeStats.campaign.coopDASO }}">
									<div class="value-image" style="background-image: url('{{ h4DifficultyAsset modeStats.campaign.coopDASO 'large' }}');"></div>
								</div>
								<div class="key">Coop (LASO)</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section id="spartan-ops-stats">
				<div class="section-header">
					Spartan Ops Stats
				</div>
				<div class="row">
					<div class="mode-stats col-md-9">
						<div class="stat col-md-4">
							<div class="value">{{ calculateKdRatio modeStats.spartanOps.totalKills modeStats.spartanOps.totalDeaths }}</div>
							<div class="key">Kill/Death Ratio</div>
						</div>
						<div class="stat col-md-4">
							<div class="value">{{ numberWithDelim modeStats.spartanOps.totalKills }}</div>
							<div class="key">Total Kills</div>
						</div>
						<div class="stat col-md-4">
							<div class="value">{{ numberWithDelim modeStats.spartanOps.totalDeaths }}</div>
							<div class="key">Total Deaths</div>
						</div>

						<div class="stat col-md-4">
							<div class="value">{{ numberWithDelim modeStats.spartanOps.totalMedals }}</div>
							<div class="key">Total Medals</div>
						</div>
						<div class="stat col-md-4">
							<div class="value">{{ numberWithDelim modeStats.spartanOps.totalGamesStarted }}</div>
							<div class="key">Total Games Started</div>
						</div>
						<div class="stat col-md-4">
							<div class="value">{{ modeStats.spartanOps.totalDuration }}</div>
							<div class="key">Playtime</div>
						</div>
					</div>
					<div class="mission-progression col-md-3 no-p">
						<div class="title">Mission Progression</div>
						<hr />
						<div class="progressions col-md-12 row no-mp">
							<div class="progression col-md-12">
								<span>Single Player Mission Progression</span>
								<div class="progress-bar-container">
									<div class="progress-bar" role="progressbar" aria-valuenow="{{ percentages.spartanOpsSpCompletion }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ percentages.spartanOpsSpCompletion }}%;">
										{{ percentages.spartanOpsSpCompletion }}% ({{ modeStats.spartanOps.totalSinglePlayerMissionsCompleted }}/{{ modeStats.spartanOps.totalMissionsPossible }})
									</div>
								</div>
							</div>
							<div class="progression col-md-12">
								<span>Coop Mission Progression</span>
								<div class="progress-bar-container">
									<div class="progress-bar" role="progressbar" aria-valuenow="{{ percentages.spartanOpsCoopCompletion }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ percentages.spartanOpsCoopCompletion }}%;">
										{{ percentages.spartanOpsCoopCompletion }}% ({{ modeStats.spartanOps.totalCoopMissionsCompleted }}/{{ modeStats.spartanOps.totalMissionsPossible }})
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section id="custom-games-stats">
				<div class="section-header">
					Customs Games Stats
				</div>
				<div class="row">
					<div class="mode-stats col-md-9">
						<div class="stat col-md-4">
							<div class="value">{{ modeStats.customGames.kdRatio }}</div>
							<div class="key">Kill/Death Ratio</div>
						</div>
						<div class="stat col-md-4">
							<div class="value">{{ numberWithDelim modeStats.customGames.averagePersonalScore }}</div>
							<div class="key">Average Personal Score</div>
						</div>
						<div class="stat col-md-4">
							<div class="value">{{ numberWithDelim modeStats.customGames.totalKills }}</div>
							<div class="key">Total Kills</div>
						</div>

						<div class="stat col-md-4">
							<div class="value">{{ numberWithDelim modeStats.customGames.totalDeaths }}</div>
							<div class="key">Total Deaths</div>
						</div>
						<div class="stat col-md-4">
							<div class="value">{{ numberWithDelim modeStats.customGames.totalGamesStarted }}</div>
							<div class="key">Total Games Started</div>
						</div>
						<div class="stat col-md-4">
							<div class="value">{{ numberWithDelim modeStats.customGames.totalGamesWon }}</div>
							<div class="key">Total Games Won</div>
						</div>

						<div class="stat col-md-4">
							<div class="value">{{ numberWithDelim modeStats.customGames.totalGamesCompleted }}</div>
							<div class="key">Total Games Completed</div>
						</div>
						<div class="stat col-md-4">
							<div class="value">{{ numberWithDelim modeStats.customGames.totalGameBaseVariantMedals }}</div>
							<div class="key">Mode Base Medals</div>
						</div>
						<div class="stat col-md-4">
							<div class="value">{{ modeStats.customGames.totalDuration }}</div>
							<div class="key">Playtime</div>
						</div>
					</div>
					<div class="favourite-variant col-md-3">
						<div class="title">Favourite Variant</div>
						<div class="variant-icon" style="background-image: url('{{ h4ResolveAsset modeStats.customGames.favoriteVariant.imageUrl 'large' }}');"></div>
						<hr />

						<div class="col-md-12 row no-mp">
							<div class="col-md-12">{{ modeStats.customGames.favoriteVariant.name }}</div>
							<div class="stat col-md-6">
								<div class="value">{{ numberWithDelim modeStats.customGames.totalKills }}</div>
								<div class="key">Total Kills</div>
							</div>
							<div class="stat col-md-6">
								<div class="value">{{ numberWithDelim modeStats.customGames.totalDeaths }}</div>
								<div class="key">Total Deaths</div>
							</div>
							<div class="stat col-md-6">
								<div class="value">{{ numberWithDelim modeStats.customGames.totalGamesStarted }}</div>
								<div class="key">Games Staretd</div>
							</div>
							<div class="stat col-md-6">
								<div class="value">{{ modeStats.customGames.totalDuration }}</div>
								<div class="key">Playtime</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>

		<div class="col-md-2">
			<nav class="sidebar hidden-sm hidden-xs" data-spy="affix" data-offset-top="567">
				{{> halo4/sidebar}}
			</nav>
		</div>
	</div>
</div>

{{#contentFor "scripts"}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script>
	// Setup Recent Matches data
	const recentMatches = <%== generate_recent_match_json() %>;
	<% match_images = Array.new(@header_matches.length) %>
	<% @header_matches['games'].each_with_index do |match, index| %>
		<% match_images[index] = resolve_asset_url(match['mapImageUrl'], 'large') %>
	<% end %>
	const recentMatchImages = <%== match_images.to_json %>;

	// Setup played game spread chart
	new Chart(document.getElementById('played-games-spread'), {
		type: 'doughnut',
		data: {
			labels: <%== played_games_spread_legend_json() %>,
			datasets: [
				{
					data: <%== played_games_spread_json() %>,
					backgroundColor: [
						'rgba(255, 99, 132, 0.2)',
						'rgba(54, 162, 235, 0.2)',
						'rgba(255, 206, 86, 0.2)',
						'rgba(75, 192, 192, 0.2)',
					],
					borderColor: [
						'rgba(255,99,132,1)',
						'rgba(54, 162, 235, 1)',
						'rgba(255, 206, 86, 1)',
						'rgba(75, 192, 192, 1)',
					],
					borderWidth: 1,
				},
			],
		},
		options: {
			legend: {
				display: true,
				position: 'bottom',
			},
		},
	});
</script>
{{/contentFor}}
