<div class="bs-header account-header" id="content">
	<div class="container">
		<% if content_for?(:setting_active) %>
			<h1><%= current_user.username %></h1>
			<p>Member Since <%= "#{current_user.created_at.day}/#{current_user.created_at.month}/#{current_user.created_at.year}" %></p>
			<ul>
				<% if current_user.role.identifier != 2 %>
					<li><span class="label" style="background-color: #<%= current_user.role.colour %>;"><%= current_user.role.name %></span></li>
				<% end %>
				<li><span class="label label-info">Halo 4</span></li>
				<li><span class="label label-info">Halo Reach</span></li>
				<li><span class="label label-info">Halo 3</span></li>
			</ul>
		<% else %>
			<h1><%= @account.username %></h1>
			<p>Member Since <%= "#{@account.created_at.day}/#{@account.created_at.month}/#{@account.created_at.year}" %></p>
			<ul>
				<% if @account.role.identifier != 2 %>
					<li><span class="label" style="background-color: #<%= @account.role.colour %>;"><%= @account.role.name %></span></li>
				<% end %>
				<li><span class="label label-info">Halo 4</span></li>
				<li><span class="label label-info">Halo Reach</span></li>
				<li><span class="label label-info">Halo 3</span></li>
			</ul>
		<% end %>
		<% if !content_for?(:setting_active) %>
			<div class="actions">
				<%= link_to 'Edit Profile', settings_profile_path, class: 'btn btn-outline-inverse btn-lg' %>
			</div>
		<% end %>

		<div class="h4-player-posed hidden-xs">
			<div class="player" style="background-image: url(https://spartans.svc.halowaypoint.com/players/iBotPeaches%20v5/h4/spartans/posed?target=large)"></div>
		</div>
	</div>
</div>