<div class="cover" style="background-image: url(<%= get_raw_asset_url(@chapter['ImageUrl'], 'large') %>)">
	<div class="mask">
		<div class="inner">
			<div class="title">
				<h2><%= @game['MapName'] %></h2>
				<p>
					<%= parse_datetime(@game['EndDateUtc']) %> | <%= duration_to_friendly(@game['Duration']) %>
				</p>
			</div>

			<div class="game-icon" style="background-image: url(<%= get_raw_asset_url(@difficulty['ImageUrl'], 'large') %>)"></div>

			<div class="map">
				on
				<br />
				<span class="focus"><%= @difficulty['Name'] %></span>
			</div>

			<div class="seperator"></div>

			<div class="victor">
				<div class="ffa-victor">
					<% if (@top_player['IsGuest']) %>
						<strong><%= gamertag_validation(@top_player['Gamertag']) %></strong>
					<% else %>
						<%= link_to(gamertag_validation(@top_player['Gamertag']), halo4_servicerecord_path(gamertag: gamertag_validation(@top_player['Gamertag']))) %>
					<% end %>
					led the game with <%= @top_player['Kills'] %>
					<% if (@top_player['Kills'] == 1) %>
						kill,
					<% else %>
						kills,
					<% end %>
					and a K/D of <%= calculate_kd(@top_player['Kills'], @top_player['Deaths']) %>
					</div>
			</div>
		</div>
	</div>
	<div class="victor-player-model hidden-xs" style="background-image: url(<%= get_player_model_url(@top_player['Gamertag'], 'medium') %>)"></div>
</div>