<% content_for :halo4, true %>
<% content_for :title, 'Halo 4 - iBotPeaches v5 - Capture The Flag on Valhalla' %>	
<% content_for :has_footer, true %>
<% content_for :halo4_active, 'game_history' %>
<% content_for :halo4_game_history_active, @css_class %>
<% content_for :scripts do %>
<link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>
<script>
	// Current Tab Sutff
	var currentViewTab = 0;
	$('#tab-overview').click(function(e) { currentViewTab = 0; });
	$('#tab-carnage').click(function(e) { currentViewTab = 1; });
	$('#tab-medals').click(function(e) { currentViewTab = 2; });


	function generateGraphHoverView(index, options, content, unit) {
		var row = options.data[index];
		var ykeys = options.ykeys;
		var labels = options.labels;
		
		var output = '<div class="graph-hover-legend"><span class="time">' + index + '</span><br /><div class="key">';
		for(var i = 0; i < ykeys.length; i++) {
			var label = labels[i];
			var ykey = ykeys[i];
			var colour = options.lineColors[i];

			output += '<span class="row" style="color: ' + colour + ';">' + label + ': ' + row[ykey] + ' ' + unit + '</span><br />';
		}
		output += '</div></div>'
		return output;
	}

	// Draw Graphs
	<%
		carnage = [ ]
		team_a = 0
		team_b = 0
		25.times do |i|
			tmp = rand(0..2)
			if tmp == 1
				tmp == rand(0..3)
				if tmp == 0
					team_a += 1
				elsif tmp == 1
					team_a += 2
				end
			end

			tmp = rand(0..2)
			if tmp == 1
				tmp == rand(0..3)
				if tmp == 0
					team_b += 1
				elsif tmp == 1
					team_b += 2
				end
			end

			carnage << { team_a: team_a, team_b: team_b }
		end
	%>
	Morris.Area({
		element: 'graph-carnage',
		data: [
			<% 
			index = 0
			carnage.each do |carnage_entry|
			%>
				<%= raw("{ y: '#{ index }', a: #{ carnage_entry[:team_a] }, b: #{ carnage_entry[:team_b] } },") %>
			<% 
				index += 1
			end
			%>
		],
		lineColors: [
			'#D96551',
			'#6384B0',
		],
		xkey: 'y',
		xLabels: 'decade',
		ykeys: ['a', 'b'],
		labels: ['Red Team', 'Blue Team'],
		behaveLikeLine: true,
		hideHover: true,
		hoverCallback: function (index, options, content) {
			return generateGraphHoverView(index, options, content, 'Kills');
		}
	});
	<%
		medals = [ ]
		team_a = 0
		team_b = 0
		25.times do |i|
			tmp = rand(0..2)
			if tmp == 1
				tmp == rand(0..3)
				if tmp == 0
					team_a += 1
				elsif tmp == 1
					team_a += 2
				end
			end

			tmp = rand(0..2)
			if tmp == 1
				tmp == rand(0..3)
				if tmp == 0
					team_b += 1
				elsif tmp == 1
					team_b += 2
				end
			end

			medals << { team_a: team_a, team_b: team_b }
		end
	%>
	Morris.Area({
		element: 'graph-medals',
		data: [
			<% 
			index = 0
			medals.each do |medals_entry|
			%>
				<%= raw("{ y: '#{ index }', a: #{ medals_entry[:team_a] }, b: #{ medals_entry[:team_b] } },") %>
			<% 
				index += 1
			end
			%>
		],
		lineColors: [
			'#D96551',
			'#6384B0',
		],
		xkey: 'y',
		xLabels: 'decade',
		ykeys: ['a', 'b'],
		labels: ['Red Team', 'Blue Team'],

		behaveLikeLine: true,
		hideHover: true,
		hoverCallback: function (index, options, content) {
			return generateGraphHoverView(index, options, content, 'Medals');
		}
	});

	$('.player-linker').click(function(e) {
		if (currentViewTab != 0) // Default
			e.preventDefault();

		if (currentViewTab == 1) { // Carnage
			data = jQuery.parseJSON($(this).attr('data-attr'));
			$('#carnage > .owner').text(data.owner.gamertag + "'s Carnage");

			var output = '';
			for(var i = 0; i < data.carnage.length; i++) {
				output += '\
				<tr>\
					<td> \
						<img src="' + data.carnage[i].weapon.image + '" /> \
					</td> \
					<td>' + data.carnage[i].stats.kills + '</td> \
					<td>' + data.carnage[i].stats.headshots + '</td> \
					<td>' + data.carnage[i].stats.deaths + '</td> \
					<td>' + data.carnage[i].stats.penalties + '</td> \
					<td>' + data.carnage[i].stats.spread + '</td> \
				</tr>';
			}
			$('#carnage > table > tbody').html(output);

		}
	});

	$('.player-details-expander').click(function(e) {
		e.preventDefault();

		var identifier = $(this).attr('data-ref');
		var expander = $('#' + identifier + ' > div > .expander-indicator > .player-details-expander');
		var detailsView = $('#' + identifier + ' > .player-data');

		if (detailsView.hasClass('collapsed')) {
			detailsView.removeClass('collapsed');
			detailsView.addClass('expanded');
			detailsView.show(400, function() { });
			expander.removeClass('glyphicon-chevron-down');
			expander.addClass('glyphicon-chevron-up');
		} else {
			detailsView.removeClass('expanded');
			detailsView.addClass('collapsed');
			detailsView.hide(400, function() { });
			expander.removeClass('glyphicon-chevron-up');
			expander.addClass('glyphicon-chevron-down');
		}
	});
</script>
<% end %>
<% content_for :template, 'halo4 halo4_game_history' %>

<%= render partial: 'halo4/partials/header' %>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<%= render partial: 'halo4/partials/sidebar' %>
		</div>

		<div class="col-md-9">
			<div class="bs-branch-section game-details">
				<div class="page-header row">
					<div class="col-md-10">
						<h1>Capture the Flag on Valhalla</h1>
					</div>
					<div class="col-md-2 focus-col">
						<%= link_to raw('<span class="glyphicon glyphicon-star" style="padding-right: 8px;"></span>Favourite'), '#', { class: 'btn btn-default' } %>
					</div>
				</div>

				<div class="cover" style="background-image: url(https://assets.halowaypoint.com/games/h4/maps/v1/large/ragnarok.png)">
					<div class="mask">
						<div class="inner">
							<div class="title">
								<h2>Capture the Flag</h2>
								<p>
									11/07/2013 | <%= duration_to_friendly(@duration) %>
								</p>
							</div>

							<div class="game-icon" style="background-image: url(https://assets.halowaypoint.com/games/h4/game-base-variants/v1/large/ctf.png)"></div>

							<div class="map">
								on
								<br />
								<span class="focus">Valhalla</span>
							</div>

							<div class="seperator"></div>

							<div class="victor">
								<%= link_to 'Gerrit', '#' %>
								led the game with a personal score of 8, and a K/D of 1.67
							</div>
						</div>
					</div>
					<div class="victor-player-model hidden-xs" style="background-image: url(https://spartans.svc.halowaypoint.com/players/Swainooooo/h4/spartans/fullbody?target=medium)"></div>
				</div>

				<hr style="margin: 30px 0 30px 0;" />

				<div class="details">
					<ul class="nav nav-tabs" style="margin-bottom: 15px;">
						<li class="active">
							<a id="tab-overview" href="#overview" data-toggle="tab">Overview</a>
						</li>
						<li>
							<a id="tab-carnage" href="#graph" data-toggle="tab">Graphs?</a>
						</li>
					</ul>

					<div id="player-listing" class="tab-content">
						<div class="tab-pane fade active in" id="overview">
							<%
								team_data = [
									{
										name: 'Red Team',
										colour: '#D96551'
									},
									{
										name: 'Blue Team',
										colour: '#6384B0'
									}
								]
							%>
							<% team_data.each do |team| %>
								<div class="team red-team col-md-12" style="border-color: <%= team[:colour] %>;">
									<div class="col-md-12 header">
										<div class="row">
											<div class="col-md-5 team-indicator"><%= team[:name] %></div>
											<div class="col-md-1 score-indicator hidden-xs hidden-sm">Score</div>
											<div class="col-md-1 kills-indicator hidden-xs hidden-sm">Kills</div>
											<div class="col-md-1 deaths-indicator hidden-xs hidden-sm">Deaths</div>
											<div class="col-md-2 kd-indicator hidden-xs hidden-sm">K/D Ratio</div>
											<div class="col-md-1 assists-indicator hidden-xs hidden-sm">Assists</div>
											<div class="col-md-1 csr-indicator hidden-xs hidden-sm">CSR</div>
										</div>
									</div>
									<div class="team-players">
										<% 5.times do |i| %>
											<% identifier = rand(100000..999999) %>
											<div class="col-md-12" id="<%= identifier %>">
												<div class="desktop-view hidden-xs hidden-sm row">
													<div class="col-md-1 expander-indicator">
														<%= link_to('', '#', class: 'player-details-expander btn btn-default btn-large glyphicon glyphicon-chevron-down', 'data-ref' => identifier) %>
													</div>
													<div class="col-md-1 visual-flair" style="background-color: <%= team[:colour] %>; background-image: url(https://emblems.svc.halowaypoint.com/h4/emblems/brick_cyan_stuck-on-steel_circle?size=48);"></div>
													<div class="col-md-3 alphabetical-flair">
														<%= link_to('Xerax', halo4_servicerecord_path(gamertag: 'xerax')) %>
														<br />
														<strong>DOPE</strong>
													</div>
													<div class="col-md-1 score-indicator">420</div>
													<div class="col-md-1 kills-indicator">15</div>
													<div class="col-md-1 deaths-indicator">7</div>
													<div class="col-md-2 kd-indicator">1.55</div>
													<div class="col-md-1 assists-indicator">6</div>
													<div class="col-md-1 csr-indicator" style="background-image: url(https://assets.halowaypoint.com/games/h4/csr/v1/small/50.png);"></div>
												</div>
												<div class="mobile-view visible-xs visible-sm row">
													<div class="expander-indicator">
														<div class="player-details-expander" data-ref="<%= identifier %>">
															<div class="player-indicator">
																Xerax
																<br />
																<strong>DOPE</strong>
															</div>
														</div>
													</div>
												</div>
												<div class="player-data collapsed" style="display: none;">
													<ul class="nav nav-tabs" style="margin-bottom: 15px;">
														<li class="active">
															<a id="tab-summary" href="#<%= identifier %>-summary" data-toggle="tab">Summary</a>
														</li>
														<li>
															<a id="tab-weapons" href="#<%= identifier %>-weapons" data-toggle="tab">Weapons</a>
														</li>
														<li>
															<a id="tab-medals" href="#<%= identifier %>-medals" data-toggle="tab">Medals</a>
														</li>
													</ul>

													<div class="player-stats" class="tab-content">
														<div class="tab-pane fade active in" id="<%= identifier %>-summary">
														</div>
														<div class="tab-pane fade" id="<%= identifier %>-weapons">
														</div>
														<div class="medals tab-pane fade" id="<%= identifier %>-medals">
															<% medal_graph_identifier = 'player-medals-' + rand(1000..9999).to_s %>
															<div class="graph-container hidden-xs">
																<div id="<%= medal_graph_identifier %>" style="height: 250px; width: 700px;"></div>
															</div>

															<h2>Top Medals</h2>
															<hr />
															<div class="row" id="top-medals">
																<div class="col-md-1 col-md-offset-3">
																	<div class="medal" style="background-image: url('https://assets.halowaypoint.com/games/h4/medals/v1/large/bonus-first-strike.png')">
																	</div>
																	<%= rand(2..12) %>
																</div>
																<div class="col-md-1">
																	<div class="medal" style="background-image: url('https://assets.halowaypoint.com/games/h4/medals/v1/large/bonus-first-strike.png')">
																	</div>
																	<%= rand(2..12) %>
																</div>
																<div class="col-md-1">
																	<div class="medal" style="background-image: url('https://assets.halowaypoint.com/games/h4/medals/v1/large/bonus-first-strike.png')">
																	</div>
																	<%= rand(2..12) %>
																</div>
																<div class="col-md-1">
																	<div class="medal" style="background-image: url('https://assets.halowaypoint.com/games/h4/medals/v1/large/bonus-first-strike.png')">
																	</div>
																	<%= rand(2..12) %>
																</div>
															</div>


															<h2>All Medals</h2>
															<hr />
															<ul class="nav nav-tabs">
																<li class="active">
																	<%= link_to('Kill', "#medal-tier-kill-#{identifier}", 'data-toggle' => 'tab') %>
																</li>
																<li>
																	<%= link_to('Bonus / Style', "#medal-tier-style-#{identifier}", 'data-toggle' => 'tab') %>
																</li>
																<li>
																	<%= link_to('Assist/Support', "#medal-tier-support-#{identifier}", 'data-toggle' => 'tab') %>
																</li>
																<li>
																	<%= link_to('Spree', "#medal-tier-spree-#{identifier}", 'data-toggle' => 'tab') %>
																</li>
																<li>
																	<%= link_to('Mode Specific', "#medal-tier-specific-#{identifier}", 'data-toggle' => 'tab') %>
																</li>
															</ul>

															<div id='player-medals' class="tab-content">
																<div class="tab-pane fade active in" id="medal-tier-kill-<%= identifier %>">
																	<% 3.times do |i| %>
																		<div class="col-md-12 medal-entry row">
																			<div class="medal" style="background-image: url(https://assets.halowaypoint.com/games/h4/medals/v1/large/kill-kill.png)"></div>
																			<div class="description">
																				<span class="name">Kill</span>
																				<br />
																				Generic Kill.
																			</div>
																			<div class="count">
																				<span class="integer"><%= rand(0..15) %></span>
																				<br />
																				<span class="in-dick-ator">earned</span> 
																			</div>
																		</div>
																		<hr />
																	<% end %>
																</div>
																<div class="tab-pane fade" id="medal-tier-style-<%= identifier %>">
																	<% 3.times do |i| %>
																		<div class="col-md-12 medal-entry row">
																			<div class="medal" style="background-image: url(https://assets.halowaypoint.com/games/h4/medals/v1/large/kill-kill.png)"></div>
																			<div class="description">
																				<span class="name">Kill</span>
																				<br />
																				Generic Kill.
																			</div>
																			<div class="count">
																				<span class="integer"><%= rand(0..15) %></span>
																				<br />
																				<span class="in-dick-ator">earned</span> 
																			</div>
																		</div>
																		<hr />
																	<% end %>
																</div>
																<div class="tab-pane fade" id="medal-tier-support-<%= identifier %>">
																	<% 3.times do |i| %>
																		<div class="col-md-12 medal-entry row">
																			<div class="medal" style="background-image: url(https://assets.halowaypoint.com/games/h4/medals/v1/large/kill-kill.png)"></div>
																			<div class="description">
																				<span class="name">Kill</span>
																				<br />
																				Generic Kill.
																			</div>
																			<div class="count">
																				<span class="integer"><%= rand(0..15) %></span>
																				<br />
																				<span class="in-dick-ator">earned</span> 
																			</div>
																		</div>
																		<hr />
																	<% end %>
																</div>
																<div class="tab-pane fade" id="medal-tier-spree-<%= identifier %>">
																	<% 3.times do |i| %>
																		<div class="col-md-12 medal-entry row">
																			<div class="medal" style="background-image: url(https://assets.halowaypoint.com/games/h4/medals/v1/large/kill-kill.png)"></div>
																			<div class="description">
																				<span class="name">Kill</span>
																				<br />
																				Generic Kill.
																			</div>
																			<div class="count">
																				<span class="integer"><%= rand(0..15) %></span>
																				<br />
																				<span class="in-dick-ator">earned</span> 
																			</div>
																		</div>
																		<hr />
																	<% end %>
																</div>
																<div class="tab-pane fade" id="medal-tier-specific-<%= identifier %>">
																	<% 3.times do |i| %>
																		<div class="col-md-12 medal-entry row">
																			<div class="medal" style="background-image: url(https://assets.halowaypoint.com/games/h4/medals/v1/large/kill-kill.png)"></div>
																			<div class="description">
																				<span class="name">Kill</span>
																				<br />
																				Generic Kill.
																			</div>
																			<div class="count">
																				<span class="integer"><%= rand(0..15) %></span>
																				<br />
																				<span class="in-dick-ator">earned</span> 
																			</div>
																		</div>
																		<hr />
																	<% end %>
																</div>
															</div>

															<% content_for :scripts do %>
																<script>
																	<%
																		medals = [ ]
																		team_a = 0
																		25.times do |i|
																			tmp = rand(0..2)
																			if tmp == 1
																				tmp == rand(0..3)
																				if tmp == 0
																					team_a += 1
																				elsif tmp == 1
																					team_a += 2
																				end
																			end

																			medals << team_a
																		end
																	%>
																	Morris.Area({
																		element: '<%= medal_graph_identifier %>',
																		data: [
																			<% 
																			index = 0
																			medals.each do |medals_entry|
																			%>
																				<%= raw("{ y: '#{ index }', a: #{ medals_entry } },") %>
																			<% 
																				index += 1
																			end
																			%>
																		],
																		lineColors: [ '<%= team[:colour] %>' ],
																		xkey: 'y',
																		xLabels: 'decade',
																		ykeys: [ 'a' ],
																		labels: [ 'Xerax' ],
																		behaveLikeLine: true,
																		hideHover: true,
																		hoverCallback: function (index, options, content) {
																			return generateGraphHoverView(index, options, content, 'Medals');
																		}
																	});
																</script>
															<% end %>
														</div>
													</div>
												</div>
											</div>
											<hr />
										<% end %>
									</div>
								</div>
							<% end %>
						</div>
						<div class="tab-pane fade in" id="graph">
						</div>
					</div>
				</div>

				<div class="details hidden-xs">
					<ul class="nav nav-tabs" style="margin-bottom: 15px;">
						<li class="active">
							<a id="tab-overview" href="#overview" data-toggle="tab">Overview</a>
						</li>
						<li>
							<a id="tab-carnage" href="#carnage" data-toggle="tab">Carnage</a>
						</li>
						<li>
							<a id="tab-medals" href="#medals" data-toggle="tab">Medals</a>
						</li>
					</ul>

					<div id="myTabContent" class="tab-content">
						<div class="tab-pane fade active in" id="overview">
							<h2>Timelines</h2>
							<hr />
							<ul class="nav nav-tabs" style="margin-bottom: 15px;">
								<li class="active">
									<a id="tab-overview" href="#graph-kill" data-toggle="tab">Kills</a>
								</li>
								<li>
									<a id="tab-carnage" href="#graph-medal" data-toggle="tab">Medals</a>
								</li>
							</ul>
							<div id="graph-tab-content" class="tab-content">
								<div class="tab-pane fade active in" id="graph-kill">
									<div class="graph-container">
										<div id="graph-carnage" style="height: 250px; width: 700px;"></div>
									</div>
								</div>
								<div class="tab-pane fade in" id="graph-medal">
									<div class="graph-container">
										<div id="graph-medals" style="height: 250px; width: 700px;"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane fade in" id="carnage">
							<span class="click-helper">* Click a players name to get their carnage report.</span>
							<hr />

							<h2 class="owner"></h2>
							<table class="table">
								<thead>
									<tr>
										<th>Weapon</th>
										<th>Kills</th>
										<th>Headshots</th>
										<th>Deaths</th>
										<th>Penalties</th>
										<th>Spread</th>
									</tr>
								</thead>
								<tbody>
									
								</tbody>
							</table>
						</div>
						<div class="tab-pane fade in" id="medals">
							<span class="click-helper">* Click a players name to get their medal report.</span>
							<hr />

							<h2 class="owner"></h2>
							<div class="row">
								<div class="col-md-12">
									<ul class="nav nav-tabs" style="margin-bottom: 15px;"></ul>
									<div class="tab-content"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
