<% content_for :halo4, true %>
<% content_for :title, 'Halo 4 - iBotPeaches v5 - Capture The Flag on Valhalla' %>	
<% content_for :has_footer, true %>
<% content_for :halo4_active, 'game_history' %>
<% content_for :halo4_game_history_active, @css_class %>
<% content_for :scripts do %>
<link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>
<script>
	// Current Tab Sutff
	var currentViewTab = 0;
	$('#tab-overview').click(function(e) { currentViewTab = 0; });
	$('#tab-carnage').click(function(e) { currentViewTab = 1; });
	$('#tab-medals').click(function(e) { currentViewTab = 2; });


	function generateGraphHoverView(index, options, content, unit) {
		var row = options.data[index];
		var ykeys = options.ykeys;
		var labels = options.labels;
		
		var output = '<div class="graph-hover-legend"><span class="time">' + index + '</span><br /><div class="key">';
		for(var i = 0; i < ykeys.length; i++) {
			var label = labels[i];
			var ykey = ykeys[i];
			var colour = options.lineColors[i];

			output += '<span class="row" style="color: ' + colour + ';">' + label + ': ' + row[ykey] + ' ' + unit + '</span><br />';
		}
		output += '</div></div>'
		return output;
	}

	// Draw Graphs
	<%
		carnage = [ ]
		team_a = 0
		team_b = 0
		25.times do |i|
			tmp = rand(0..2)
			if tmp == 1
				tmp == rand(0..3)
				if tmp == 0
					team_a += 1
				elsif tmp == 1
					team_a += 2
				end
			end

			tmp = rand(0..2)
			if tmp == 1
				tmp == rand(0..3)
				if tmp == 0
					team_b += 1
				elsif tmp == 1
					team_b += 2
				end
			end

			carnage << { team_a: team_a, team_b: team_b }
		end
	%>
	Morris.Area({
		element: 'graph-carnage',
		data: [
			<% 
			index = 0
			carnage.each do |carnage_entry|
			%>
				<%= raw("{ y: '#{ index }', a: #{ carnage_entry[:team_a] }, b: #{ carnage_entry[:team_b] } },") %>
			<% 
				index += 1
			end
			%>
		],
		lineColors: [
			'#D96551',
			'#6384B0',
		],
		xkey: 'y',
		xLabels: 'decade',
		ykeys: ['a', 'b'],
		labels: ['Red Team', 'Blue Team'],
		behaveLikeLine: true,
		hideHover: true,
		hoverCallback: function (index, options, content) {
			return generateGraphHoverView(index, options, content, 'Kills');
		}
	});
	<%
		medals = [ ]
		team_a = 0
		team_b = 0
		25.times do |i|
			tmp = rand(0..2)
			if tmp == 1
				tmp == rand(0..3)
				if tmp == 0
					team_a += 1
				elsif tmp == 1
					team_a += 2
				end
			end

			tmp = rand(0..2)
			if tmp == 1
				tmp == rand(0..3)
				if tmp == 0
					team_b += 1
				elsif tmp == 1
					team_b += 2
				end
			end

			medals << { team_a: team_a, team_b: team_b }
		end
	%>
	Morris.Area({
		element: 'graph-medals',
		data: [
			<% 
			index = 0
			medals.each do |medals_entry|
			%>
				<%= raw("{ y: '#{ index }', a: #{ medals_entry[:team_a] }, b: #{ medals_entry[:team_b] } },") %>
			<% 
				index += 1
			end
			%>
		],
		lineColors: [
			'#D96551',
			'#6384B0',
		],
		xkey: 'y',
		xLabels: 'decade',
		ykeys: ['a', 'b'],
		labels: ['Red Team', 'Blue Team'],

		behaveLikeLine: true,
		hideHover: true,
		hoverCallback: function (index, options, content) {
			return generateGraphHoverView(index, options, content, 'Medals');
		}
	});

	$('.player-linker').click(function(e) {
		if (currentViewTab != 0) // Default
			e.preventDefault();

		if (currentViewTab == 1) { // Carnage
			data = jQuery.parseJSON($(this).attr('data-attr'));
			$('#carnage > .owner').text(data.owner.gamertag + "'s Carnage");

			var output = '';
			for(var i = 0; i < data.carnage.length; i++) {
				output += '\
				<tr>\
					<td> \
						<img src="' + data.carnage[i].weapon.image + '" /> \
					</td> \
					<td>' + data.carnage[i].stats.kills + '</td> \
					<td>' + data.carnage[i].stats.headshots + '</td> \
					<td>' + data.carnage[i].stats.deaths + '</td> \
					<td>' + data.carnage[i].stats.penalties + '</td> \
					<td>' + data.carnage[i].stats.spread + '</td> \
				</tr>';
			}
			$('#carnage > table > tbody').html(output);

		} else if (currentViewTab == 2) { // Medals
			data = jQuery.parseJSON($(this).attr('data-attr'));
			$('#medals > .owner').text(data.owner.gamertag + "'s Medals");

			var outputHeader = '';
			var outputContent = '';
			for(var i = 0; i < data.medals.length; i++) {
				var activeText = '';
				var tierName = data.medals[i].tier;
				var tierNameSafe = '0x' + (Math.floor(Math.random() * 10000) + 1).toString(16);
				if (i == 0) activeText = 'active';

				outputHeader += '\
				<li class="' + activeText + '"> \
					<a href="#' + tierNameSafe + '" data-toggle="tab">' + tierName + '</a> \
				</li>';

				outputContent += '<div class="tab-pane fade in ' + activeText + '" id="' + tierNameSafe + '">';

				for(var j = 0; j < data.medals[i].medals.length; j++) {
					var medalData = data.medals[i].medals[j];
					outputContent += ' \
					<div class="col-md-12 medal-entry row"> \
						<div class="medal" style="background-image: url(' + medalData.medal.image + ')"></div> \
						<div class="description"> \
							<span class="name">' + medalData.medal.name + '</span> \
							<br /> \
							' + medalData.medal.desc + ' \
						</div> \
						<div class="count"> \
							<span class="integer">' + medalData.count + '</span> \
							<br /> \
							<span class="in-dick-ator">earned</span> \
						</div> \
					</div> \
					<hr />';
				}

				outputContent += '</div>';
			}
			$('#medals > .row > .col-md-12 > .nav').html(outputHeader);
			$('#medals > .row > .col-md-12 > .tab-content').html(outputContent);
		}
	});
</script>
<% end %>
<% content_for :template, 'halo4 halo4_game_history' %>

<%= render partial: 'halo4/partials/header' %>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<%= render partial: 'halo4/partials/sidebar' %>
		</div>

		<div class="col-md-9">
			<div class="bs-branch-section game-details">
				<div class="page-header row">
					<div class="col-md-10">
						<h1>Capture the Flag on Valhalla</h1>
					</div>
					<div class="col-md-2 focus-col">
						<%= link_to raw('<span class="glyphicon glyphicon-star" style="padding-right: 8px;"></span>Favourite'), '#', { class: 'btn btn-default' } %>
					</div>
				</div>

				<div class="cover" style="background-image: url(https://assets.halowaypoint.com/games/h4/maps/v1/large/ragnarok.png)">
					<div class="mask">
						<div class="inner">
							<div class="title">
								<h2>Capture the Flag</h2>
								<p>
									11/07/2013 | <%= duration_to_friendly(@duration) %>
								</p>
							</div>

							<div class="game-icon" style="background-image: url(https://assets.halowaypoint.com/games/h4/game-base-variants/v1/large/ctf.png)"></div>

							<div class="map">
								on
								<br />
								<span class="focus">Valhalla</span>
							</div>

							<div class="seperator"></div>

							<div class="victor">
								<%= link_to 'Gerrit', '#' %>
								led the game with a personal score of 8, and a K/D of 1.67
							</div>
						</div>
					</div>
					<div class="victor-player-model hidden-xs" style="background-image: url(https://spartans.svc.halowaypoint.com/players/Swainooooo/h4/spartans/fullbody?target=medium)"></div>
				</div>

				<hr style="margin: 30px 0 30px 0;" />

				<div class="details hidden-xs">
					<ul class="nav nav-tabs" style="margin-bottom: 15px;">
						<li class="active">
							<a id="tab-overview" href="#overview" data-toggle="tab">Overview</a>
						</li>
						<li>
							<a id="tab-carnage" href="#carnage" data-toggle="tab">Carnage</a>
						</li>
						<li>
							<a id="tab-medals" href="#medals" data-toggle="tab">Medals</a>
						</li>
					</ul>

					<div id="myTabContent" class="tab-content">
						<div class="tab-pane fade active in" id="overview"></div>
						<div class="tab-pane fade in" id="carnage">
							<div id="graph-carnage"></div>
						</div>
						<div class="tab-pane fade in" id="medals">
							<div id="graph-medals"></div>
						</div>
					</div>

					<table class="table red-team team-table" style="border-left: 4px solid #D96551;">
						<thead style="background-color: #D96551;">
							<tr>
								<th>
									Red Team
								</th>
								<th>
									Score
								</th>
								<th>
									Kills
								</th>
								<th>
									Deaths
								</th>
								<th>
									K/D Ratio
								</th>
								<th>
									Assists
								</th>
								<th>
									Penalties
								</th>
							</tr>
						</thead>

						<tbody>
							<% 5.times do |i| %>
								<% dnf = 'end-dnf' if rand(0..4) == 1 %>
								<tr class="<%= dnf %>">
									<td>
										<div class="player-emblem" style="background-color: #D96551; background-image: url(https://emblems.svc.halowaypoint.com/h4/emblems/brick_cyan_stuck-on-steel_circle?size=48);"></div>
										<div class="player-gamertag">
											<%= link_to 'Xerax', halo4_servicerecord_path(gamertag: 'xerax'), class: 'player-linker', 'data-attr' => '{"owner":{"gamertag":"Xerax"},"carnage":[{"weapon":{"image":"https://assets.halowaypoint.com/games/h4/damage-types/v1/large/battle-rifle.png","name":"Battle Rifle","description":"DESIGNATION: BR85 Heavy-Barrel Service Rifle. The BR85HB Service Rifle is a gas-operated, magazine-fed, semi-automatic rifle optimized for three-round burst firing, and proven to be an extraordinarily versatile weapon at a wide variety of ranges in the hands of a capable marksman.","stats":{"power":5,"range":7,"faction":"UNSC"}},"stats":{"kills":7,"headshots":6,"deaths":0,"penalties":0,"spread":7}},{"weapon":{"image":"https://assets.halowaypoint.com/games/h4/damage-types/v1/large/melee.png","name":"Melee","description":"DESIGNATION: BR85 Heavy-Barrel Service Rifle. The BR85HB Service Rifle is a gas-operated, magazine-fed, semi-automatic rifle optimized for three-round burst firing, and proven to be an extraordinarily versatile weapon at a wide variety of ranges in the hands of a capable marksman.","stats":{"power":0,"range":0,"faction":"None"}},"stats":{"kills":2,"headshots":0,"deaths":0,"penalties":0,"spread":2}},{"weapon":{"image":"https://assets.halowaypoint.com/games/h4/damage-types/v1/large/magnum.png","name":"Magnum","description":"DESIGNATION: M6H Personal Defense Weapon System . The M6H Magnum is a semi-automatic, recoil-operated, magazine-fed handgun and the standard personal sidearm of all branches of the UNSC post-2555. This weapon is surprisingly effective at reasonably long distances, proving its universal value in the field.","stats":{"power":5,"range":6,"faction":"UNSC"}},"stats":{"kills":1,"headshots":1,"deaths":0,"penalties":0,"spread":1}},{"weapon":{"image":"https://assets.halowaypoint.com/games/h4/damage-types/v1/large/covenant-carbine.png","name":"Carbine","description":"Some shit about a carbine","stats":{"power":5,"range":7,"faction":"Covenant"}},"stats":{"kills":0,"headshots":0,"deaths":3,"penalties":0,"spread":-3}}],"medals":[{"tier":"Kill","medals":[{"medal":{"name":"Headshot","desc":"Headshot Kill","image":"https://assets.halowaypoint.com/games/h4/medals/v1/large/kill-headshot.png"},"count":69},{"medal":{"name":"Melee Kill","desc":"Hit and Kill an opponent with a melee.","image":"https://assets.halowaypoint.com/games/h4/medals/v1/large/kill-beat-down.png"},"count":5},{"medal":{"name":"Kill","desc":"Generic Kill.","image":"https://assets.halowaypoint.com/games/h4/medals/v1/large/kill-kill.png"},"count":2}]},{"tier":"Bonus / Style","medals":[{"medal":{"name":"Headshot","desc":"Headshot Kill","image":"https://assets.halowaypoint.com/games/h4/medals/v1/large/kill-headshot.png"},"count":69},{"medal":{"name":"Melee Kill","desc":"Hit and Kill an opponent with a melee.","image":"https://assets.halowaypoint.com/games/h4/medals/v1/large/kill-beat-down.png"},"count":5},{"medal":{"name":"Kill","desc":"Generic Kill.","image":"https://assets.halowaypoint.com/games/h4/medals/v1/large/kill-kill.png"},"count":2}]},{"tier":"Assist / Support","medals":[{"medal":{"name":"Headshot","desc":"Headshot Kill","image":"https://assets.halowaypoint.com/games/h4/medals/v1/large/kill-headshot.png"},"count":69},{"medal":{"name":"Melee Kill","desc":"Hit and Kill an opponent with a melee.","image":"https://assets.halowaypoint.com/games/h4/medals/v1/large/kill-beat-down.png"},"count":5},{"medal":{"name":"Kill","desc":"Generic Kill.","image":"https://assets.halowaypoint.com/games/h4/medals/v1/large/kill-kill.png"},"count":2}]},{"tier":"Mode Specific","medals":[{"medal":{"name":"Headshot","desc":"Headshot Kill","image":"https://assets.halowaypoint.com/games/h4/medals/v1/large/kill-headshot.png"},"count":69},{"medal":{"name":"Melee Kill","desc":"Hit and Kill an opponent with a melee.","image":"https://assets.halowaypoint.com/games/h4/medals/v1/large/kill-beat-down.png"},"count":5},{"medal":{"name":"Kill","desc":"Generic Kill.","image":"https://assets.halowaypoint.com/games/h4/medals/v1/large/kill-kill.png"},"count":2}]}]}' %>
											<br />
											<strong>DOPE</strong>
										</div>
										<div class="player-csr" style="background-image: url(https://assets.halowaypoint.com/games/h4/csr/v1/small/50.png);"></div>
										<div class="clearfix"></div>
									</td>
									<td>420</td>
									<td>15</td>
									<td>7</td>
									<td>1.55</td>
									<td>6</td>
									<td>1</td>
								</tr>
							<% end %>
						</tbody>
					</table>

					<table class="table blue-team team-table" style="border-left: 4px solid #6384B0;">
						<thead style="background-color: #6384B0;">
							<tr>
								<th>
									Blue Team
								</th>
								<th>
									Score
								</th>
								<th>
									Kills
								</th>
								<th>
									Deaths
								</th>
								<th>
									K/D Ratio
								</th>
								<th>
									Assists
								</th>
								<th>
									Penalties
								</th>
							</tr>
						</thead>

						<tbody>
							<% 5.times do |i| %>
								<% dnf = 'end-dnf' if rand(0..4) == 1 %>
								<tr class="<%= dnf %>">
									<td>
										<div class="player-emblem" style="background-color: #6384B0; background-image: url(https://emblems.svc.halowaypoint.com/h4/emblems/brick_cyan_stuck-on-steel_circle?size=48);"></div>
										<div class="player-gamertag">
											<%= link_to 'Xerax', halo4_servicerecord_path(gamertag: 'xerax'), class: 'player-linker', 'data-attr' => '{"owner":{"gamertag":"Xerax"},"carnage":[{"weapon":{"image":"https://assets.halowaypoint.com/games/h4/damage-types/v1/large/battle-rifle.png","name":"Battle Rifle","description":"DESIGNATION: BR85 Heavy-Barrel Service Rifle. The BR85HB Service Rifle is a gas-operated, magazine-fed, semi-automatic rifle optimized for three-round burst firing, and proven to be an extraordinarily versatile weapon at a wide variety of ranges in the hands of a capable marksman.","stats":{"power":5,"range":7,"faction":"UNSC"}},"stats":{"kills":7,"headshots":6,"deaths":0,"penalties":0,"spread":7}},{"weapon":{"image":"https://assets.halowaypoint.com/games/h4/damage-types/v1/large/melee.png","name":"Melee","description":"DESIGNATION: BR85 Heavy-Barrel Service Rifle. The BR85HB Service Rifle is a gas-operated, magazine-fed, semi-automatic rifle optimized for three-round burst firing, and proven to be an extraordinarily versatile weapon at a wide variety of ranges in the hands of a capable marksman.","stats":{"power":0,"range":0,"faction":"None"}},"stats":{"kills":2,"headshots":0,"deaths":0,"penalties":0,"spread":2}},{"weapon":{"image":"https://assets.halowaypoint.com/games/h4/damage-types/v1/large/magnum.png","name":"Magnum","description":"DESIGNATION: M6H Personal Defense Weapon System . The M6H Magnum is a semi-automatic, recoil-operated, magazine-fed handgun and the standard personal sidearm of all branches of the UNSC post-2555. This weapon is surprisingly effective at reasonably long distances, proving its universal value in the field.","stats":{"power":5,"range":6,"faction":"UNSC"}},"stats":{"kills":1,"headshots":1,"deaths":0,"penalties":0,"spread":1}},{"weapon":{"image":"https://assets.halowaypoint.com/games/h4/damage-types/v1/large/covenant-carbine.png","name":"Carbine","description":"Some shit about a carbine","stats":{"power":5,"range":7,"faction":"Covenant"}},"stats":{"kills":0,"headshots":0,"deaths":3,"penalties":0,"spread":-3}}],"medals":[{"tier":"Kill","medals":[{"medal":{"name":"Headshot","desc":"Headshot Kill","image":"https://assets.halowaypoint.com/games/h4/medals/v1/large/kill-headshot.png"},"count":69},{"medal":{"name":"Melee Kill","desc":"Hit and Kill an opponent with a melee.","image":"https://assets.halowaypoint.com/games/h4/medals/v1/large/kill-beat-down.png"},"count":5},{"medal":{"name":"Kill","desc":"Generic Kill.","image":"https://assets.halowaypoint.com/games/h4/medals/v1/large/kill-kill.png"},"count":2}]},{"tier":"Bonus / Style","medals":[{"medal":{"name":"Headshot","desc":"Headshot Kill","image":"https://assets.halowaypoint.com/games/h4/medals/v1/large/kill-headshot.png"},"count":69},{"medal":{"name":"Melee Kill","desc":"Hit and Kill an opponent with a melee.","image":"https://assets.halowaypoint.com/games/h4/medals/v1/large/kill-beat-down.png"},"count":5},{"medal":{"name":"Kill","desc":"Generic Kill.","image":"https://assets.halowaypoint.com/games/h4/medals/v1/large/kill-kill.png"},"count":2}]},{"tier":"Assist / Support","medals":[{"medal":{"name":"Headshot","desc":"Headshot Kill","image":"https://assets.halowaypoint.com/games/h4/medals/v1/large/kill-headshot.png"},"count":69},{"medal":{"name":"Melee Kill","desc":"Hit and Kill an opponent with a melee.","image":"https://assets.halowaypoint.com/games/h4/medals/v1/large/kill-beat-down.png"},"count":5},{"medal":{"name":"Kill","desc":"Generic Kill.","image":"https://assets.halowaypoint.com/games/h4/medals/v1/large/kill-kill.png"},"count":2}]},{"tier":"Mode Specific","medals":[{"medal":{"name":"Headshot","desc":"Headshot Kill","image":"https://assets.halowaypoint.com/games/h4/medals/v1/large/kill-headshot.png"},"count":69},{"medal":{"name":"Melee Kill","desc":"Hit and Kill an opponent with a melee.","image":"https://assets.halowaypoint.com/games/h4/medals/v1/large/kill-beat-down.png"},"count":5},{"medal":{"name":"Kill","desc":"Generic Kill.","image":"https://assets.halowaypoint.com/games/h4/medals/v1/large/kill-kill.png"},"count":2}]}]}' %>
											<br />
											<strong>DOPE</strong>
										</div>
										<div class="player-csr" style="background-image: url(https://assets.halowaypoint.com/games/h4/csr/v1/small/50.png);"></div>
										<div class="clearfix"></div>
									</td>
									<td>420</td>
									<td>15</td>
									<td>7</td>
									<td>1.55</td>
									<td>6</td>
									<td>1</td>
								</tr>
							<% end %>
						</tbody>
					</table>

					<div id="myTabContent" class="tab-content">
						<div class="tab-pane fade active in" id="overview">
							<h2>Timelines</h2>
							<hr />
							<ul class="nav nav-tabs" style="margin-bottom: 15px;">
								<li class="active">
									<a id="tab-overview" href="#graph-kill" data-toggle="tab">Kills</a>
								</li>
								<li>
									<a id="tab-carnage" href="#graph-medal" data-toggle="tab">Medals</a>
								</li>
							</ul>
							<div id="graph-tab-content" class="tab-content">
								<div class="tab-pane fade active in" id="graph-kill">
									<div class="graph-container">
										<div id="graph-carnage" style="height: 250px; width: 700px;"></div>
									</div>
								</div>
								<div class="tab-pane fade in" id="graph-medal">
									<div class="graph-container">
										<div id="graph-medals" style="height: 250px; width: 700px;"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane fade in" id="carnage">
							<span class="click-helper">* Click a players name to get their carnage report.</span>
							<hr />

							<h2 class="owner"></h2>
							<table class="table">
								<thead>
									<tr>
										<th>Weapon</th>
										<th>Kills</th>
										<th>Headshots</th>
										<th>Deaths</th>
										<th>Penalties</th>
										<th>Spread</th>
									</tr>
								</thead>
								<tbody>
									
								</tbody>
							</table>
						</div>
						<div class="tab-pane fade in" id="medals">
							<span class="click-helper">* Click a players name to get their medal report.</span>
							<hr />

							<h2 class="owner"></h2>
							<div class="row">
								<div class="col-md-12">
									<ul class="nav nav-tabs" style="margin-bottom: 15px;"></ul>
									<div class="tab-content"></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="details visible-xs">
					hi mobile guys
				</div>
			</div>
		</div>
	</div>
</div>
