<% content_for :halo4, true %>
<% content_for :title, 'Halo 4 - iBotPeaches v5 - Capture The Flag on Valhalla' %>	
<% content_for :has_footer, true %>
<% content_for :halo4_active, 'game_history' %>
<% content_for :halo4_game_history_active, @css_class %>
<% content_for :scripts do %>
<link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>
<script>
	function generateGraphHoverView(index, options, content, unit) {
		var row = options.data[index];
		var ykeys = options.ykeys;
		var labels = options.labels;
		
		var output = '<div class="graph-hover-legend"><span class="time">' + index + '</span><br /><div class="key">';
		for(var i = 0; i < ykeys.length; i++) {
			var label = labels[i];
			var ykey = ykeys[i];
			var colour = options.lineColors[i];

			output += '<span class="row" style="color: ' + colour + ';">' + label + ': ' + row[ykey] + ' ' + unit + '</span><br />';
		}
		output += '</div></div>'
		return output;
	}

	$('.player-details-expander').click(function(e) {
		e.preventDefault();

		var identifier = $(this).attr('data-ref');
		var entry = $('#' + identifier);
		var expander = $('#' + identifier + ' > div > .expander-indicator > div > .player-details-expander');
		var detailsView = $('#' + identifier + ' > .player-data');

		if (detailsView.hasClass('collapsed')) {
			detailsView.removeClass('collapsed');
			detailsView.addClass('expanded');

			entry.removeClass('collapsed');
			entry.addClass('expanded');

			detailsView.show(400, function() { });

			expander.removeClass('glyphicon-chevron-down');
			expander.addClass('glyphicon-chevron-up');
		} else {
			detailsView.removeClass('expanded');
			detailsView.addClass('collapsed');
			
			entry.removeClass('expanded');
			entry.addClass('collapsed');

			detailsView.hide(400, function() { });
			
			expander.removeClass('glyphicon-chevron-up');
			expander.addClass('glyphicon-chevron-down');
		}
	});
</script>
<% end %>
<% content_for :template, 'halo4 halo4_game_history' %>

<%= render partial: 'halo4/partials/header' %>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<%= render partial: 'halo4/partials/sidebar' %>
		</div>

		<div class="col-md-9">
			<div class="bs-branch-section game-details">
				<div class="page-header row">
					<div class="col-md-12">
						<h1>Capture the Flag on Valhalla</h1>
					</div>
				</div>

				<div class="cover" style="background-image: url(https://assets.halowaypoint.com/games/h4/maps/v1/large/ragnarok.png)">
					<div class="mask">
						<div class="inner">
							<div class="title">
								<h2>Capture the Flag</h2>
								<p>
									11/07/2013 | <%= duration_to_friendly(@duration) %>
								</p>
							</div>

							<div class="game-icon" style="background-image: url(https://assets.halowaypoint.com/games/h4/game-base-variants/v1/large/ctf.png)"></div>

							<div class="map">
								on
								<br />
								<span class="focus">Valhalla</span>
							</div>

							<div class="seperator"></div>

							<div class="victor">
								<%= link_to 'Gerrit', '#' %>
								led the game with a personal score of 8, and a K/D of 1.67
							</div>
						</div>
					</div>
					<div class="victor-player-model hidden-xs" style="background-image: url(https://spartans.svc.halowaypoint.com/players/Swainooooo/h4/spartans/fullbody?target=medium)"></div>
				</div>
				<div class="social-shit">
					<ul>
						<li>
							<a href="<%= generate_twitter_share_url('Capture The Flag on Valhalla') %>" target="_blank" class="btn btn-default" style="color: #4099FF;">
								<span class="glyphicon glyphicon-retweet" style="padding-right: 8px;"></span>
								Tweet
							</a>
						</li>

						<li>
							<a href="<%= generate_facebook_share_url() %>" target="_blank" class="btn btn-default" style="color: #3B5998;">
								<span class="glyphicon glyphicon-thumbs-up" style="padding-right: 8px;"></span>
								Like
							</a>
						</li>

						<% if current_user %>
							<li>
								<%= link_to raw('<span class="glyphicon glyphicon-star" style="padding-right: 8px;"></span>Favourite'), '#', { class: 'btn btn-default' } %>
							</li>
						<% end %>
					</ul>
				</div>

				<hr style="margin: 10px 0 30px 0;" />

				<div class="details">
					<h2>Players</h2>
					<hr />
					<div id="player-listing">
						<div class="tab-pane fade active in" id="overview">
							<%
								team_data = [
									{
										name: 'Red Team',
										colour: '#D96551'
									},
									{
										name: 'Blue Team',
										colour: '#6384B0'
									}
								]
							%>
							<% team_data.each do |team| %>
								<div class="team red-team col-md-12" style="border-color: <%= team[:colour] %>;">
									<div class="col-md-12 header">
										<div class="row">
											<div class="col-md-5 team-indicator"><%= team[:name] %></div>
											<div class="col-md-1 score-indicator check-dat-paddin hidden-xs hidden-sm">Score</div>
											<div class="col-md-1 kills-indicator check-dat-paddin hidden-xs hidden-sm">Kills</div>
											<div class="col-md-1 deaths-indicator check-dat-paddin hidden-xs hidden-sm">Deaths</div>
											<div class="col-md-2 kd-indicator check-dat-paddin hidden-xs hidden-sm">K/D Ratio</div>
											<div class="col-md-1 assists-indicator check-dat-paddin hidden-xs hidden-sm">Assists</div>
											<div class="col-md-1 csr-indicator check-dat-paddin hidden-xs hidden-sm">CSR</div>
										</div>
									</div>
									<div class="team-players">
										<% 5.times do |i| %>
											<% identifier = rand(100000..999999) %>
											<div class="col-md-12" id="<%= identifier %>" style="border-color: <%= team[:colour] %>;">
												<div class="desktop-view hidden-xs hidden-sm row">
													<div class="col-md-1 expander-indicator">
														<div class="expander-positioner">
															<%= link_to('', '#', class: 'player-details-expander btn btn-default btn-large glyphicon glyphicon-chevron-down', 'data-ref' => identifier) %>
														</div>
													</div>
													<div class="col-md-1 visual-flair" style="background-color: <%= team[:colour] %>; background-image: url(https://emblems.svc.halowaypoint.com/h4/emblems/brick_cyan_stuck-on-steel_circle?size=48);"></div>
													<div class="col-md-3 alphabetical-flair">
														<%= link_to('Xerax', halo4_servicerecord_path(gamertag: 'xerax')) %>
														<br />
														<strong>DOPE</strong>
													</div>
													<div class="col-md-1 score-indicator check-dat-paddin">420</div>
													<div class="col-md-1 kills-indicator check-dat-paddin">15</div>
													<div class="col-md-1 deaths-indicator check-dat-paddin">7</div>
													<div class="col-md-2 kd-indicator check-dat-paddin">1.55</div>
													<div class="col-md-1 assists-indicator check-dat-paddin">6</div>
													<div class="col-md-1 csr-indicator check-dat-paddin" style="background-image: url(https://assets.halowaypoint.com/games/h4/csr/v1/small/50.png);"></div>
												</div>
												<div class="mobile-view visible-xs visible-sm row">
													<div class="expander-indicator">
														<div class="player-details-expander" data-ref="<%= identifier %>">
															<div class="player-indicator">
																Xerax
																<br />
																<strong>DOPE</strong>
															</div>
														</div>
													</div>
												</div>
												<div class="player-data collapsed" style="display: none;">
													<ul class="nav nav-tabs" style="margin-bottom: 15px;">
														<li class="active">
															<a id="tab-summary" href="#<%= identifier %>-summary" data-toggle="tab">Summary</a>
														</li>
														<li>
															<a id="tab-weapons" href="#<%= identifier %>-weapons" data-toggle="tab">Weapons</a>
														</li>
														<li>
															<a id="tab-medals" href="#<%= identifier %>-medals" data-toggle="tab">Medals</a>
														</li>
													</ul>

													<div class="player-stats tab-content">
														<div class="tab-pane fade active in summary" id="<%= identifier %>-summary">
															<div class="row">
																<div class="col-md-5 hidden-sm player-model" style="background-image: url(https://spartans.svc.halowaypoint.com/players/PhoenixBanTrain/h4/spartans/fullbody?target=large)"></div>
																<div class="col-md-7">
																	<h2>
																		Score
																	</h2>
																	<ul class="list-group">
																		<li class="list-group-item">
																			<span class="badge">
																				<%= link_to('Doofette', halo4_servicerecord_path(gamertag: 'Doofette')) %>
																				(12)
																			</span>
																			Most Killed
																		</li>
																		<li class="list-group-item">
																			<span class="badge">
																				<%= link_to('Swainooooo', halo4_servicerecord_path(gamertag: 'Swainooooo')) %>
																				(4)
																			</span>
																			Most Killed By
																		</li>
																		<li class="list-group-item">
																			<span class="badge">35.19 Meters</span>
																			Average Kill Distance
																		</li>
																		<li class="list-group-item">
																			<span class="badge">50.01 Meters</span>
																			Average Death Distance
																		</li>
																		<li class="list-group-item">
																			<span class="badge">21</span>
																			Kills <!-- Featured Stat Name -->
																		</li>
																	</ul>

																	<h2>
																		Medals
																	</h2>
																	<ul class="list-group">
																		<li class="list-group-item">
																			<span class="badge">52</span>
																			Medals Earned
																		</li>
																		<li class="list-group-item">
																			<span class="badge">21</span>
																			Kill Medals Earned
																		</li>
																		<li class="list-group-item">
																			<span class="badge">11</span>
																			Bonus Medals Earned
																		</li>
																		<li class="list-group-item">
																			<span class="badge">11</span>
																			Assist Medals Earned
																		</li>
																		<li class="list-group-item">
																			<span class="badge">9</span>
																			Spree Medals Earned
																		</li>
																		<!-- <li class="list-group-item">
																			<span class="badge">0</span>
																			Mode Medals Earned
																		</li> Hide this is 0 -->
																	</ul>

																	<h2>
																		Player
																	</h2>
																	<ul class="list-group">
																		<li class="list-group-item">
																			<span class="badge">14</span>
																			CSR
																		</li>
																		<li class="list-group-item">
																			<span class="badge">SR 140</span>
																			Rank
																		</li>
																	</ul>
																</div>
															</div>
														</div>
														<div class="tab-pane fade" id="<%= identifier %>-weapons">
															<% weapon_graph_identifier = 'player-weapons-' + rand(1000..9999).to_s %>
															<div class="graph-container hidden-xs">
																<div id="<%= weapon_graph_identifier %>" style="height: 250px; width: 700px;"></div>
															</div>

															<h2>All Medals</h2>
															<hr />
															<table class="table weapons">
																<thead>
																	<tr>
																		<th>Weapon</th>
																		<th>Kills</th>
																		<th>Headshots</th>
																		<th>Deaths</th>
																		<th>Penalties</th>
																		<th>Spread</th>
																	</tr>
																</thead>
																<tbody>
																	<% 5.times do |i| %>
																		<tr>
																			<td>
																				<img data-toggle="tooltip" title="first tooltip" src="https://assets.halowaypoint.com/games/h4/damage-types/v1/medium/gravity-hammer.png" />
																			</td>
																			<td><%= rand(1..30) %></td>
																			<td><%= rand(0..4) %></td>
																			<td><%= rand(0..15) %></td>
																			<td><%= rand(0..2) %></td>
																			<td><%= rand(0..30) %></td>
																		</tr>
																	<% end %>
																</tbody>
															</table>

															<% content_for :scripts do %>
																<script>
																	<%
																		carnage = [ ]
																		kills = 0
																		deaths = 0
																		25.times do |i|
																			tmp = rand(0..2)
																			if tmp == 1
																				tmp == rand(0..3)
																				if tmp == 0
																					kills += 1
																				elsif tmp == 1
																					kills += 2
																				end
																			end

																			tmp = rand(0..2)
																			if tmp == 1
																				tmp == rand(0..3)
																				if tmp == 0
																					deaths += 1
																				elsif tmp == 1
																					deaths += 2
																				end
																			end

																			carnage << { kills: kills, deaths: deaths }
																		end
																	%>
																	Morris.Area({
																		element: '<%= weapon_graph_identifier %>',
																		data: [
																			<% 
																			index = 0
																			carnage.each do |carnage_entry|
																			%>
																				<%= raw("{ y: '#{ index }', a: #{ carnage_entry[:kills] }, b: #{ carnage_entry[:deaths] } },") %>
																			<% 
																				index += 1
																			end
																			%>
																		],
																		lineColors: [
																			'#51D951',
																			'#D96551'
																		],
																		xkey: 'y',
																		xLabels: 'decade',
																		ykeys: ['a', 'b'],
																		labels: ['Kills', 'Deaths'],
																		behaveLikeLine: true,
																		hideHover: true,
																		hoverCallback: function (index, options, content) {
																			return generateGraphHoverView(index, options, content, 'Kills');
																		}
																	});
																</script>
															<% end %>

															Graph of Kills/Deaths
															Table of weapons used
														</div>
														<div class="tab-pane fade medals" id="<%= identifier %>-medals">
															<% medal_graph_identifier = 'player-medals-' + rand(1000..9999).to_s %>
															<div class="graph-container hidden-xs">
																<div id="<%= medal_graph_identifier %>" style="height: 250px; width: 700px;"></div>
															</div>

															<h2>Top Medals</h2>
															<hr />
															<div class="row" id="top-medals">
																<div class="col-md-1 col-md-offset-3">
																	<div class="medal" style="background-image: url('https://assets.halowaypoint.com/games/h4/medals/v1/large/bonus-first-strike.png')">
																	</div>
																	<div class="count">
																		<%= rand(2..12) %>
																	</div>
																	<div class="earned">Earned</div>
																</div>
																<div class="col-md-1">
																	<div class="medal" style="background-image: url('https://assets.halowaypoint.com/games/h4/medals/v1/large/bonus-first-strike.png')">
																	</div>
																	<div class="count">
																		<%= rand(2..12) %>
																	</div>
																	<div class="earned">Earned</div>
																</div>
																<div class="col-md-1">
																	<div class="medal" style="background-image: url('https://assets.halowaypoint.com/games/h4/medals/v1/large/bonus-first-strike.png')">
																	</div>
																	<div class="count">
																		<%= rand(2..12) %>
																	</div>
																	<div class="earned">Earned</div>
																</div>
																<div class="col-md-1">
																	<div class="medal" style="background-image: url('https://assets.halowaypoint.com/games/h4/medals/v1/large/bonus-first-strike.png')">
																	</div>
																	<div class="count">
																		<%= rand(2..12) %>
																	</div>
																	<div class="earned">Earned</div>
																</div>
															</div>


															<h2>All Medals</h2>
															<hr />
															<ul class="nav nav-tabs">
																<li class="active">
																	<%= link_to('Kill', "#medal-tier-kill-#{identifier}", 'data-toggle' => 'tab') %>
																</li>
																<li>
																	<%= link_to('Bonus / Style', "#medal-tier-style-#{identifier}", 'data-toggle' => 'tab') %>
																</li>
																<li>
																	<%= link_to('Assist/Support', "#medal-tier-support-#{identifier}", 'data-toggle' => 'tab') %>
																</li>
																<li>
																	<%= link_to('Spree', "#medal-tier-spree-#{identifier}", 'data-toggle' => 'tab') %>
																</li>
																<li>
																	<%= link_to('Mode Specific', "#medal-tier-specific-#{identifier}", 'data-toggle' => 'tab') %>
																</li>
															</ul>

															<div id='player-medals' class="tab-content">
																<div class="tab-pane fade active in" id="medal-tier-kill-<%= identifier %>">
																	<% 3.times do |i| %>
																		<div class="col-md-12 medal-entry row">
																			<div class="medal" style="background-image: url(https://assets.halowaypoint.com/games/h4/medals/v1/large/kill-kill.png)"></div>
																			<div class="description">
																				<span class="name">Kill</span>
																				<br />
																				Generic Kill.
																			</div>
																			<div class="count">
																				<span class="integer"><%= rand(0..15) %></span>
																				<br />
																				<span class="in-dick-ator">earned</span> 
																			</div>
																		</div>
																		<hr />
																	<% end %>
																</div>
																<div class="tab-pane fade" id="medal-tier-style-<%= identifier %>">
																	<% 3.times do |i| %>
																		<div class="col-md-12 medal-entry row">
																			<div class="medal" style="background-image: url(https://assets.halowaypoint.com/games/h4/medals/v1/large/kill-kill.png)"></div>
																			<div class="description">
																				<span class="name">Kill</span>
																				<br />
																				Generic Kill.
																			</div>
																			<div class="count">
																				<span class="integer"><%= rand(0..15) %></span>
																				<br />
																				<span class="in-dick-ator">earned</span> 
																			</div>
																		</div>
																		<hr />
																	<% end %>
																</div>
																<div class="tab-pane fade" id="medal-tier-support-<%= identifier %>">
																	<% 3.times do |i| %>
																		<div class="col-md-12 medal-entry row">
																			<div class="medal" style="background-image: url(https://assets.halowaypoint.com/games/h4/medals/v1/large/kill-kill.png)"></div>
																			<div class="description">
																				<span class="name">Kill</span>
																				<br />
																				Generic Kill.
																			</div>
																			<div class="count">
																				<span class="integer"><%= rand(0..15) %></span>
																				<br />
																				<span class="in-dick-ator">earned</span> 
																			</div>
																		</div>
																		<hr />
																	<% end %>
																</div>
																<div class="tab-pane fade" id="medal-tier-spree-<%= identifier %>">
																	<% 3.times do |i| %>
																		<div class="col-md-12 medal-entry row">
																			<div class="medal" style="background-image: url(https://assets.halowaypoint.com/games/h4/medals/v1/large/kill-kill.png)"></div>
																			<div class="description">
																				<span class="name">Kill</span>
																				<br />
																				Generic Kill.
																			</div>
																			<div class="count">
																				<span class="integer"><%= rand(0..15) %></span>
																				<br />
																				<span class="in-dick-ator">earned</span> 
																			</div>
																		</div>
																		<hr />
																	<% end %>
																</div>
																<div class="tab-pane fade" id="medal-tier-specific-<%= identifier %>">
																	<% 3.times do |i| %>
																		<div class="col-md-12 medal-entry row">
																			<div class="medal" style="background-image: url(https://assets.halowaypoint.com/games/h4/medals/v1/large/kill-kill.png)"></div>
																			<div class="description">
																				<span class="name">Kill</span>
																				<br />
																				Generic Kill.
																			</div>
																			<div class="count">
																				<span class="integer"><%= rand(0..15) %></span>
																				<br />
																				<span class="in-dick-ator">earned</span> 
																			</div>
																		</div>
																		<hr />
																	<% end %>
																</div>
															</div>

															<% content_for :scripts do %>
																<script>
																	<%
																		medals = [ ]
																		team_a = 0
																		25.times do |i|
																			tmp = rand(0..2)
																			if tmp == 1
																				tmp == rand(0..3)
																				if tmp == 0
																					team_a += 1
																				elsif tmp == 1
																					team_a += 2
																				end
																			end

																			medals << team_a
																		end
																	%>
																	Morris.Area({
																		element: '<%= medal_graph_identifier %>',
																		data: [
																			<% 
																			index = 0
																			medals.each do |medals_entry|
																			%>
																				<%= raw("{ y: '#{ index }', a: #{ medals_entry } },") %>
																			<% 
																				index += 1
																			end
																			%>
																		],
																		lineColors: [ '<%= team[:colour] %>' ],
																		xkey: 'y',
																		xLabels: 'decade',
																		ykeys: [ 'a' ],
																		labels: [ 'Xerax' ],
																		behaveLikeLine: true,
																		hideHover: true,
																		hoverCallback: function (index, options, content) {
																			return generateGraphHoverView(index, options, content, 'Medals');
																		}
																	});
																</script>
															<% end %>
														</div>
													</div>
												</div>
											</div>
											<hr />
										<% end %>
									</div>
								</div>
							<% end %>
						</div>
						<div class="tab-pane fade in" id="graph">
						</div>
					</div>
				</div>

				<div class="details hidden-xs">
					<div class="tab-pane fade active in" id="overview">
						<h2>Timelines</h2>
						<hr />
						<ul class="nav nav-tabs" style="margin-bottom: 15px;">
							<li class="active">
								<a id="tab-overview" href="#graph-kill" data-toggle="tab">Kills</a>
							</li>
							<li>
								<a id="tab-carnage" href="#graph-medal" data-toggle="tab">Medals</a>
							</li>
						</ul>
						<div id="graph-tab-content" class="tab-content">
							<div class="tab-pane fade active in" id="graph-kill">
								<div class="graph-container">
									<div id="graph-carnage" style="height: 250px; width: 700px;"></div>
								</div>
							</div>
							<div class="tab-pane fade in" id="graph-medal">
								<div class="graph-container">
									<div id="graph-medals" style="height: 250px; width: 700px;"></div>
								</div>
							</div>

							<% content_for :scripts do %>
								<script>
									// Draw Graphs
									<%
										carnage = [ ]
										team_a = 0
										team_b = 0
										25.times do |i|
											tmp = rand(0..2)
											if tmp == 1
												tmp == rand(0..3)
												if tmp == 0
													team_a += 1
												elsif tmp == 1
													team_a += 2
												end
											end

											tmp = rand(0..2)
											if tmp == 1
												tmp == rand(0..3)
												if tmp == 0
													team_b += 1
												elsif tmp == 1
													team_b += 2
												end
											end

											carnage << { team_a: team_a, team_b: team_b }
										end
									%>
									Morris.Area({
										element: 'graph-carnage',
										data: [
											<% 
											index = 0
											carnage.each do |carnage_entry|
											%>
												<%= raw("{ y: '#{ index }', a: #{ carnage_entry[:team_a] }, b: #{ carnage_entry[:team_b] } },") %>
											<% 
												index += 1
											end
											%>
										],
										lineColors: [
											'#D96551',
											'#6384B0',
										],
										xkey: 'y',
										xLabels: 'decade',
										ykeys: ['a', 'b'],
										labels: ['Red Team', 'Blue Team'],
										behaveLikeLine: true,
										hideHover: true,
										hoverCallback: function (index, options, content) {
											return generateGraphHoverView(index, options, content, 'Kills');
										}
									});
									<%
										medals = [ ]
										team_a = 0
										team_b = 0
										25.times do |i|
											tmp = rand(0..2)
											if tmp == 1
												tmp == rand(0..3)
												if tmp == 0
													team_a += 1
												elsif tmp == 1
													team_a += 2
												end
											end

											tmp = rand(0..2)
											if tmp == 1
												tmp == rand(0..3)
												if tmp == 0
													team_b += 1
												elsif tmp == 1
													team_b += 2
												end
											end

											medals << { team_a: team_a, team_b: team_b }
										end
									%>
									Morris.Area({
										element: 'graph-medals',
										data: [
											<% 
											index = 0
											medals.each do |medals_entry|
											%>
												<%= raw("{ y: '#{ index }', a: #{ medals_entry[:team_a] }, b: #{ medals_entry[:team_b] } },") %>
											<% 
												index += 1
											end
											%>
										],
										lineColors: [
											'#D96551',
											'#6384B0',
										],
										xkey: 'y',
										xLabels: 'decade',
										ykeys: ['a', 'b'],
										labels: ['Red Team', 'Blue Team'],

										behaveLikeLine: true,
										hideHover: true,
										hoverCallback: function (index, options, content) {
											return generateGraphHoverView(index, options, content, 'Medals');
										}
									});
								</script>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
