<% content_for :halo4, true %>
<% content_for :title, 'Halo 4 - iBotPeaches v5 - Big Team Slayer on Valhalla' %>	
<% content_for :has_footer, true %>
<% content_for :halo4_active, 'game_history' %>
<% content_for :halo4_game_history_active, @css_class %>
<% content_for :scripts do %>
<script>

</script>
<% end %>
<% content_for :template, 'halo4 halo4_game_history' %>

<%= render partial: 'halo4/partials/header' %>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<%= render partial: 'halo4/partials/sidebar' %>
		</div>

		<div class="col-md-9">
			<div class="bs-branch-section game-details">
				<div class="page-header row">
					<div class="col-md-10">
						<h1>Capture the Flag on Valhalla</h1>
					</div>
					<div class="col-md-2 focus-col">
						<%= link_to raw('<span class="glyphicon glyphicon-star" style="padding-right: 8px;"></span>Favourite'), '#', { class: 'btn btn-default' } %>
					</div>
				</div>

				<div class="cover" style="background-image: url(https://assets.halowaypoint.com/games/h4/maps/v1/large/ragnarok.png)">
					<div class="mask">
						<div class="inner">
							<div class="title">
								<h2>Capture the Flag</h2>
								<p>
									11/07/2013 | <%= duration_to_friendly(@duration) %>
								</p>
							</div>

							<div class="game-icon" style="background-image: url(https://assets.halowaypoint.com/games/h4/game-base-variants/v1/large/ctf.png)"></div>

							<div class="map">
								on
								<br />
								<span class="focus">Valhalla</span>
							</div>

							<div class="seperator"></div>

							<div class="victor">
								<%= link_to 'Gerrit', '#' %>
								led the game with a personal score of 8, and a K/D of 1.67
							</div>
						</div>
					</div>
					<div class="victor-player-model hidden-xs" style="background-image: url(https://spartans.svc.halowaypoint.com/players/Swainooooo/h4/spartans/fullbody?target=medium)"></div>
				</div>

				<div class="">

				</div>
			</div>
		</div>
	</div>
</div>
