<% content_for :halo4, true %>
<% content_for :title, "Halo 4 - #{gamertag_validation(@service_record['Gamertag'])} - #{render partial: "halo4/game_history/partials/game/title/#{@partial_type}"}" %>	
<% content_for :has_footer, true %>
<% content_for :halo4_active, 'game_history' %>
<% content_for :halo4_game_history_active, @css_class %>
<% content_for :scripts do %>
<link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="http://cdn.oesmith.co.uk/morris-0.4.3.min.js"></script>
<script>
	function generateGraphHoverView(index, options, content, unit) {
		var row = options.data[index];
		var ykeys = options.ykeys;
		var labels = options.labels;
		
		var output = '<div class="graph-hover-legend"><span class="time">' + index + '</span><br /><div class="key">';
		for(var i = 0; i < ykeys.length; i++) {
			var label = labels[i];
			var ykey = ykeys[i];
			var colour = options.lineColors[i];

			output += '<span class="row" style="color: ' + colour + ';">' + label + ': ' + row[ykey] + ' ' + unit + '</span><br />';
		}
		output += '</div></div>'
		return output;
	}

	$('.player-details-expander').click(function(e) {
		e.preventDefault();

		var identifier = $(this).attr('data-ref');
		var entry = $('#' + identifier);
		var expander = $('#' + identifier + ' > div > .expander-indicator > div > .player-details-expander');
		var detailsView = $('#' + identifier + ' > .player-data');

		if (detailsView.hasClass('collapsed')) {
			detailsView.removeClass('collapsed');
			detailsView.addClass('expanded');

			entry.removeClass('collapsed');
			entry.addClass('expanded');

			detailsView.show(400, function() { });

			expander.removeClass('glyphicon-chevron-down');
			expander.addClass('glyphicon-chevron-up');
		} else {
			detailsView.removeClass('expanded');
			detailsView.addClass('collapsed');
			
			entry.removeClass('expanded');
			entry.addClass('collapsed');

			detailsView.hide(400, function() { });
			
			expander.removeClass('glyphicon-chevron-up');
			expander.addClass('glyphicon-chevron-down');
		}
	});
</script>
<% end %>
<% content_for :template, 'halo4 halo4_game_history' %>

<%= render partial: 'halo4/partials/header' %>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<%= render partial: 'halo4/partials/sidebar' %>
		</div>

		<div class="col-md-9">
			<div class="bs-branch-section game-details">
				<%= render partial: 'partials/flash', locals: { flash: flash } %>
				<div class="page-header row">
					<div class="col-md-12">
						<h1>
							<%= render partial: "halo4/game_history/partials/game/title/#{@partial_type}" %>
						</h1>
					</div>
				</div>

				<%= render partial: "halo4/game_history/partials/game/cover/#{@partial_type}" %>

				<div class="social-shit">
					<ul>
						<li>
							<a href="<%= generate_twitter_share_url(get_page_title(@game)) %>" target="_blank" class="btn btn-default" style="color: #4099FF;">
								<span class="glyphicon glyphicon-retweet" style="padding-right: 8px;"></span>
								Tweet
							</a>
						</li>

						<li>
							<a href="<%= generate_facebook_share_url() %>" target="_blank" class="btn btn-default" style="color: #3B5998;">
								<span class="glyphicon glyphicon-thumbs-up" style="padding-right: 8px;"></span>
								Like
							</a>
						</li>

						<% if (current_user()) %>
							<li>
								<%
									unique_id = 'favourite-ajax-' + Digest::SHA1.hexdigest(rand(100000..999999).to_s)[0..8]
									has_favourited = false
									h4_favourite = H4Favourite.find_by_game_id(@game['Id'])
									if (h4_favourite != nil && h4_favourite.favourite != nil && h4_favourite.favourite.user_id == current_user().id)
										has_favourited = true
									end
								%>

								<% if (has_favourited) %>
									<%= form_for(:favourite, url: user_halo4_favourite_path(), remote: true, method: :delete, html: { id: unique_id, style: 'display: inline;' }) do |f| %>
										<%= f.hidden_field(:game_id, value: @game['Id']) %>
										<button class="btn btn-default" data-loading-text="Un-Favoriting...">
											<span class="glyphicon glyphicon-star-empty"></span> Un-Favourite
										</button>
									<% end %>
								<% else %>
									<%= form_for(:favourite, url: user_halo4_favourite_path(), remote: true, method: :post, html: { id: unique_id, style: 'display: inline;' }) do |f| %>
										<%= f.hidden_field(:game_id, value: @game['Id']) %>
										<button class="btn btn-default" data-loading-text="Favoriting...">
											<span class="glyphicon glyphicon-star"></span> Favourite
										</button>
									<% end %>
								<% end %>

								<% content_for :scripts do %>
									<script>
										$(document).ready(function() {
											return $("#<%= unique_id %>").on("ajax:before", function () {
												$("#<%= unique_id %> > button").button('loading');
											})
											.on("ajax:success", function(e, data, status, xhr) {
												var jsonData = $.parseJSON(xhr.responseText);
												console.log(xhr.responseText);
												if (jsonData.success) {
													if (jsonData.state != null) {
														if (jsonData.state == "favourite") {
															$("#<%= unique_id %>").attr('method', 'post');
															$("#<%= unique_id %> > button").button('reset');
															$("#<%= unique_id %> > button").attr('data-loading-text', 'Favoriting...');
															$("#<%= unique_id %> > button").html('<span class="glyphicon glyphicon-star"></span> Favourite');
														} else if (jsonData.state == "unfavourite") {
															$("#<%= unique_id %>").attr('method', 'delete');
															$("#<%= unique_id %> > button").button('reset');
															$("#<%= unique_id %> > button").attr('data-loading-text', 'Un-Favoriting...');
															$("#<%= unique_id %> > button").html('<span class="glyphicon glyphicon-star-empty"></span> Un-Favourite');
														} else {
															$("#<%= unique_id %> > button").button('reset');
														}
													}
												} else {
													$("#<%= unique_id %> > button").button('reset');
												}
												$("#<%= unique_id %> > button").blur();
											}).bind("ajax:error", function(e, xhr, status, error) {
												console.log(xhr.responseText);
												$("#<%= unique_id %> > button").blur();
												$("#<%= unique_id %> > button").button('reset');
											});
										});
									</script>
								<% end %>
							</li>
						<% end %>
					</ul>
				</div>

				<hr style="margin: 10px 0 30px 0;" />

				<div class="details">
					<h2>Players</h2>
					<hr />
					<div id="player-listing">
						<div class="tab-pane fade active in" id="overview">
							<% if (@game['Teams'] != nil && @game['Teams'].length > 0) %>
								<% @teams_in_order.each do |team| %>
									<% 
										players = [ ]
										@game['Players'].map{ |p| players << p if (p['TeamId'] == team['Id']) }
									%>
									<%= render partial: 'halo4/game_history/partials/game/players/team', locals: { team: team, players: players } %>
								<% end %>
							<% else %>

							<% end %>
						</div>
						<div class="tab-pane fade in" id="graph">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
