%h3{ :style => 'text-align: center;' }
  #{type_friendly} CSR Overview:

%canvas{ :id => "radar_#{type}", 'data-type' => 'Radar', :width => size, :height => size, :style => "width: #{size}px; height: #{size}px; margin: auto 0;" }

:javascript
  var data = {
  	labels : [ #{csr_graph_labels(type)} ],
  	datasets : [
  		{
  			fillColor : "#D96551",
  			strokeColor : "#C6887E",
  			pointColor : "#d8553e",
  			pointStrokeColor : "#d8553e",
  			data : [#{csr_graph_datapoints(type)}]
  		}
  	]
  }
  var options = {
    scaleOverride : true,
    scaleSteps : 5,
    scaleStepWidth : 10,
    scaleStartValue : 0,
    scaleLineColor: '#333',
    angleLineColor: '#333',
  }
  var ctx = document.getElementById("#{"radar_#{type}"}").getContext("2d");
  new Chart(ctx).Radar(data, options);
