<% content_for :halo4, true %>
<% content_for :title, "Halo 4 - #{@service_record['Gamertag']}'s CSR - #{@current_skill_rank['PlaylistName']}" %>	
<% content_for :has_footer, true %>
<% content_for :halo4_active, 'csr' %>
<% content_for :scripts do %>
<script>

</script>
<% end %>
<% content_for :template, 'halo4 halo4_csr' %>

<%= render partial: 'halo4/partials/header' %>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<%= render partial: 'halo4/partials/sidebar' %>
		</div>

		<div class="col-md-9">
			<div class="bs-branch-section csr-details">
				<div class="page-header">
					<h1><%= @service_record['Gamertag'] %>'s <%= @current_skill_rank['PlaylistName'] %> CSR</h1>
				</div>

				<div class="row">
					<div class="col-md-12 playlist-image" style="background-image: url(<%= get_raw_asset_url(@current_skill_rank['PlaylistImageUrl'], 'large') %>)">
						<div class="csr" style="background-image: url(<%= get_csr_level_url(@current_skill_rank['CurrentSkillRank'], 'medium') %>)"></div>
					</div>

					<div class="col-md-12">
						<hr />
					</div>

					<div class="col-md-12 playlist-data">
						<span class="description"><%= @current_skill_rank['PlaylistDescription'] %></span>

						<div class="meta">
							<span class="party-size">
								Max Party Size:
								<strong><%= @playlist['MaxPartySize'] %></strong>
							</span>
							<br />
							<span class="local-party-size">
								Max Local Party Size:
								<strong><%= @playlist['MaxLocalPlayers'] %></strong>
							</span>
							<br />
							<span class="player-grouping">
								Player Grouping:
								<strong>
									<% if (@playlist['IsFreeForAll']) %>
										<%= "Free for All" %>
									<% else %>
										<%= "Team vs Team" %>
									<% end %>
								</strong>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
