<% content_for :halo4, true %>
<% content_for :title, "Halo 4 - #{gamertag_validation(@service_record['Gamertag'])}'s CSR" %>	
<% content_for :has_footer, true %>
<% content_for :halo4_active, 'csr' %>
<% content_for :scripts do %>
<script>
</script>
<% end %>
<% content_for :template, 'halo4 halo4_csr' %>

<%= render partial: 'halo4/partials/header' %>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<%= render partial: 'halo4/partials/sidebar' %>
		</div>

		<div class="col-md-9">
			<div class="bs-branch-section csr">
				<div class="page-header">
					<h1><%= gamertag_validation(@service_record['Gamertag']) %>'s CSR</h1>
				</div>

				<div class="row">
					<div class="col-md-12">
						<ul class="nav nav-tabs" style="margin-bottom: 15px;">
							<li class="active">
								<a href="#team" data-toggle="tab">Team</a>
							</li>
							<li class="">
								<a href="#individual" data-toggle="tab">Individual</a>
							</li>
							<% if (@unknown_playlists.length > 0) %>
								<li class="">
									<a href="#unk" data-toggle="tab">Unknown</a>
								</li>
							<% end %>
						</ul>
						<div id="myTabContent" class="tab-content">
							<div class="tab-pane fade active in" id="team">
								<%= render partial: 'halo4/competitive_skill_rank/partials/csr_listing', locals: { playlists: @team_playlists } %>
							</div>
							<div class="tab-pane fade" id="individual">
								<%= render partial: 'halo4/competitive_skill_rank/partials/csr_listing', locals: { playlists: @individual_playlists } %>
							</div>
							<% if (@unknown_playlists.length > 0) %>
								<div class="tab-pane fade" id="unk">
									<%= render partial: 'halo4/competitive_skill_rank/partials/csr_listing', locals: { playlists: @unknown_playlists } %>
								</div>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
