<% title '' %>
<% active_home 'active' %>

<div class="container-fluid" style="margin-top: 80px; margin-left: 5%; margin-right: 5%; ">
  <% if flash[:notice] && (flash[:type] == 'success' || flash[:type] == 'error' || flash[:type] == 'warning') %>
    <div class="alert alert-<%= flash[:type] %>">
      <strong>
        <% if flash[:type] == 'success' %>
          Success!
        <% else if flash[:type] == 'success' %>
            Warning? :(
          <% end %>
          Error :/
        <% end %>
      </strong><br>
      <% flash[:notice].split('-').each do |message| %>
        <%= message %><br>
      <% end %>
    </div>
  <% end %>

  <div class="row-fluid">
    <div class="span3">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <!-- recently finished -->
	        <% @challenge_categories.each do |category| %>
		        <% challenges = @friendly_challenge_data[category['Id']] %>
            <li class="nav-header"><%= category['Name'] %> Challenges;</li>
		        <% index = 0 %>
		        <% challenges.each do |challenge| %>
			        <% index += 1 %>
              <li><a href="/halo4/challenges"><%= challenge['Name'] %> - <%= challenge['XpReward'] %>xp</a></li>
		        <% end %>
		        <% if index == 0 %> <li><a href="/halo4/challenges">None</a></li> <% end %>
		      <% end %>
        </ul>
      </div>

      <div class="well sidebar-nav">
	      <span>
		      Current Population: <strong><%= number_with_delimiter(@total_population, :delimiter => ',') %></strong>
	      </span>

        <ul class="nav nav-list" style="margin-top: 10px">
          <!-- recently finished -->
          <% @game_modes.each do |mode| %>
	          <% playlists = @friendly_playlist_data[mode['Id']] %>
            <li class="nav-header"><%= mode['Name'] %> Playlists;</li>
            <% index = 0 %>
            <% playlists.each do |playlist| %>
              <% index += 1 %>
			        <%
		           if !playlist['IsCurrent'] || playlist['PopulationCount'] == 0
		             next
		           end
			        %>
              <li><a href="/halo4/playlists"><%= playlist['Name'] %>: <%= number_with_delimiter(playlist['PopulationCount'], :delimiter => ',') %> players</a></li>
            <% end %>
            <% if index == 0 %> <li><a href="/halo4/playlists">None</a></li> <% end %>
	        <% end %>
        </ul>
      </div>
    </div>
    <div class="span9">
      <div class="hero-unit">
        <h1>sup</h1>
        <p>dem stats</p>
      </div>

	    <div class="row-fluid">
	      <div class="span4">
	        <h3>Development Blog:</h3>
	      </div><!--/span-->
	    </div>
      <div class="row-fluid">
        <div class="span4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!--/span-->
        <div class="span4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!--/span-->
        <div class="span4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!--/span-->
      </div>
    </div>
  </div>
</div>