{{#if hasHeaderMatches }}
	<div class="header" style="background-image: url('{{ h4ResolveAsset headerMatches.games.0.mapImageUrl 'large' }}');">
{{else}}
	<div class="header">
{{/if}}
	<div class="fading-branch-mask">
		<div class="fluid-container">
			<div class="col-md-12 recent-match-index">
				{{#each headerMatches.games }}
					{{#unless @index }}
						<div data-index="{{ @index }}" class="item-container"><div class="item-indicator active"></div></div>
					{{else}}
						<div data-index="{{ @index }}" class="item-container"><div class="item-indicator"></div></div>
					{{/unless}}
				{{/each}}
			</div>

			<div class="col-md-10 player-information">
				<h1>{{ identity.gamertag }}</h1>
				<ul>
					<li>{{ numberWithDelim totals.kills }} Kills</li>
					<li>{{ numberWithDelim totals.deaths }} Deaths</li>
					<li>{{ numberWithDelim totals.gamesStarted }} Games Started</li>
				</ul>
			</div>

			<div class="col-md-offset-0 col-md-4 recent-match-information">
				{{#if hasHeaderMatches }}
					<div class="match-overview col-xs-9 no-p">
						<span class="match-mode">{{ headerMatches.games.0.variantName }}</span>
						on
						<span class="match-map">{{ headerMatches.games.0.mapVariantName }}</span>
					</div>
					<div class="view-match col-md-3 no-p">
						<a class="alt" href="#">View Details</a>
					</div>
					<div class="match-details col-xs-12 no-p">
						<div class="match-statistic personal-score">
							<span class="value">{{ numberWithDelim headerMatches.games.0.personalScore }}</span>
							<div class="key">
								<span class="header-key">Personal Score</span>
								<span class="sub-key">{{ headerMatches.games.0.modeName }}</span>
							</div>
						</div>

						<div class="match-statistic featured-stat">
							<span class="value">{{ numberWithDelim headerMatches.games.0.featuredStatValue }}</span>
							<div class="key">
								<span class="header-key">{{ headerMatches.games.0.featuredStatName }}</span>
								<span class="sub-key">{{ headerMatches.games.0.variantName }}</span>
							</div>
						</div>

						<div class="match-statistic medals">
							<span class="value">{{ numberWithDelim headerMatches.games.0.totalMedals }}</span>
							<div class="key">
								<span class="header-key">Medals</span>
								<span class="sub-key">{{ headerMatches.games.0.modeName }}</span>
							</div>
						</div>
					</div>
				{{/if}}
			</div>

			<div class="col-md-4 col-md-offset-8 player-visual-flairs">
				<div class="emblem-flair" style="background-image: url('{{ h4ResolveAsset serviceRecord.emblemImageUrl 120 }}');"></div>
				<div class="spartan-flair" style="background-image: url('{{ h4ResolveSpartan identity 'fullbody' 'large' }}');"></div>
			</div>
		</div>
	</div>
</div>
