<ul class="nav">
	<li class="nav-header">
		Branch
	</li>
	<li><hr /></li>
	<li class="{{ sidebar 'service-record' }}">
		<a href="/halo-4/{{identity.gamertag}}/">Service Record</a>
		<ul class="nav">
			<li class="{{ sidebar '' }}">
				<a href="/halo-4/{{identity.gamertag}}/service-record/war-games">War Games</a>
			</li>
			<li class="{{ sidebar '' }}">
				<a href="/halo-4/{{identity.gamertag}}/service-record/campaign">Campaign</a>
			</li>
			<li class="{{ sidebar '' }}">
				<a href="/halo-4/{{identity.gamertag}}/service-record/spartan-ops">Spartan Ops</a>
			</li>
			<li class="{{ sidebar '' }}">
				<a href="/halo-4/{{identity.gamertag}}/service-record/custom-games">Custom Games</a>
			</li>
		</ul>
	</li>
	<li class="{{ sidebar 'match-history' }}">
		<a href="/halo-4/{{identity.gamertag}}/matches/war-games">Match History</a>
		<ul class="nav">
			<li class="{{ sidebar '' }}">
				<a href="/halo-4/{{identity.gamertag}}/matches/war-games">War Games</a>
			</li>
			<li class="{{ sidebar '' }}">
				<a href="/halo-4/{{identity.gamertag}}/matches/campaign">Campaign</a>
			</li>
			<li class="{{ sidebar '' }}">
				<a href="/halo-4/{{identity.gamertag}}/matches/spartan-ops">Spartan Ops</a>
			</li>
			<li class="{{ sidebar '' }}">
				<a href="/halo-4/{{identity.gamertag}}/matches/custom-games">Custom Games</a>
			</li>
		</ul>
	</li>
	<li class="{{ sidebar 'specializations' }}">
		<a href="/halo-4/{{identity.gamertag}}/specializations">Specializations</a>
	</li>
	<li class="{{ sidebar 'competitive-skill-ranks' }}">
		<a href="/halo-4/{{identity.gamertag}}/competitive-skill-ranks">Competitive Skill Ranks</a>
	</li>
</ul>

<hr />

<a id="slide-into-waypoint" class="alt" target="_blank" href="https://app.halowaypoint.com/en-US/Halo4/{{identity.gamertag}}/">
	<i class="fa fa-share" aria-hidden="true"></i>
	Go To Waypoint
</a>
