@using Branch.App.Models
@model SearchViewModel
@{
	ViewBag.Title = string.Format("Searching for {0}", Model.Query);
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Template = "search";
}

<div class="bs-header">
	<div class="container">
		<h1>@(Model.Query)</h1>
		<h1><strong>Search results</strong></h1>
	</div>
</div>

<div class="container">

	@Html.Partial("FlashMessage", true)

	<div class="ident-section">
		<div class="row">
			<div class="col-md-4">
				<h2>Halo 4</h2>
			</div>
			<div class="col-md-7"></div>
			<div class="col-md-1 more-entries-button">
				<a href="@Url.RouteUrl("SearchIdentity", new { ident = "Halo4", q = Model.Query, page = 0 })" class="btn btn-primary">
					more &raquo;
				</a>
			</div>
		</div>
		<hr />
		<div class="ident-row">
			@foreach (var identity in Model.Halo4Identities)
			{
				@Html.Partial("Partials/Halo4ServiceRecord", identity)
			}
		</div>
	</div>

	<div class="ident-section">
		<div class="row">
			<div class="col-md-4">
				<h2>Halo: Reach</h2>
			</div>
			<div class="col-md-7"></div>
			<div class="col-md-1 more-entries-button">
				<a href="@Url.RouteUrl("SearchIdentity", new { ident = "Reach", q = Model.Query, page = 0})" class="btn btn-primary">
					more &raquo;
				</a>
			</div>
		</div>
		<hr />
		<div class="ident-row">
			@foreach (var identity in Model.ReachIdentities)
			{
				@Html.Partial("Partials/HaloReachServiceRecord", identity)
			}
		</div>
	</div>
</div>

