@using Branch.App.Areas.Identity.Models
@using Branch.App.Areas.Identity.Models.Enums
@using Branch.App.Helpers.Razor
@using Branch.Models.Sql
@model HomeIdentityViewModel
@{
	ViewBag.Title = String.Format("{0}'s Branch Identity", Model.BranchIdentity.Username);
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Template = "identity identity_home";
	ViewBag.CurrentIdentityPage = CurrentPage.Home;

	var branchIdentity = Model.BranchIdentity;
}

<div class="bs-header identity-header" id="content">
	<div class="container">
		<h1>@branchIdentity.Username</h1>
		@if (!String.IsNullOrWhiteSpace(branchIdentity.Username))
		{
			<h2>@branchIdentity.FullName</h2>
		}
		<p>Member Since @BranchHelpers.MakeDateTimeFriendly(branchIdentity.CreatedAt)</p>
		@*<span>todo: badges</span>*@

		@*
				<div class="actions">
				<% if (!content_for?(:setting_active) && current_user() == storage) %>
				<%= link_to('Edit Profile', settings_profile_path(), class: 'btn btn-outline-inverse btn-lg') %>

				<% if current_user.role_id == Role.find_by_identifier(1).id %>
				<%= link_to('Resend Verification', user_resend_verification_path(), class: 'btn btn-outline-inverse btn-lg') %>
				<% end %>
				<% elsif (current_user() != storage) %>
				<%= render partial: 'user/account/partials/follow_buttons', locals: { followee_user: storage, follower_user: current_user()  } %>
				<% end %>
			</div>
		*@

		@if (branchIdentity.GamerIdentity != null)
		{
			<div class="holy-shit-people hidden-xs">
				@{
					
			var cssIdents = new[] { "a", "b" };
			var index = 0;
			foreach (var gameIdentity in branchIdentity.GamerIdentity.GetGameIdentities())
			{
				var gameIdent = "";
				if (gameIdentity is Halo4Identity)
				{
					gameIdent = "halo4";
				}
				else if (gameIdentity is ReachIdentity)
				{
					gameIdent = "reach";
				}

				<div class="player @cssIdents[index] @gameIdent" style="background-image: url('@gameIdentity.PlayerModelUrl')"></div>

				index++;
			}
			
				}
			</div>
		}
	</div>
</div>

<div class="container">
	@Html.Partial("FlashMessage", false)
</div>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div class="bs-sidebar" data-spy="affix" data-offset-top="350">
				<ul class="nav bs-sidenav">
					<li class="active">
						<a href="#">@branchIdentity.Username</a>
						<ul class="nav">
							<li class="@BranchHelpers.CompareEnum(ViewBag.CurrentIdentityPage, CurrentPage.Home, "active")">
								@Html.ActionLink(branchIdentity.Username, "Index", "Home", new { slug = branchIdentity }, null)
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>

		<div class="col-md-9">
			<div class="bs-branch-section overview">
				<div class="page-header">
					<h1>Overview</h1>
				</div>
			</div>
		</div>
	</div>
</div>