<!DOCTYPE html>
<html>
	<head>
		<title>
			Branch <%= (" - " + yield(:title)) if content_for :title %>
		</title>

		<!-- Stock third Party -->
		<%= stylesheet_link_tag    "bootstrap", :media => "all" %>

		<!-- App Style Sheets -->
		<%= stylesheet_link_tag    "branch-theme", :media => "all" %>
		<%= stylesheet_link_tag    "application", :media => "all" %>

		<meta name="viewport" content="user-scalable=0, initial-scale=1.0">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		
		<%= csrf_meta_tags %>
	</head>
	<body class="<%= yield(:template) if content_for? :template %>">
		<a class="sr-only" href="#content">Skip navigation</a>
		<header class="navbar navbar-inverse navbar-fixed-top bs-branch-nav" role="banner">
			<div class="container">
				<div class="navbar-header">
					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<%= link_to raw('Branch <sup>{εpsilon}</sup>'), root_url, { class: 'navbar-brand' } %>
				</div>
				<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
					<ul class="nav navbar-nav">
						<li class="<%= 'active' if content_for? :home %>">
							<%= link_to 'Home', root_url %>
						</li>
						<li class="dropdown <%= 'active' if content_for? :halo4 %>">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">Halo 4 <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li>
									<%= link_to 'Halo 4', :halo4_home %>
								</li>

								<li class="divider"></li>
								<li class="dropdown-header">Waypoint</li>
								<li>
									<%= link_to 'Playlists', '#' %>
								</li>
								<li>
									<%= link_to 'Challenges', '#' %>
								</li>

								<li class="divider"></li>
								<li class="dropdown-header">Leaf</li>
								<li>
									<a href="http://leafapp.co/h4/leaderboards">Leaderboards</a>
								</li>
							</ul>
						</li>
						<li class="<%= 'active' if content_for? :blog %>">
							<%= link_to 'Blog', blog_home_path %>
						</li>
						<li class="<%= 'active' if content_for? :about %>">
							<%= link_to 'About', '#' %>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<form class="navbar-form">
								<div class="form-group">
									<input type="text" placeholder="Search Gamertag" class="form-control">
								</div>
							</form>
						</li>
						<% if current_user %>
						<li class="dropdown <%= 'active' if content_for? :user %>">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= current_user.username %> <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li>
									<%= link_to('View Profile', user_view_path(current_user.username)) %>
								</li>

								<% if current_user.role.identifier == 3 %>
									<li class="divider"></li>
									<div class="dropdown-header">DOMAIN</div>
									<li>
										<%= link_to('Admin Portal', admin_home_path) %>
									</li>
								<% end %>

								<li class="divider"></li>
								<li class="dropdown-header">SETTINGS</li>
								<li>
									<%= link_to('Edit Profile', settings_profile_path) %>
								</li>
								<li>
									<%= link_to('Edit Sessions', settings_session_path) %>
								</li>

								<li class="divider"></li>
								<li>
									<%= link_to('Sign Out', user_signout_path) %>
								</li>
							</ul>
						</li>
						<% else %>
						<li class="<%= 'active' if content_for? :user %>">
							<%= link_to 'Sign In', :user_signin %>
						</li>
						<% end %>
					</ul>
				</nav>
			</div>
		</header>

		<main>
			<%= yield %>
		</main>

		<% if content_for? :has_footer %>
			<footer class="bs-footer" role="contentinfo">
				<div class="container">
					<div class="row">
						<div class="col-md-10">
							<p>Designed and Developed by <a href="http://twitter.com/alexerax" target="_blank">@alexerax</a>.</p>
							<p>Baked with <a href="http://getbootstrap.com/">Bootstrap</a>. Thanks Guys.</p>
							<p>Code licensed under the <a href="http://www.dbad-license.org/" target="_blank">Don't Be A Dick</a> Public License.</p>
							<ul class="footer-links">
								<li><a href="https://github.com/TheTree/Branch" target="_blank">Github</a></li>
								<li class="muted">·</li>
								<li><a href="http://xboxchaos.com/" target="_blank">Xbox Chaos</a></li>
								<li class="muted">·</li>
								<li><a href="http://halo.reddit.com/" target="_blank">r/halo</a></li>
								<li class="muted">·</li>
								<li><a href="http://halocommand.com" target="_blank">Halo Command</a></li>
								<li class="muted">·</li>
								<li><a href="http://onyx.sx" target="_blank">Onyx</a></li>
								<li class="muted">·</li>
								<li><a href="/blog/" target="_blank">Blog</a></li>
							</ul>
						</div>

						<div class="col-md-2 hidden-xs hidden-sm">
							<%= image_tag("uk-map.png", { width: '60', height: '77' }) %>
							<br>
							<!-- <span class="made-in">Made in the UK</span> - fuck this line, too hipster -->
						</div>
					</div>
				</div>
			</footer>
		<% end %>

		<div class="scripts">
			<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
			<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.map"></script>
			<%= javascript_include_tag "bootstrap" %>
			<%= javascript_include_tag "Chart" %>
			<%= javascript_include_tag "application" %>

			<!-- Social Media Button Scripts -->
			<div id="fb-root"></div>
			<script>
				(function(d, s, id) {
					var js, fjs = d.getElementsByTagName(s)[0];
					if (d.getElementById(id)) return;
					js = d.createElement(s); js.id = id;
					js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=189234734457151";
					fjs.parentNode.insertBefore(js, fjs);
					}(document, 'script', 'facebook-jssdk')
				);
			</script>
			<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

			<!-- Scripts -->
			<%= yield(:scripts) if content_for? :scripts %>
		</div>
	</body>
</html>
